    <div class="modal-header header-dark">
        <h3 class="modal-title" id="modal-title">Edit Pipeline</h3>
        <p>Edit Details, Stages, and Milestones</p>
        
        <!-- close button -->
        <button type="button" class="close" ng-click="$dismiss()">
            <icon class="wb-close-mini"></icon>
        </button>

    </div>
    <div class="modal-body w-padding addGoal" id="modal-body">


      
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Add Pipeline</button>
    </div>