<div class="content">
<div class="inner-content">

	<div class="results-for">
		<h4><b>{{data.resultsCount}}</b> results found for <b>"{{data.searchTerm}}"</b></h4>
	</div>

	
<!-- 	<div class="facets panel panel-default panel-light">
		<div class="panel-heading">
			Filter Results
		</div>
		<div class="panel-body">

			<div class="checkbox-custom checkbox-primary">
            <input type="checkbox" id="filter-createdByMe" checklist-model="data.filterValues" checklist-value="'createdByMe'">
            <label for="filter-createdByMe">Created By Me</label>
        	</div>

        	<div class="checkbox-custom checkbox-primary">
            <input type="checkbox" id="filter-ownedByMe" checklist-model="data.filterValues" checklist-value="'ownedByMe'">
            <label for="filter-ownedByMe">Owned By Me</label>
        	</div>

        	<div class="checkbox-custom checkbox-primary">
            <input type="checkbox" id="filter-sharedWithMe" checklist-model="data.filterValues" checklist-value="'sharedWithMe'">
            <label for="filter-sharedWithMe">Shared with Me</label>
        	</div>

        	<div class="checkbox-custom checkbox-primary">
            <input type="checkbox" id="filter-recentlyCreated" checklist-model="data.filterValues" checklist-value="'recentlyCreated'">
            <label for="filter-recentlyCreated">Recently Created (30 Days)</label>
        	</div>

        	<br>
		</div>
	</div> -->

<!-- 	<div class="recent-searches panel panel-default panel-light" feature-flag="--RECENT-SEARCHES--">
		<div class="panel-heading">
			Recent Searches

			<a href="" class="pull-right">Clear</a>
		</div>
		<div class="panel-body">
			
		

		</div>
	</div> -->

	
	<div class="search-results no-filters" style="margin-bottom:20px;">
		<!-- loading indicator -->
		<div class="loop-loader loop-loader-light loop-loader-xs pre-loader" ng-class="{'hidden': !data.searchLoading}" style="z-index:999">Loading...</div>

		<div class="panel panel-default panel-light" ng-if="!data.searchLoading">
		<div class="panel-body" style="padding:0px;">

			<div class="sidebar-tabs">
				<ul class="nav nav-tabs" role="tablist">

					<li ng-repeat="result in data.searchResults | orderBy: '-highScore'" ng-class="{'active': data.currentType == result.entityType }">
				      <a href ng-click="changeSearchType(result.entityType)">
				      	{{result.entityType}} ({{result.results.length}})
				      </a>
				    </li>

				</ul>
				</div>

			<div class="results">
					<div class="list-group">
					  <span ng-repeat="item in data.scopedResults.results" ng-switch="data.scopedResults.entityType">
					  <!-- contact -->
                      <a href class="list-group-item avatar-item" ng-switch-when="Contact" ng-click="openTo('contact', item.id, $event)">
                        <div class="avatar avatar-32 royal">
                          <span ng-bind="item.firstName | limitTo:1 | uppercase"></span><span ng-bind="item.lastName | limitTo:1 | uppercase"></span>
                          <span ng-if="!item.firstName && !item.lastName">--</span>
                        </div>
                        <h4>
                          <span ng-bind="item.firstName || ''"></span> 
                          <span ng-bind="item.lastName || ''"></span>
                        </h4>
                        <p><span ng-bind="item.title || 'No Title'"></span></p>
                        <p><span ng-bind="item.primaryCompany || 'No Primary Company'"></span></p>
                      </a>

                      <!-- company -->
                      <a href class="list-group-item avatar-item" ng-switch-when="Company" ng-click="openTo('company', item.id, $event)">
                        <div class="avatar avatar-32 royal square">
                          <span ng-bind="(item.name | limitTo:1 | uppercase) || '--'"></span>
                        </div>
                        <h4><span ng-bind="item.name || ''"></span></h4>
                        <p><span ng-bind="item.domain || 'No Domain'"></span></p>
                      </a>

                      <!-- opportunity -->
                       <a href class="list-group-item avatar-item" ng-switch-when="Opportunity" ng-click="openTo('opportunity', item.id, $event)">
                          <div class="smartScore">
                            <span ng-bind="item.smartScore || '--'"></span>
                          </div>
                          <h4><span ng-bind="item.name || ''"></span></h4>
                          <p>
                            <span ng-bind="item.primaryCompany.name || 'No Primary Company'"></span>
                          </p>
                          <p ng-if="item.owners.length">
                            <span ng-repeat="owner in item.owners | limitTo:2">
                              <span ng-bind="owner.firstName"></span> <span ng-bind="owner.lastName"></span>
                            </span>
                          </p>
                          <p ng-if="!item.owner.length">No Owners</p>
                          <span class="forecast-indicator">
                            <p>
                            <span class="label label-subtle">
                            $<span ng-bind="item.value | shortNumber"></span>
                            <span feature-flag="FF_Forecasting">
                            <span class="spacer">&middot;</span>
                            <span ng-bind="item.forecast.value || '--'"></span>
                            </span>
                            </span>
                            </p>
                          </span>
                          <span class="owners">
                            <span ng-bind="(item.estimatedClose | formatDate) || '--'"></span>
                          </span>
                        </a>

                    </span>
				</div>
			</div>
			
			<div class="empty" ng-if="!data.scopedResults.results.length">
				<icon class="wb-search"></icon>
				<h4>No Results for "<b>{{data.searchTerm}}</b>"</h4>
				<p>Please try changing filters or searching again</p>
			</div>

		</div>
	</div>


</div>


</div>
