
            <div class="sidepanel">

               
                <!-- sidebar overlay -->
                <div class="sidebar-overlay" ng-class="{'hidden': data.activated }">
                    <div class="loop-loader loop-loader-xs fadeInOut centered">Loading...</div>
                </div>


                <div class="sidepanel-header">
                    <a class="btn btn-link btn-left" href ng-if="!data.sidebarHistory.length" ng-click="$root.sidePanelOpen = !$root.sidePanelOpen">
                        <img src="../assets/img/icons/states/close.svg" alt="Close">
                    </a>
                    <a class="btn btn-link btn-left" href ng-if="data.sidebarHistory.length" ng-click="goBack()">
                        <img src="../assets/img/icons/states/cheveron-left.svg" alt="Go Back">
                        Back
                    </a>
                    <!-- <span class="text-left">Opportunity</span> -->
                    <a class="btn btn-link edit-button" ui-sref="app.task-edit({id: data.thisRecord.id})">
                        <icon class="fa fa-pencil"></icon> Edit
                    </a>


                     <div class="btn-group btn-action" uib-dropdown is-open="status.isopen" dropdown-append-to-body="true">
                      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        Action<icon class="wb-triangle-down"></icon>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right action-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                      
                        <li class="text-divider">
                            <span class="text">Visibility and ownership...</span>
                            <span class="line"></span>
                        </li>
                        <li role="menuitem"><a href ng-click="addOwner()">Add Owner</a></li>
                        <li role="menuitem"><a href ng-click="shareWith()">Share With</a></li>
                        <li class="text-divider">
                            <span class="text">Add a new...</span>
                            <span class="line"></span>
                        </li>
    <!--                    <li role="menuitem"><a href ng-click="logCall()">Log Call</a></li>
                        <li role="menuitem"><a href ng-click="logMeeting()">Log Meeting</a></li> -->
                        <li role="menuitem"><a href ng-click="addActivity()">Activity</a></li>
                        <li role="menuitem"><a href ng-click="addNote()">Note</a></li>
                        <li role="menuitem"><a href ng-click="manageTags()">Tag</a></li>
                        <li role="menuitem"><a href ng-click="manageRelationships()">Relationship</a></li>
                        <li class="text-divider">
                            <span class="text">Add File From...</span>
                            <span class="line"></span>
                        </li>
                        <li role="menuitem"><a href ng-click="triggerUpload()">Upload File</a></li>
                      </ul>
                    </div>


                    <button class="btn btn-link btn-right" popover-title="Link To This Record" popover-placement="bottom"  uib-popover-template="'myPopoverTemplate.html'" popover-trigger="outsideClick">
                        <icon class="fa fa-link"></icon>
                    </button>

                </div>
                <div class="sidepanel-cover" ng-class="{'hidden': !data.activated }">
                    <div class="avatar avatar-32 lime">
                      <span ng-bind="data.thisRecord.score || '--'"></span>
                    </div>
                    <div class="name-wrapper">
                        <h4 title="{{data.thisRecord.name}}">
                            <span class="color-danger" ng-if="data.thisRecord._isDeleted">[DELETED] </span>
                            <span ng-bind="data.thisRecord.name || '--'"></span>
                        </h4>
                        <p>
                            <a href ng-if="data.thisRecord.primaryCompany" ng-click="goTo('Company', data.thisRecord.primaryCompany.entityId)" title="{{data.thisRecord.primaryCompany.name}}">
                              <span ng-bind="data.thisRecord.primaryCompany.name"></span>
                              <icon style="margin-left:3px;" class="fa fa-external-link"></icon>
                            </a>
                            <span class="empty-text" ng-if="!data.thisRecord.primaryCompany">No Primary Company</span>
                        </p>
                    </div>
                    <div class="detail-wrapper">
                       <div class="row" style="margin-top:12px;">
                      <div class="col-xs-3 rich-card_padding">
                        <p class="card-subtitle">Value</p>
                        <p class="card-data task-value">$<span ng-bind="data.thisRecord.value | number:0"></span></p>
                      </div>
                      <div class="col-xs-3 rich-card_padding">
                        <p class="card-subtitle">Est Close</p>
                        <p class="card-data task-value">
                           <!----><span ng-if="item.status.value !== 'Won' &amp;&amp; item.status.value !== 'Lost'" class="opp-value open"><span ng-bind="data.thisRecord.estimatedClose | date:'mediumDate'"></span></span><!---->
                            <!---->
                            <!---->
                        </p>
                      </div>
                      <div class="col-xs-3 rich-card_padding">
                        <p class="card-subtitle">Stage</p>
                        <p class="card-data task-value"><span ng-bind="data.thisRecord.stage.score"></span>%<span> - </span><span ng-bind="data.thisRecord.stage.value"></span></p>
                      </div>
                      <div class="col-xs-3 rich-card_padding">
                        <p class="card-subtitle">Forecast</p>
                        <p class="card-data task-value"><span ng-bind="data.thisRecord.forecast.value"></span>%<span> - </span><span ng-bind="data.thisRecord.forecast.value"></span></p>
                      </div>
                    </div>
                 </div>
                  
                </div>
                <div class="sidepanel-tabs">
                    <div class="tabs-wrapper">
                        <ul class="nav nav-tabs nav-justified">
                          <li ng-class="{ 'active': data.currentTab == 2 }"><a href ng-click="data.currentTab = 2">Details</a></li>
                          <li ng-class="{ 'active': data.currentTab == 4 }">
                            <a href ng-click="data.currentTab = 4">
                            Related
                          <span ng-bind="'[' + (data.thisRecord.entities.length + data.thisRecord.files.length) + ']'" ng-if="(data.thisRecord.entities.length + data.thisRecord.files.length) > 0"></span>
                          </a></li>
                        </ul>
                    </div>
                </div>
                <div class="sidepanel-content" ng-switch="data.currentTab">
                   <span ng-class="{'hidden': !data.activated }">
                      <span ng-switch-when="2">
                        <ng-include src="'shared/templates/details.tpl.html'"></ng-include>
                      </span>
                      <span ng-switch-when="4">
                        <ng-include src="'shared/templates/related.tpl.html'"></ng-include>
                      </span>
                    </span>

                </div>

            </div>



              <!-- //hidden file upload button -->
              <button id="OpportunityFileUpload" type="file" ngf-select="uploadFiles($files)" ngf-multiple="true" accept="image/*, .pdf, .doc, .docx" class="btn upload-btn hidden" ng-model="data.files" ngf-max-size="100MB">
                Browse Files
              </button>


              <script type="text/ng-template" id="myPopoverTemplate.html">
                    <div class="form-group" style="width:250px;">
                      <label>Record Url:</label>
                      <input type="text" ng-model="data.copyUrl" class="form-control" readonly focus-select>
                      <br>
                      <label>Record ID:</label>
                      <input type="text" ng-model="data.thisRecord.id" class="form-control" readonly>
                    </div>
                    </div>
                </script>
