<div class="loop-loader loop-loader-xs loop-loader-light centered" ng-class="{'hidden': data.activated}" style="z-index:999">Loading...</div>



		<div class="settings-container" ng-if="data.activated">

				<!-- import your data -->
				<div class="settings-section">
					<div class="settings-header">
					<h4>Opportunity Statuses</h4>
					<p>Manage the various statuses used in Interloop</p>
					<button class="btn btn-primary button-top new-users" ng-click="addStatus()">+ New Status</button>
					</div>

					<div class="panel panel-default">
						<div class="panel-body">
								
							<table class="table settings-table">
							    <thead>
							      <tr>
							        <th class="col-xs-2">Label</th>
							        <th class="col-xs-2">Key</th>
							        <th class="col-xs-2">Type</th>
				              	    <th class="col-xs-5">Description</th>
				                    <th class="col-xs-1"></th>
							      </tr>
							    </thead>
							    <tbody>
							      <tr ng-repeat="status in data.statuses">
							        <td>
							       	<p style="display:inline-block;" ng-bind="status.label || '--'"></p>      	
							        </td>
							        <td>
										<span ng-bind="status.key || '--'"></span>
							        </td>
							        <td>
							        	<span ng-class="'status-{{status.type}}'">
							        	<icon class="wb-medium-point"></icon>
										<span ng-bind="(status.type | ucfirst) || '--'"></span>
										</span>
							        </td>
							        <td style="overflow:hidden; text-overflow:ellipsis;">
										<span uib-tooltip="{{status.description}}" ng-bind="status.description || '--'"></span>
							        </td>
							        <td>
							      	<button class="btn btn-default edit-label" ng-click="editStatus(status)" uib-tooltip="Edit Status">
							      		<icon class="fa fa-pencil"></icon>
							      	</button>
							      	<button class="btn btn-default edit-label" ng-click="deleteStatus(status)" uib-tooltip="Delete Status">
							      		<icon class="fa fa-trash"></icon>
							      	</button>
							      </td>
							      </tr>
							      
							    </tbody>
							  </table>


						</div>
					</div>
				</div>
		</div>