<div class="subheader">
              <div class="subheader-left pull-left">
               	<div class="tabs-wrapper">
					<ul class="nav nav-tabs">
					  <li ng-class="{ 'active': data.currentTab == 1 }" class="active"><a href="" ng-click="data.currentTab = 1">Stream</a></li>
					  <li ng-class="{ 'active': data.currentTab == 2 }"><a href="" ng-click="data.currentTab = 2">Logins</a></li>
					  <li ng-class="{ 'active': data.currentTab == 3 }"><a href="" ng-click="data.currentTab = 3">Updates</a></li>
					</ul>
				</div>
              </div>
</div>


<div class="layout dashboard-layout">


</div>