      <!-- TODO MOVE TO SCSSS FILES -->
      <!-- header -->
<!--       <div class="modal-header text-center">
        <button type="button" class="close" ng-click="$dismiss()">
        <icon class="wb-close-mini"></icon>
        </button>
        <h4 class="modal-title" id="myModalLabel">Onboarding Template</h4>
      </div> -->
      <!-- body -->
      <div class="modal-body">
        
          <p>Onboarding Template Goes Here</p>


          <button class="btn btn-primary" ng-click="$dismiss()">Complete Onboarding</button>

      </div>
