<div class="loop-loader loop-loader-xs loop-loader-light centered" ng-class="{'hidden': data.activated}" style="z-index:999">Loading...</div>



		<div class="settings-container" ng-if="data.activated">

				<!-- export your data -->
				<div class="settings-section">
					<div class="settings-header">
					<h4>Export Your Data</h4>
					<p>Export all data for a specific entity</p>
					</div>



					<div class="row">
						<div class="col-xs-3 text-center">
							<div class="panel panel-default export-card">
								<div class="panel-body">
									<img src="../assets/img/icons/dark/currency-dollar.svg" alt="Opportunities">
									<h5>Export Opportunities</h5>
									<br>
									<button class="btn btn-primary" ng-click="exportData('Opportunity')">
										Export Data
									</button>
								</div>
							</div>
						</div>
						<div class="col-xs-3 text-center">
							<div class="panel panel-default export-card">
								<div class="panel-body">
									<img src="../assets/img/icons/dark/user-group.svg" alt="Contacts">
									<h5>Export Contacts</h5>
									<br>
									<button class="btn btn-primary"  ng-click="exportData('Contact')">
										Export Data
									</button>
								</div>
							</div>
						</div>
						<div class="col-xs-3 text-center">
							<div class="panel panel-default export-card">
								<div class="panel-body">
									<img src="../assets/img/icons/dark/company.svg" alt="Company">
									<h5>Export Companies</h5>
									<br>
									<button class="btn btn-primary"  ng-click="exportData('Company')">
										Export Data
									</button>
								</div>
							</div>
						</div>
						<div class="col-xs-3 text-center">
							<div class="panel panel-default export-card">
								<div class="panel-body">
									<img src="../assets/img/icons/dark/inbox-check.svg" alt="Tasks">
									<h5>Export Activities</h5>
									<br>
									<button class="btn btn-primary"  ng-click="exportData('Activity')">
										Export Data
									</button>
								</div>
							</div>
						</div>

					</div>
					
				</div>

				<!-- //previous exports -->
				<div class="settings-section">
					<div class="settings-header">
					<h4>Previous Exports (<span ng-bind="data.exports.length"></span>)</h4>
					<p>View Historical Data Exports</p>
					<button class="btn btn-default" ng-click="refresh()">
						<icon class="wb-loop"></icon> Refresh
					</button>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">

							<div class="loop-loader loop-loader-xs loop-loader-light" ng-class="{'hidden': !data.refreshing}" style="z-index:999">Loading...</div>


							<table class="table table-condensed" ng-if="!data.refreshing">
							    <thead>
							      <tr>
							      	<th>Exported By</th>
							        <th>Date</th>
							        <th>Entity</th>
							        <th>Records</th>
							        <th>Status</th>
							      </tr>
							    </thead>
							    <tbody>
							      <tr ng-repeat="export in data.exports">
							      	<td>
							      		<h5>
							      			<span ng-bind="export.createdBy.firstName"></span> <span ng-bind="export.createdBy.lastName"></span>
							      		</h5>
							      		<p>
							      			<span ng-bind="export.createdBy.email"></span>
							      		</p>
							      	</td>
							      	<td>
							      		<span ng-bind="export.createdOn | formatDate"></span>
							      	</td>
							      	<td>
							      		<span ng-bind="export.entity || '--'"></span>
							      	</td>
							      	<td>
							      		<span ng-bind="(export.records | number:0) || '--'"></span>
							      	</td>
							      	<td>
							      		<span ng-bind="export.status || '--'"></span>
							      	</td>
							      </tr>
							      
							    </tbody>
							  </table>



						  	<div class="empty-state text-center" ng-if="!data.exports.length && !data.refreshing">
						     	<h5>No Exports</h5>
						     	<p>As exports occur - a record of the export and records will be added here</p>
						     </div>
	

						</div>
					</div>
				</div>


		</div>


