<div class="settings-section import-section">
	<div class="panel panel-default panel-light">
		<div class="panel-heading">
			<h3>Export Your Data</h3>
			<p>Export all data for a specific entity</p>
		</div>
		<div class="panel-body">

		<div class="container">
			<div class="row">
				<div class="col-xs-3 import">
					<div class="import-card">
						<icon class="icon-budicon-classic-17"></icon>
						<a href ng-click="exportData('Opportunity')" class="btn btn-block btn-primary">Export Opportunities</a>
					</div>
				</div>
				<div class="col-xs-3 import">
					<div class="import-card">
						<icon class="icon-budicon-classic-38"></icon>
						<a href ng-click="exportData('Contact')" class="btn btn-block btn-primary">Export Contacts</a>
					</div>
				</div>
				<div class="col-xs-3 import">
					<div class="import-card">
						<icon class="icon-budicon-classic-21"></icon>
						<a href ng-click="exportData('Company')" class="btn btn-block btn-primary">Export Companies</a>
					</div>
				</div>
			</div>
		</div>
		</div>

		</div>
	</div>

	<div class="panel panel-default panel-light">
		<div class="panel-heading">
			<h5>Export History</h5>
		</div>
		<div class="panel-body">
			
		
			<div class="empty-state" ng-if="!data.exports.length">
				<h5>No Exports</h5>
				<p>Data Export History will show here</p>
			</div>

		</div>
	</div>

</div>
