    <div class="modal-header header-dark">
        <h3 class="modal-title" id="modal-title">Bulk Edit Value</h3>
        
        <!-- close button -->
        <button type="button" class="close" ng-click="$dismiss()">
            <icon class="wb-close-mini"></icon>
        </button>

    </div>
    <div class="modal-body w-padding" id="modal-body">

    <form name="bulkEditForm" novalidate>
          
          <div class="form-group">
          <div class="single-select">
          <label for="bulkUpdateField">1. Select Attribute</label>
            <ui-select search-enabled="false" ng-model="data.selectedOption" theme="bootstrap">
              <ui-select-match placeholder="Choose an attribute">{{$select.selected.label}}</ui-select-match>
              <ui-select-choices repeat="item in data.fields | filter: $select.search">
                <span ng-bind-html="item.label | highlight: $select.search"></span>
                <small>(<span ng-bind-html="item.type | highlight: $select.search"></span>)</small>
              </ui-select-choices>
            </ui-select>
          </div>
          </div>


          <!-- BASED ON FIRST SELECTION - SHOW APPROPRIATE SECOND FIELD -->
          <!-- ======================================================== -->
          <!-- SELECTION -->
          <div class="form-group" ng-if="data.selectedOption.type == 'category'">
            <label for="bulkUpdateField">2. Set New Value ({{data.selectedOption.type}})</label>
            <label for="select1" class="select">
              <select class="form-control" name="valueSelect" ng-model="data.value" required>
                <option ng-repeat="option in data.selectedOption.values" value="{{option}}">{{option.label}}</option>
              </select>


            </label>
          </div>

          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          
          <!-- TEXT INPUT -->
          <div class="form-group" ng-if="data.selectedOption.type == 'string'">
            <label for="valueInputText">2. Set New Value ({{data.selectedOption.type}})</label>
            <input type="text" class="form-control" id="valueInputText" placeholder="Enter Text" ng-model="data.value" required>
          </div>

          <!-- Currency -->
          <div class="form-group" ng-if="data.selectedOption.type == 'number' || data.selectedOption.type == 'currency'">
            <label for="valueInputCurrency">2. Set New Value ({{data.selectedOption.type}})</label>

            <input type="number" class="form-control" name="valueInputCurrency" ng-model="data.value" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required />
         </div>

          <!-- Date -->
          <div class="form-group" ng-if="data.selectedOption.type == 'date' || data.selectedOption.type == 'dateRange'">
            <label for="valueInputDate">2. Set New Value ({{data.selectedOption.type}})</label>
            <input type="text" class="form-control" id="valueInputDate" placeholder="Enter Date" ng-model="data.value" required>
         </div>


          <!-- ======================================================== -->

          </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-subtle" ng-click="$dismiss()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="ok()" ladda="data.processing" data-style="slide-up" ng-disabled="!data.selectedOption || bulkEditForm.$invalid">Start Bulk Update</button>
    </div>