<div class="loop-loader loop-loader-xs loop-loader-light centered" ng-class="{'hidden': data.activated}" style="z-index:999">Loading...</div>



		<div class="settings-container" ng-if="data.activated">

				<div class="settings-section">
					<div class="settings-header">
					<h4>Subscription</h4>
					<p>Choose the Interloop plan that is right for you</p>
				</div>
				
				<div class="row">
					<div class="col-xs-6 col-xs-offset-3 text-center">
						    <div class="btn-group subscription-timeframe">
						        <label class="btn btn-default active" ng-model="radioModel" uib-btn-radio="'Left'">Annual</label>
						        <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Middle'">Monthly</label>
						    </div>
					</div>
				</div>

				<br>
				<br>


				<div class="row">
                <div class="col-xs-4">
                  <div class="pricing-list">
                    <div class="pricing-header">
                      <div class="pricing-title standard">Standard</div>
                      <div class="pricing-price">
                        <span class="pricing-currency">$</span>
                        <span class="pricing-amount">40</span>
                        <span class="pricing-period">/ mo</span>
                      </div>
                    </div>
                    <ul class="pricing-features">
                      <li>
                        <strong>10GB</strong> of Lorem ipsum</li>
                      <li>
                        <strong>200MB</strong> Max File Size</li>
                      <li>
                        <strong>2GHZ</strong> CPU</li>
                      <li>
                        <strong>256MB</strong> Memory</li>
                    </ul>
                    <div class="pricing-footer">
                      <a class="btn btn-primary btn-outline" role="button">
                      	Select Plan
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="pricing-list">
                    <div class="pricing-header">
                      <div class="pricing-title professional">Professional</div>
                      <div class="pricing-price">
                        <span class="pricing-currency">$</span>
                        <span class="pricing-amount">60</span>
                        <span class="pricing-period">/ mo</span>
                      </div>
                    </div>
                    <ul class="pricing-features">
                      <li>
                        <strong>10GB</strong> of Lorem ipsum</li>
                      <li>
                        <strong>200MB</strong> Max File Size</li>
                      <li>
                        <strong>2GHZ</strong> CPU</li>
                      <li>
                        <strong>256MB</strong> Memory</li>
                    </ul>
                    <div class="pricing-footer">
                      <a class="btn btn-primary btn-outline" role="button">
                      	Select Plan
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="pricing-list">
                    <div class="pricing-header">
                      <div class="pricing-title enterprise">Enterprise</div>
                      <div class="pricing-price">
                        <span class="pricing-amount enterprise">
                        	Contact Us
                        </span>
                      </div>
                    </div>
                    <ul class="pricing-features">
                      <li>
                        <strong>10GB</strong> of Lorem ipsum</li>
                      <li>
                        <strong>200MB</strong> Max File Size</li>
                      <li>
                        <strong>2GHZ</strong> CPU</li>
                      <li>
                        <strong>256MB</strong> Memory</li>
                    </ul>
                    <div class="pricing-footer">
                      <a class="btn btn-primary btn-outline" role="button">
                      	Contact Us
                      </a>
                    </div>
                  </div>
                </div>
              </div>


		</div>
</div>