
<div class="settings-section">
	<div class="panel panel-default panel-light">
		<div class="panel-heading">
			<h3>Subscription</h3>
			<p>Mange your billing and subscriptions</p>
		</div>
		<div class="panel-body subscription">
			<!-- subscription -->
			<h4>Current Subscription <small>- Have any questions, please <a href="mailto:billing@interloop.ai">contact support</a></small></h4>
			
			<table class="table table-bordered" style="margin-bottom:25px;">
			    <thead>
			      <tr>
			        <th class="col-xs-6">Plan</th>
			        <th class="col-xs-4">Renewal Date</th>
			        <th class="col-xs-4">Billing Cycle</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td><b>Super Deluxe Fun Plan</b></td>
			        <td>Mar 15, 2017</td>
			        <td>Annual</td>
			      </tr>
			    </tbody>
			  </table>

		<!-- 	<div class="totals">
			  <p>
			  	<b><span class="text-success">Annual Billing Discount (-15%)</span>
			  	</b>
			  	<br>
			  	<b class="discounted">Total: $36,000 / year</b>
			  </p>


			  <span class="total">
			  <span>--</span>
			  <p><b>Total: $33,000 / year</b></p>
			  </span>

			 </div> -->
			


			<hr>


			<!-- subscription -->
			<h4>Payment Preferences <small>- Manage which credit card is used for billing</small></h4>
				
			 <table class="table table-bordered" style="margin-bottom:25px;">
			    <thead>
			      <tr>
			        <th class="col-xs-6">Card</th>
			        <th class="col-xs-4">Expires</th>
			        <th class="col-xs-2"></th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td><icon class="wb-payment"></icon> Visa ending in 2087</td>
			        <td>Nov 2017</td>
			        <td class="text-center"><a href="">Update Details</a></td>
			      </tr>
			    </tbody>
			  </table>
			
			<hr>


			<!-- subscription -->
			<h4>Invoice Preferences <small>- Configure how your invoice will appear</small></h4>


			<table class="table table-bordered" style=" margin-bottom:25px;">
			    <thead>
			      <tr>
			        <th class="col-xs-4">Company Name</th>
			        <th class="col-xs-4">Billing Email</th>
			        <th class="col-xs-4">Billing Details</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>
						<p>My Company</p>
						<br>
						<p class="edit"><a href ng-click="editBillingDetails()">Edit company name</a></p>
			        </td>
			        <td>
			        	<p>billing@company.com</p>
			        	<br>
						<p class="edit"><a href ng-click="editBillingDetails()">Edit billing email</a></p>
			        </td>
			        <td>
			        	<p>--</p>
			        	<br>
						<p class="edit"><a href ng-click="editBillingDetails()">Edit billing details</a></p>
			        </td>
			      </tr>
			    </tbody>
			  </table>
			


		</div>
	</div>
</div>