    
    
    .paid {
        color:$success;
        font-weight:600;
    }

    .failed {

        color:$danger;
        font-weight:600;
    }

    .payment-table {
        max-width:480px;

        th {
            background-color:$limestone;
        }
    }

    .no-payment-method {
        color:$gravel;
    }

    .invoice-box{
        max-width:800px;
        margin:auto;
        padding:30px;
        border:1px solid $border;
        font-size:16px;
        line-height:24px;
        box-shadow: none;
        color:$charcoal;
        border-radius: 5px;
        background-color:#fff;

        hr {
           border-top: 1px solid $border !important;
        }
    }

    .invoice-bottom {
        max-width:800px;
        margin:auto;
    }
    
    .invoice-box table{
        width:100%;
        line-height:inherit;
        text-align:left;
    }
    
    .invoice-box table td{
        padding:5px;
        vertical-align:top;
    }
    
    .invoice-box table tr td:nth-child(2){
        text-align:right;
    }
    
    .invoice-box table tr.top table td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.top table td.title{
        font-size:45px;
        line-height:45px;
        color:$charcoal;
    }
    
    .invoice-box table tr.information table td{
        padding-bottom:40px;
    }
    
    .invoice-box table tr.heading td{
        background:$limestone;
        border-bottom:none;
        font-weight:bold;
    }
    
    .invoice-box table tr.details td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.item td{
        border-bottom:1px solid $border;
    }
    
    .invoice-box table tr.item.last td{
        border-bottom:none;
    }
    
    .invoice-box table tr.total td:nth-child(2){
        border-top:2px solid $border;
        font-weight:bold;
    }
    
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td{
            width:100%;
            display:block;
            text-align:center;
        }
        
        .invoice-box table tr.information table td{
            width:100%;
            display:block;
            text-align:center;
        }
    }


    .fine-print {
        p {
            color:$slate;
        }
    }