<div class="loop-loader loop-loader-xs loop-loader-light centered" ng-class="{'hidden': data.activated}" style="z-index:999">Loading...</div>



		<div class="settings-container" ng-if="data.activated">

				<div class="settings-section">
					<div class="settings-header">
					<h4>Invoices</h4>
					<p>View Past Invoices</p>
				</div>

				<div class="panel panel-default">
						<div class="panel-body">
							
							<table class="table table-condensed">
							    <thead>
							      <tr>
							        <th class="col-xs-2">ID</th>
							        <th class="col-xs-3">Date</th>
							        <th class="col-xs-3">Amount</th>
							        <th class="col-xs-2">Status</th>
							        <th class="col-xs-2"></th>
							      </tr>
							    </thead>
							    <tbody>
							      <tr ng-repeat="invoice in data.invoices">
								        <td>12309</td>
								        <td>Mar 20, 2017</td>
								        <td>
											<span>$2,000.00</span>
								        </td>
								        <td>
								        	<span class="paid" ng-if="!invoice.failed">Paid</span>
								        	<span class="failed" ng-if="invoice.failed">Failed</span>
								        </td>
								        <td class="text-right"><a class="btn btn-default" href ui-sref="app.main.settings.invoice-details({invoiceId: invoice.id})">View Invoice</a></td>
								      </tr>
							     </tbody>
							  </table>

						</div>
				</div>


				<div class="settings-section">
					<div class="settings-header">
					<h4>Invoice Preferences</h4>
					<p>Configure how your invoice will appear</p>
				</div>

				<div class="panel panel-default">
						<div class="panel-body">
							
							<div class="row">

									  <div class="form-group col-xs-6">
									    <label for="firstName">Company Name</label>
									    <br>
									    <input type="text" class="form-control" id="companyName" placeholder="" ng-model="data.invoicePreferences.companyName" ng-change="save()" ng-model-options="{updateOn: 'blur'}">
									  </div>
									  <div class="form-group col-xs-6">
									    <label for="firstName">Company Email</label>
									    <br>
									    <input type="text" class="form-control" id="companyEmail" placeholder="" ng-model="data.invoicePreferences.companyEmail" ng-change="save()" ng-model-options="{updateOn: 'blur'}">
									  </div>
									  <div class="form-group col-xs-12">
									  	<label for="comment">Billing Details</label>
  										<textarea class="form-control" rows="4" id="billingDetails" ng-model="data.invoicePreferences.billingDetails"></textarea>
  										<span><small>If you need to add a billing address or a tax ID to your invoice, you can do so here.</small></span>
									  </div>

							</div>

						</div>
				</div>

		</div>
