    <div class="row" style="padding:25px;">
        <div class="col-xs-6">
            <a href ui-sref="app.settings.invoices"><icon class="wb-arrow-left"></icon> Go Back To Invoices</a>
        </div>
        <div class="col-xs-6 text-right">
            <h4>Invoice #<span ng-bind="data.thisInvoice.number || '--'"></span></h4>
        </div>
    </div>

    <div class="row">
        

        <div class="invoice-box">
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td class="title">
                                    <img src="https://res.cloudinary.com/dsi8lfsza/image/upload/v1474917309/interloop-dark_mbmu3t.png" style="width:100%; max-width:200px;">
                                </td>
                                
                                <td>
                                    Invoice #: <span ng-bind="data.thisInvoice.number || '--'"></span><br>
                                    Created: <span ng-bind="data.thisInvoice.createdOn || '--'"></span><br>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
                <tr class="information">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td>
                                    Interloop Technologies, Inc.<br>
                                    186 Seven Farms Dr. Suite F-149 <br>
                                    Charleston, SC 29492
                                </td>

                                <td>
                                    <b><span ng-bind="$root.activeOrg.invoicePreferences.companyName || $root.activeOrg.name"></span></b>
                                    <br>
                                    <span ng-if="$root.activeOrg.invoicePreferences.companyEmail" ng-bind="$root.activeOrg.invoicePreferences.companyEmail"></span>
                                    <br>
                                    <span ng-if="$root.activeOrg.invoicePreferences.billingDetails" ng-bind-html="$root.activeOrg.invoicePreferences.billingDetails"></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
                <tr class="heading">
                    <td>
                        Payment Method
                    </td>

                    <td>
                        
                    </td>
                    
                </tr>
                
                <tr class="details">
                    <td style="padding-bottom:40px;">
                        $105.99 charged to card ending in 2087
                    </td>
                    
                </tr>
                
                <tr class="heading">
                    <td>
                        Subscription
                    </td>
                    
                    <td>
                        Price
                    </td>
                </tr>
                
                <tr class="item">
                    <td>
                        Interloop Professional - 30 Users
                        <br>
                        <small>May 20, 2017 - June 20, 2017</small>
                    </td>
                    
                    <td>
                        $300.00
                    </td>
                </tr>
                
                
                <tr class="total">
                    <td></td>
                    
                    <td>
                       Total: $300.00
                    </td>
                </tr>
            </table>

            <div class="fine-print text-center">
                <br>
                <hr>
                <p><small>This is only for your records, no payment is due. If you have any questions, please contact us at support@interloop.ai.<br> Thank you for your business!</small></p>
                </div>

        </div>

        <br>
        <br>

        <div class="invoice-bottom" feature-flag="--INVOICE_ACTIONS--">
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-subtle pull-right"><icon class="fa fa-print"></icon> Print</button>
                    <button class="btn btn-subtle pull-right"><icon class="fa fa-share-alt"></icon> Open in New Tab</button>
                </div>
            </div>
        </div>
                

    </div>