<div class="modal-header">
            <h3 class="modal-title" id="modal-title">New Address</h3>

            <!-- close button -->
            <button type="button" class="close" ng-click="$dismiss()">
                <icon class="wb-close-mini"></icon>
            </button>
        </div>
        <div class="modal-body" id="modal-body">
           

           <form>
            <div class="row">
              <div class="col-xs-12">
              <div class="form-group">
                <label for="text">Label</label>
                <input type="text" class="form-control" id="label" placeholder="Shipping, Billing, etc."  ng-model="data.address.label" autofocus>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
              <div class="form-group">
                <label for="text">Address Line 1</label>
                <input type="text" class="form-control" id="address_line1" placeholder="Seach For Address..." g-places-autocomplete ng-model="data.ac" autocomplete="false">
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
              <div class="form-group">
                <label for="text">Address Line 2</label>
                <input type="text" class="form-control" id="address_line2" placeholder="Unit, Suite, Etc." ng-model="data.address_line2">
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-8">
              <div class="form-group">
                <label for="text">City</label>
                <input type="text" class="form-control" id="city" placeholder="--" ng-model="data.address.locality">
              </div>
              </div>
              <div class="col-xs-4">
               <div class="form-group">
                <label for="text">State</label>
                <input type="text" class="form-control" id="state" placeholder="--" ng-model="data.address.region">
              </div>
              </div>
              </div>
              <div class="row">
              <div class="col-xs-6">
              <div class="form-group">
                <label for="text">Zip</label>
                <input type="text" class="form-control" id="zip" placeholder="00000" ng-model="data.address.postal_code">
              </div>
              </div>
              
              <div class="col-xs-6">
              <div class="form-group">
                <label for="text">Country</label>
                <input type="text" class="form-control" id="county" placeholder="--" ng-model="data.address.country">
              </div>
              </div>

            </div>
            </form>

        </div>
        <div class="modal-footer">
          <button class="btn btn-subtle pull-left" ng-click="clearAll()">Clear All</button>
          <button class="btn btn-subtle" type="button" ng-click="$dismiss()">Cancel</button>
          <button class="btn btn-primary" type="button" ng-click="ok()">Add Address</button>
        </div>