
//files


.file-item {
	border:none;
	border-radius: 5px;
	padding:10px 5px;

	&:hover {
		background-color:darken($limestone, 6%);
	}

	img {
		position:absolute;
		top: 11px;
	    left: 18px;
	    width: 20px;
	}

	h3,h4 {
		margin:0px;
		margin-left:45px;
		margin-bottom:0px;
		font-size:95%;
	}

	p {
		color:$dragonstone;
		margin:0px;
		margin-left:45px;
		font-size:95%;
	}
}