
<div class="settings-section">
	<div class="panel panel-default panel-light">
		<div class="panel-heading">
			<h3>Sales Pipelines</h3>
			<p>Set Up and Manage your sales pipliness & milestones</p>

			<button class="btn btn-primary button-top new-users" ng-click="addPipeline()">+ Add Pipeline</button>
		</div>
		<div class="panel-body">



			<div class="panel panel-default panel-light">
				<div class="panel-heading">
					<h4>Sales Process Name Here</h4>
					<p>5 Stages - 12 Milestones</p>

					<p>
					<a href="" ng-click="isCollapsed = !isCollapsed">Expand to See Details <icon class="wb-chevron-down-mini"></icon></a>
					</p>
				</div>
				<div class="panel-body" uib-collapse="isCollapsed" style="padding:0px;">
					<!-- //process wrapper -->
					<div class="pipeline-wrapper">
						

						<div class="pipeline-stage">
							<h5>Stage 1</h5>
							<ul class="list-unstyled">
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							</ul>
						</div>

						<div class="pipeline-stage">
							<h5>Stage 1</h5>
							<ul class="list-unstyled">
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							</ul>
						</div>

						<div class="pipeline-stage">
							<h5>Stage 1</h5>
							<ul class="list-unstyled">
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							</ul>
						</div>

						<div class="pipeline-stage">
							<h5>Stage 1</h5>
							<ul class="list-unstyled">
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							</ul>
						</div>

						<div class="pipeline-stage">
							<h5>Stage 1</h5>
							<ul class="list-unstyled">
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							</ul>
						</div>

						<div class="pipeline-stage">
							<h5>Stage 1</h5>
							<ul class="list-unstyled">
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							</ul>
						</div>

						<div class="pipeline-stage">
							<h5>Stage 1</h5>
							<ul class="list-unstyled">
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							  <li><icon class="wb-flag"></icon> Step Name</li>
							</ul>
						</div>
					


					</div>
				</div>
			</div>
					

		</div>
	</div>
</div>