<div class="loop-loader loop-loader-xs loop-loader-light centered" ng-class="{'hidden': data.activated}" style="z-index:999">Loading...</div>



		<div class="settings-container" ng-if="data.activated">

				<!-- import your data -->
				<div class="settings-section">
					<div class="settings-header">
					<h4>Sales Processes</h4>
					<p>Set Up and Manage your sales process & milestones</p>
					<button class="btn btn-primary button-top new-users" ng-click="addProcess()">+ Add Process</button>
					</div>


					<div class="row">

							<div class="col-xs-6" ng-repeat="process in data.processes">
								<div class="panel panel-default pipeline-card">
										<div class="panel-body">
											<h4 ng-bind="process.label || '--'"></h4>
											<p ng-bind="process.description"></p>
											<p><span ng-bind="process.stages.length || '0'"></span> Stages <span class="divider">|</span> <span ng-bind="process.milestones.length || '0'"></span> Milestones</p>
											<br>
											<a class="btn btn-default" ui-sref="app.settings.pipeline-details({pipelineId: process.id})">
										<icon class="fa fa-gear"></icon> Process Settings
									</a>
										</div>
								</div>
							</div>

					</div>

				</div>
		</div>



								