<div class="loop-loader loop-loader-xs loop-loader-light centered" ng-class="{'hidden': data.activated}" style="z-index:999">Loading...</div>



		<div class="settings-container" ng-if="data.activated">

				<!-- import your data -->
				<div class="settings-section">
					<div class="settings-header">
					<h4>Manage Products</h4>
					<p>Products can be added to opportunities to allow teams to segment what type of solution is being sold</p>
					<button class="btn btn-primary pull-right" ng-click="addProduct()"><icon class="wb-plus"></icon> New Product</button>
					</div>


					<div class="panel panel-default">
						<div class="panel-body">
							
									
									  <table class="table table-condensed settings-table">
									    <thead>
									      <tr class="text-left">
									        <th>Name</th>
									        <th>Description</th>
						                    <th></th>
									      </tr>
									    </thead>
									    <tbody>
									      <tr ng-repeat="product in data.products | filter: data.search | orderBy: data.sortBy.value" >
									        <td class="plain">
									        	<h5 ng-bind="product.name || '--'"> </h5>	
									        </td>
									        <td class="plain">
									        	<span ng-bind="product.description || '--'"></span>  	
									        </td>
									        <td class="text-right plain">
											   	<button class="btn btn-default edit-label" ng-click="editProduct(product)" uib-tooltip="Edit Product">
										      		<icon class="fa fa-pencil"></icon>
										      	</button>
										      	<button class="btn btn-default edit-label" ng-click="deleteProduct(product)" uib-tooltip="Delete Product">
										      		<icon class="fa fa-trash"></icon>
										      	</button>
											    </div>


									        </td>
									      </tr>
									      
									    </tbody>
									  </table>


									  	<div class="empty-state text-center" ng-if="!data.products.length">
									     	<h5>No Products</h5>
									     	<p>Products can help you categorize opportunties and can help when forecasting</p>
									     	<button class="btn btn-primary" ng-click="addProduct()">Create New Product</button>
									     </div>



						</div>
					</div>

				</div>
		</div>


