<div class="loop-loader loop-loader-xs loop-loader-light centered" ng-class="{'hidden': data.activated}" style="z-index:999">Loading...</div>

<div class="settings-section fadeInOut" ng-if="data.activated">
	<div class="panel panel-default panel-light">
		<div class="panel-heading">
			<h3>Connected Apps</h3>
			<p>Connect your email, calendar, and other integrations to make Interloop more useful</p>


		</div>
		<div class="panel-body">


			<!-- ======================================================================================== -->
			<!-- Office 365 -->
			<!-- ======================================================================================== -->
			<div class="integration o365">
				<div class="integration-logo">
					<img src="../../assets/img/integrations/office_365.png" alt="Office 365">
				</div>
				<div class="integration-text">
					<h5>Office 365</h5>
					<p>Enable your work or school account</p>
				</div>

				<span ng-if="!$root.activeUser.office365Integration">
				<a ng-href="{{data.office365Url}}" class="btn btn-outline btn-primary">Connect</a>
				</span>

				<!-- //if connected -->
				<span class="connected" ng-if="$root.activeUser.office365Integration">
					<p class="text-inline"><icon class="wb-check"></icon> Connected</p>
				</span>
			</div>


			<!-- ======================================================================================== -->
			<!-- Google -->
			<!-- ======================================================================================== -->
			<div class="integration o365">
				<div class="integration-logo">
					<img src="../../assets/img/integrations/google_logo.png" alt="Google">
				</div>
				<div class="integration-text">
					<h5>Google</h5>
					<p>Enable 2 way sync with your Google account</p>
				</div>

				<span ng-if="!$root.activeUser.googleIntegration">
				<a ng-href="{{data.googleUrl}}" class="btn btn-outline btn-primary">Connect</a>
				</span>

				<!-- //if connected -->
				<span class="connected" ng-if="$root.activeUser.googleIntegration">
					<p class="text-inline"><icon class="wb-check"></icon> Connected</p>
				</span>
			</div>


			<!-- ======================================================================================== -->
			<!-- Icloud Contacts -->
			<!-- ======================================================================================== -->
			<div class="integration icloud">
				<div class="integration-logo">
					<img src="../../assets/img/integrations/Icloud_logo.png" alt="iCloud">
				</div>
				<div class="integration-text">
					<h5>iCloud</h5>
					<p>Import contacts From your iCloud account</p>
				</div>


				<span ng-if="!$root.activeUser.icloudIntegration">
					<a href ng-click="getIcloud()" class="btn btn-outline btn-primary">Connect</a>
				</span>

				<!-- //if connected -->
				<span class="connected" ng-if="$root.activeUser.icloudIntegration">
					<p class="text-inline"><icon class="wb-check"></icon> Connected</p>
				</span>


			</div>


			<!-- ======================================================================================== -->
			<!-- Evernote -->
			<!-- ======================================================================================== -->
			<div class="integration evernote">
				<div class="integration-logo">
					<img src="../../assets/img/integrations/evernote_logo.png" alt="Evernote">
				</div>
				<div class="integration-text">
					<h5>Evernote</h5>
					<p>Add Notes, Log Details, and More</p>
				</div>

				<!-- //if not connected -->
				<span ng-if="!$root.activeUser.evernoteIntegration">
				<a ng-href="{{data.evernoteURL}}" class="btn btn-outline btn-primary">Connect</a>
				</span>

				<!-- //if connected -->
				<span class="connected" ng-if="$root.activeUser.evernoteIntegration">
					<p class="text-inline"><icon class="wb-check"></icon> Connected</p>
				</span>
			</div>


			<!-- ======================================================================================== -->
			<!-- Dropbox -->
			<!-- ======================================================================================== -->
			<div class="integration dropbox">
				<div class="integration-logo">
					<img src="../../assets/img/integrations/dropbox_logo.jpg" alt="Dropbox">
				</div>
				<div class="integration-text">
					<h5>Dropbox</h5>
					<p>Connect dropbox to manage files and documents in the cloud.</p>
				</div>
				
				<!-- //if not connected -->
				<span ng-if="!$root.activeUser.dropboxIntegration">
				<a ng-href="{{data.dropboxUrl}}" class="btn btn-outline btn-primary">Connect</a>
				</span>

				<!-- //if connected -->
				<span class="connected" ng-if="$root.activeUser.dropboxIntegration">
					<p class="text-inline"><icon class="wb-check"></icon> Connected</p>
				</span>

			</div>


			<!-- ======================================================================================== -->
			<!-- Box -->
			<!-- ======================================================================================== -->
			<div class="integration dropbox">
				<div class="integration-logo">
					<img src="../../assets/img/integrations/box_logo.png" alt="Box">
				</div>
				<div class="integration-text">
					<h5>Box</h5>
					<p>Connect box to manage files and documents in the cloud.</p>
				</div>
				<button class="btn btn-outline btn-primary">Connect</button>
			</div>



		</div>
	</div>
</div>