<h3>Toggles</h3>
<p>Toggle are an easy way to users to switch booleans between states</p>
<br>

<span class="toggle toggle-primary">
    <input class="toggle-range" id="successToggle" type="checkbox" ng-model="toggle1">
    <label class="toggle-btn" for="successToggle"></label>
</span>

<br>


<span class="toggle toggle-success">
    <input class="toggle-range" id="successToggle" type="checkbox" ng-model="toggle1">
    <label class="toggle-btn" for="successToggle"></label>
</span>

<br>

<span class="toggle toggle-warning">
    <input class="toggle-range" id="successToggle" type="checkbox" ng-model="toggle1">
    <label class="toggle-btn" for="successToggle"></label>
</span>

<br>

<span class="toggle toggle-danger">
    <input class="toggle-range" id="successToggle" type="checkbox" ng-model="toggle1">
    <label class="toggle-btn" for="successToggle"></label>
</span>

<br>

<span class="toggle toggle-info">
    <input class="toggle-range" id="successToggle" type="checkbox" ng-model="toggle1">
    <label class="toggle-btn" for="successToggle"></label>
</span>



<br>
<br>
<div class="jumbotron jumbo-footer">
  <div class="row">
      <div class="col-xs-6 text-left">
        <p>Previous</p>
          <p><a ui-sref="app.product.toasts">Toasts</a></p>
      </div>
      <div class="col-xs-6 text-right">
          <p>Up Next</p>
          <p><a ui-sref="app.product.tooltips">Tooltips</a></p>
      </div>
  </div>