<div class="loop-loader loop-loader-xs loop-loader-light centered" ng-class="{'hidden': data.activated}" style="z-index:999">Loading...</div>



		<div class="settings-container" ng-if="data.activated">

				<div class="settings-section">
					<div class="settings-header">
					<h4>Notification Preferences</h4>
					<p>Recieve just the right amount of notifications to stay informed and up to date.</p>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
							
							<table class="table table-condensed">
							    <thead>
							      <tr>
							        <th>Entity</th>
							        <th class="text-right">Open on create?</th>
							      </tr>
							    </thead>
							    <tbody>
							      <tr>
							        <td>
							        	<b>Opportunity</b>
							        </td>
							        <td class="text-right">
							        	<span class="toggle toggle-primary">
				                          <input class="toggle-range ng-pristine ng-untouched ng-valid ng-not-empty" id="defaultToggle" type="checkbox" ng-model="data.openOpportunity" style="">
				                          <label class="toggle-btn" for="defaultToggle"></label>
				                      </span>
				                  	</td>
							      </tr>
							      <tr>
							        <td>
							        	<b>Company</b>
							        </td>
							        <td class="text-right">
							        	<span class="toggle toggle-primary">
				                          <input class="toggle-range ng-pristine ng-untouched ng-valid ng-not-empty" id="defaultToggle" type="checkbox" ng-model="data.openOpportunity" style="">
				                          <label class="toggle-btn" for="defaultToggle"></label>
				                      </span>
				                  	</td>
							      </tr>
							      <tr>
							        <td>
							        	<b>Contact</b>
							        </td>
							        <td class="text-right">
							        	<span class="toggle toggle-primary">
				                          <input class="toggle-range ng-pristine ng-untouched ng-valid ng-not-empty" id="defaultToggle" type="checkbox" ng-model="data.openOpportunity" style="">
				                          <label class="toggle-btn" for="defaultToggle"></label>
				                      </span>
				                  	</td>
							      </tr>
							      <tr>
							        <td>
							        	<b>Task</b>
							        </td>
							        <td class="text-right">
							        	<span class="toggle toggle-primary">
				                          <input class="toggle-range ng-pristine ng-untouched ng-valid ng-not-empty" id="defaultToggle" type="checkbox" ng-model="data.openOpportunity" style="">
				                          <label class="toggle-btn" for="defaultToggle"></label>
				                      </span>
				                  	</td>
							      </tr>
							      
							    </tbody>
							  </table>
											



						</div>
					</div>
				</div>
		</div>