.import {
	padding:10px;
}

.import-card {
	border:solid 1px $border;

	.panel-body{
		padding:30px 40px;
	}


	img {
		width:60px;
		height:auto;
		margin-bottom:15px;
	}

	h5 {
		margin:0px;
	}

	icon {
		color:$granite;
	}
}


.import-section .btn {
	transition:none !important;
	-webkit-transition:none !important;
}