  <div class="modal-header header-dark">
            <h3 class="modal-title" id="modal-title">Add Owners</h3>
            <p>Add Owners for <b><span ng-bind="data.thisRecord.name || 'this record'"></span></b></p>
            
            <!-- close button -->
            <button type="button" class="close" ng-click="$dismiss()">
                <icon class="wb-close-mini"></icon>
            </button>

        </div>
        <div class="modal-body w-padding" id="modal-body">

          <div class="row">
            <div class="col-xs-3">
                <!-- //search and find -->

            </div>
            <div class="col-xs-9">
                <!-- manage -->


            </div>
          </div>
            

        </div>
        <div class="modal-footer">
            <button class="btn btn-subtle" ng-click="$dismiss()">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="ok()" ladda="data.processing" data-style="slide-up">Add Owners</button>
        </div>