/* Colors
========================================================================== */

$sapphire:								#0F244B;

$topaz:									#2F80ED; 

$mint:									#63D9DE;

$topaz-light:							#A8DDFF;

// states
//-----------------------------------------------

$info:									#09BEF2;
$info-bg: 								#BFDFFF;

$success:								#02B892;
$success-bg: 							#C0EDE4;

$warning:								#FFD11A;
$warning-bg: 							#FCF8E3;

$danger:								#E02F2F;
$danger-bg: 							#F9E7E7;					

$calm:									#7B27C9;
$calm-bg: 								#E6D6F3;

// Colors
//-----------------------------------------------

//dark green
$clover:								#02BB18;

//bright green
$lime:									#82CD00;

//torquise
$seafoam:								#08C9BE;

//blue
$gemstone:								#0785AA;

//torquise
$sky:									#09BEF2;

//lighter blue
$royal:									#3F73C7;			

//dark blue
$ocean:									#214580;

//yellow
$sunlight:								#FFD11A;

//orange
$tangerine:								#FF9600;

//orange-red
$sunset:								#E4450D;

//red-pink
$lipstick:								#C90861;

//pink
$barbie:								#FF04CD;

//purple
$grape:									#7B27C9;

//grey
$neutral:								#C1C7D0;


//Neon Accent colors

$bright-green:							#00EBA0;

$bright-blue:							#0A61F2;


//typography colors

$seamonster:							#091E42;

$dragonstone:							#6C798F;


/* Greys
========================================================================== */

//black
$obsidian:								#091E42;

// dark grey
$charcoal:								#344563;

//lighter grey
$slate:									#6C798F;

//grey
$granite:								#97A0AF;

//Borders
$gravel:								#C1C7D0;

//Background								
$limestone:								#F4F5F7;

//Card Panels // White
$diamond:								#FFFFFF;





// Social Media Colors
/* ========================================================================== */


$facebook: 								#3b5998;

$twitter:								#00b6f1;

$linkedin:								#007bb6;

$twitter:								#123456;

$youtube:								#ff0000;














