//Basic Elements Matched to Colors / Styles ETC

// Text
//-----------------------------------------------

$text-headers:							$seamonster;

$text-dark:								$seamonster;

$text-light:							$granite;	

$text-subheader:						$slate;

$font-main: 		"proxima-nova", "Proxima Nova", helvetica, arial, sans-serif;



$border: lighten($gravel, 10%);

$placeholder: darken($limestone, 6%);

$jumbo: darken($limestone, 1%);