

//text-alignment

.text-left {
	text-align:left !important;
}

.text-center {
	text-align:center !important;
}

.text-right {
	text-align:right !important;
}



.linkedin {
	color:$linkedin;
}

.twitter {
	color:$twitter;
}

.facebook {
	color:$facebook;
}

.youtube {
	color:$youtube;
}