

<div class="modal-body w-padding text-center confirm-modal" id="modal-body">
           <icon class="wb-warning text-danger"></icon>
           <h4>Are you sure you want to delete <b>{{data.view.name}}</b>?</h4>
           <p>This will remove the view from you and anyone it is shared with</p>
  </div>
  <div class="modal-footer confirm-footer text-center">
      <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
      <button class="btn btn-danger" type="button" ng-click="ok()">Confirm</button>
  </div>