.configure-header {
	padding: 0px 15px;
}

.configure-wrapper {
	padding:15px;
	padding-top:0px;
	position: relative;
	height: auto;

	.jsoneditor {
		// height:100%;
	}

}

//JSON EDITOR
//============================

div.jsoneditor-menu {

    background-color: $oc-gray-8;
    border-bottom: 1px solid $oc-gray-8;
}

div.jsoneditor {
    color: $text-dark;
    border: none;
    background: #fff;
}

div.jsoneditor-tree {
	padding:10px 0;
}


.table.scroll-table > thead:first-child > tr:first-child > th:first-child {
    position: absolute;
    display: inline-block;
    background-color: red;
    height: 100%;
}

.table.scroll-table > tbody > tr > td:first-child {
    position: absolute;
    display: inline-block;
    background-color: red;
    height: 100%;
}

.table.scroll-table > thead:first-child > tr:first-child > th:nth-child(2) {
    padding-left: 40px;
}

.table.scroll-table > tbody > tr > td:nth-child(2) {
    padding-left: 50px !important;
}