.opp-name {
	font-weight:600;
	color:$charcoal;
	font-size:14px;
}

.item h4.opp-company {
	font-size:13px;
	color:$slate;
	font-weight:500;
	margin-bottom:2px;
}

.item p.opp-status {
	font-size:13px;
	color:$granite;
}

.opp-value {
	display: block;
	position: absolute;
	top:12px;
	right:12px;
	background-color:$limestone;
	padding:3px 6px;
	color:$charcoal;
	font-weight:600;
	border-radius: 3px;
	font-size:13px;
}




///DETIALS


.bar.detail-bar {
	background-image: none !important;
	border:none !important;
	
	.button {
		color:$icon;
	}

	.button icon {
		color:$icon;
	}

	.toolbar-right {
		position: absolute;
		right:0px;
		padding:0 5px;
		padding-right:10px;

		.button {
			margin-left:5px;
		}

		.button::before {
			font-size:16px !important;
		}
	}
}

.detail-form {
	background-color:#fff;
}

  .opportunity-title {
    .opp-name {
    	position: absolute;
        left:0px;
        right:0px;
        top:-8px;
        white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size:16px;
    }

    .opp-company {
    	position: absolute;
    	left:0px;
    	right:0px;
    	top:8px;
    	font-size:15px;
    	color:lighten($gravel, 3%);
        white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
    }
  }

  .opp-card.card {
    display: block;
  }

  .opp-card .item {
    border-bottom:solid 1px $gravel;
  }

  .opp-card.activated .item{
    background-color:$limestone;
  }

  .detail-header {
  	height:300px;
  	width:100%;
  	background-color:$gravel;
  }

  .slidingTabs-wrapper {
    margin-top:-48px;
  	height:calc(100vh - 152px);
  	display: block;

    &.has-footer {
      height: calc(100vh - 196px)
    }

  	.swiper-pagination {
  		display: none;
  	}
  }


.won-opp {
  color:$emerald;
}

.lost-opp {
  color:$ruby;
}

  //detail specific styles

.title {
  
  &.change-up {
    animation: swap-out .45s 1;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  } 
  
  &.change-down {
    animation: swap .45s 1;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
}

@keyframes swap {
  0% { 
    transform: translate3d(0px, 0px, 0px);
    opacity: 0; 
  }
  50% { 
    transform: translate3d(0px, 50px, 0px);
    opacity: 0; 
  }
  100% { 
    transform: translate3d(0px, 0px, 0px); 
    opacity: 1; 
  }
}

@keyframes swap-out {
  0% { 
    transform: translate3d(0px, -200px, 0px); 
    opacity: 0; 
  }
  50% { 
    transform: translate3d(0px, -50px, 0px);
    opacity: 0; 
  }
  100% { 
    transform: translate3d(0px, 0px, 0px); 
    opacity: 1;
 }
}

