<div class="loop-loader loop-loader-xs loop-loader-light centered" ng-class="{'hidden': data.activated}" style="z-index:999">Loading...</div>



		<div class="settings-container" ng-if="data.activated">

				<div class="settings-section">
					<div class="settings-header">
					<h4>User Profile</h4>
					<p>Upload an avatar, edit profile details, and change password.</p>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">

							<div class="row">
								<div class="col-xs-3 text-center">
									<div class="avatar avatar-96" ng-class="data.thisUser.color">
										<span ng-bind="data.thisUser.initials"></span>
									</div>

									<br>
									<br>

									<div class="color-picker">
										
										<div class="color ocean" ng-class="{'active': data.thisUser.color == 'ocean'}" ng-click="data.thisUser.color = 'ocean'; save();">
										</div>
										<div class="color royal" ng-class="{'active': data.thisUser.color == 'royal'}" ng-click="data.thisUser.color = 'royal'; save();">
										</div>
										<div class="color sky" ng-class="{'active': data.thisUser.color == 'sky'}" ng-click="data.thisUser.color = 'sky'; save();">
										</div>
										<div class="color lime" ng-class="{'active': data.thisUser.color == 'lime'}" ng-click="data.thisUser.color = 'lime'; save();">
										</div>
										<div class="color clover" ng-class="{'active': data.thisUser.color == 'clover'}" ng-click="data.thisUser.color = 'clover'; save();">
										</div>
										<br>
										<div class="color grape" ng-class="{'active': data.thisUser.color == 'grape'}" ng-click="data.thisUser.color = 'grape'; save();">
										</div>
										<div class="color lipstick" ng-class="{'active': data.thisUser.color == 'lipstick'}" ng-click="data.thisUser.color = 'lipstick'; save();">
										</div>
										<div class="color sunset" ng-class="{'active': data.thisUser.color == 'sunset'}" ng-click="data.thisUser.color = 'sunset'; save();">
										</div>
										<div class="color tangerine" ng-class="{'active': data.thisUser.color == 'tangerine'}" ng-click="data.thisUser.color = 'tangerine'; save();">
										</div>
										<div class="color sunlight" ng-class="{'active': data.thisUser.color == 'sunlight'}" ng-click="data.thisUser.color = 'sunlight'; save();">
										</div>
									</div>


									<br>
									<br>

									<button class="btn btn-default">
										<icon class="wb-upload"></icon> Upload Photo
									</button>
									<br>
									<br>
									<p><small>Upload a square photo at least 250x250</small></p>
									
								</div>
								<div class="col-xs-9">
										
									<!-- //detials -->
									<div class="row">
									  <div class="form-group col-xs-6">
									    <label for="firstName">First Name</label>
									    <br>
									    <input type="text" class="form-control" id="firstName" placeholder="" ng-model="data.thisUser.firstName" ng-change="save()" ng-model-options="{updateOn: 'blur'}">
									  </div>
									  <div class="form-group col-xs-6">
									    <label for="lastName">Last Name</label>
									    <br>
									    <input type="text" class="form-control" id="lastName" placeholder="" ng-model="data.thisUser.lastName" ng-change="save()" ng-model-options="{updateOn: 'blur'}">
									  </div>

									  <div class="form-group col-xs-6">
									    <label for="title">Title</label>
									    <br>
									    <input type="text" class="form-control" id="title" placeholder="" ng-model="data.thisUser.title" ng-change="save()" ng-model-options="{updateOn: 'blur'}">
									  </div>
									  <!-- email-->
									  <div class="form-group col-xs-6">
									    <label for="email">
									    Email
									    <icon class="wb-info-circle support-icon" uib-tooltip="Your email is tied to your Interloop login, to make a change - please contact support"></icon>
									    </label>
									    <br>
									    <input type="email" class="form-control w-padding" id="email" placeholder="" ng-model="data.thisUser.email" disabled>
									  </div>

									   <!-- phoneNumber -->
									  <div class="form-group col-xs-6">
									    <label for="phoneNumber">Phone Number</label>
									    <br>
									    <input type="text" class="form-control" id="phoneNumber" placeholder="" ng-model="data.thisUser.phone" ui-us-phone-number ng-change="save()" ng-model-options="{updateOn: 'blur'}">
									  </div>
									  <!-- location -->
									  <div class="form-group col-xs-6">
									    <label for="location">Location</label>
									    <br>
									    <input type="text" class="form-control" id="location" placeholder="" ng-model="data.thisUser.location" ng-change="save()" ng-model-options="{updateOn: 'blur'}">
									  </div>

									  <div class="form-group col-xs-12">
									    <label for="email">
									    User ID
									    <icon class="wb-info-circle support-icon" uib-tooltip="For Support Reference Only"></icon>
									    </label>
									    <br>
									    <input type="email" class="form-control w-padding" id="email" placeholder="" ng-model="data.thisUser.id" disabled>
									  </div>
									</div>
								</div>
							</div>




						</div>
					</div>
				</div>


				<div class="settings-section">
					<div class="settings-header">
					<h4>Change Password</h4>
					<p>Update to a strong password.</p>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row">
							<form name="changePasswordForm" novalidate>
							 <div class="form-group col-xs-4">
						    	<label for="newPassword">New Password</label>
							    <br>
							    <input type="password" class="form-control" id="newPassword" placeholder="" ng-model="data.newPassword" name="newPassword" autocomplete="off">
							  </div>
							  <!-- location -->
							  <div class="form-group col-xs-4">
							    <label for="confirmPassword">Confirm Password</label>
							    <br>
							    <input type="password" class="form-control" id="confirmPassword" placeholder="" ng-model="data.confirmPassword" name="confirmPassword" match="data.newPassword" match-ignore-empty="true" autocomplete="off" required>
							  </div>
							  <div class="form-group col-xs-4 change-password">
							  		<label for="submit" style="height:20px; display:block;"></label>
							  		<button style="padding:8px 16px;" type="submit" class="btn btn-primary" ng-disabled="changePasswordForm.$invalid || data.updatingPassword" ng-click="updatePassword()">
							  		Update Password
							  		</button>
							  	</div>
							  </form>
							</div>
							<!-- //strength bar -->
							<div class="row">
									<div class="col-xs-4" ng-if="data.newPassword || data.confirmPassword">
									  	<!-- password strength -->
										  <div class="strength-wrapper" style="width: 100%;display: inline-block; white-space: nowrap;">
						                  <div class="passStrengthMeter" ng-class="{'very-weak': data.passStrength > 0, 'weak': data.passStrength > 15, 'so-so': data.passStrength > 25, 'good': data.passStrength > 50, 'great': data.passStrength > 75}">
						                  <!-- bars -->
						                  <div class="strengthBar"></div>
						                  <div class="strengthBar"></div>
						                  <div class="strengthBar"></div>
						                  <div class="strengthBar"></div>

						                  <!-- text -->
						                  <p class="strengthMessage text-left" ng-if="data.passStrength > 0 && data.passStrength < 10">Very Weak</p>
						                  <p class="strengthMessage text-left" ng-if="data.passStrength > 10 && data.passStrength < 24">Weak</p>
						                  <p class="strengthMessage text-left" ng-if="data.passStrength > 24 && data.passStrength < 54">So-so</p>
						                  <p class="strengthMessage text-left" ng-if="data.passStrength > 54 && data.passStrength < 75">Good</p>
						                  <p class="strengthMessage text-left" ng-if="data.passStrength > 75">Great!</p>
						                  </div>
						                 </div>
									  </div>

									  <div class="col-xs-4 text-center" >
									  	<!-- error messages -->
										<p class="color-ruby" ng-show="changePasswordForm.newPassword.$error.match" style="margin-top:10px;">
										<icon class="wb-warning"></icon>
										<b>New password can't be the same as previous password</b>
										</p>
										<p class="color-ruby" ng-show="changePasswordForm.confirmPassword.$error.match" style="margin-top:10px;">
										<icon class="wb-warning"></icon>
										<b>Passwords do not match!</b>
										</p>
									 </div>
							</div>

						</div>
					</div>
				</div>

				
				<div class="settings-section">
					<div class="settings-header">
					<h4>Application Cache</h4>
					<p>Clear cached data saved locally.</p>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row">	
								<div class="col-xs-3">
									<button class="btn btn-default btn-outline" ng-click="clearCache()">
										<icon class="wb-trash"></icon> Clear Cache Data
									</button>
								</div>
								<div class="col-xs-9">
									<p>
									<icon class="wb-info-circle support-icon"></icon> Clearing cache will refresh the application
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>



			<!-- hidden password strength calculator -->
			 <div class="hidden" ng-password-strength="data.newPassword"
			      strength="data.passStrength"
			      calculation-mode="formula"
			      goal="75"
			      inner-class="hidden">
			  </div>

