

.no-dashboard {
	padding:20px;
	text-align:center;
	margin:160px auto;

	icon {
		font-size:32px;
		display: block;
		color:$dragonstone;
	}

	h4 {
		color:$dragonstone;
	}

	p {
		color:$dragonstone;
	}
}