<div class="subheader">
              <div class="subheader-left pull-left">
               	<div class="tabs-wrapper">
					<ul class="nav nav-tabs">
					  <li ng-class="{ 'active': data.currentTab == 1 }" class="active"><a href="" ng-click="data.currentTab = 1">Dashboard 1</a></li>
					  <li ng-class="{ 'active': data.currentTab == 2 }"><a href="" ng-click="data.currentTab = 2">Dashboard 2</a></li>
					  <li ng-class="{ 'active': data.currentTab == 3 }"><a href="" ng-click="data.currentTab = 3">Dashboard 3</a></li>
					</ul>
				</div>
              </div>
</div>


<div class="layout dashboard-layout">

<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Your Biggest Opportunities</h4>
					<p>Sep 24th, 2017 - Sept 28th, 2017</p>

					<div class="pull-right">
						<button class="btn btn-default">
							<icon class="wb-more-vertical"></icon>
						</button>
					</div>
				</div>
				<div class="panel-body">
					
					<p>Chart Goes Here</p>

				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Your Biggest Opportunities</h4>
					<p>Sep 24th, 2017 - Sept 28th, 2017</p>

					<div class="pull-right">
						<button class="btn btn-default">
							<icon class="wb-more-vertical"></icon>
						</button>
					</div>
				</div>
				<div class="panel-body">
					
					<p>Chart Goes Here</p>

				</div>
			</div>
		</div>
	</div>
</div>



</div>