  <div class="modal-header header-dark">
            <h3 class="modal-title" id="modal-title">New Meeting</h3>
            
            <!-- close button -->
            <button type="button" class="close" ng-click="$dismiss()">
                <icon class="wb-close-mini"></icon>
            </button>

        </div>
        <div class="modal-body w-padding" id="modal-body">


                    <form name="newMeetingForm" novalidate>

                        <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                      <label for="title">Title</label>
                                      <input type="text" class="form-control" ng-model="data.meeting.title" autofocus>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                      <div class="form-group">
                                      <label for="from">
                                        From
                                      </label>
                                      <input name="from" date-range-picker class="form-control date-picker" id="dueDate" placeholder="" ng-model="data.meeting.completedDate" options="$root.options4" >
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                      <label for="from-time">Time</label>
                                      <input type="text" class="form-control" ng-model="data.meeting.fromTime">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                      <label for="to">
                                        To
                                      </label>
                                      <input name="to" date-range-picker class="form-control date-picker" id="dueDate" placeholder="" ng-model="data.meeting.completedDate" options="$root.options4" >
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                      <label for="to-time">Time</label>
                                      <input type="text" class="form-control" ng-model="data.task.toTime">
                                    </div>
                                </div>
                                 <div class="col-xs-12">
                                     <div class="form-group">
                                        <div class="single-select">
                                            <label for="">Time Zone</label>
                                            <ui-select search-enabled="true" ng-model="data.meetings.timeZone" theme="bootstrap">
                                              <ui-select-match placeholder="Choose a type">{{$select.selected.name}}
                                              </ui-select-match>
                                              <ui-select-choices repeat="item in data.timezones | filter: $select.search">
                                                <span ng-bind-html="item.name | highlight: $select.search"></span>
                                              </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-xs-12">
                                    <div class="form-group">
                                      <label for="location">Location</label>
                                      <input type="text" class="form-control" ng-model="data.meeting.location">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                   <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" rows="3" ng-model="data.meeting.description"
                                    ></textarea>
                                </div>
                              </div>
                          </div>

                    </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-subtle" ng-click="$dismiss()">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="ok()">Create</button>
        </div>