<div class="modal-header">
    <h3 class="modal-title" id="modal-title"><img src="../assets/img/icons/states/danger.svg" alt="Danger">Delete Record</h3>
</div>
<div class="modal-body" id="modal-body">
    <p>You are about to permanently delete 'This Record'. If you proceed with this action, you will permantly delete this records data and any relationships affiliated with thie record.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="ok()">Delete</button>
    <button class="btn btn-subtle" type="button" ng-click="$dismiss()">Cancel</button>
</div>