<h2>Icons</h2>
<p>Interloop uses a custom set of svg icons for application interactions. When possible - always include title or alt & only use icons when text would be too difficult</p>
<br>


<div class="tabs-wrapper">
	<ul class="nav nav-tabs">
	  <li ng-class="{ 'active': data.currentTab == 1 }"><a href ng-click="data.currentTab = 1">Interface</a></li>
	  <li ng-class="{ 'active': data.currentTab == 2 }"><a href ng-click="data.currentTab = 2">File Types</a></li>
	</ul>
</div>
<div class="tabs-content" ng-switch="data.currentTab">
	
	<!-- TAB 1 -->
	<div class="tab-content" ng-switch-when="1">
		<div class="row">
	<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/add-outline.svg">
		<pre><small>add-outline</small></pre>
	</div>
	<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/add-solid.svg">
		<pre><small>add-solid</small></pre>
	</div>
	<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/adjust.svg">
		<pre><small>adjust</small></pre>
	</div>
	<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/airplane.svg">
		<pre><small>airplane</small></pre>
	</div>
	<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/align-center.svg">
		<pre><small>align-center</small></pre>
	</div>
	<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/align-justified.svg">
		<pre><small>align-justified</small></pre>
	</div>
	<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/align-left.svg">
		<pre><small>align-left</small></pre>
	</div>
	<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/align-right.svg">
		<pre><small>align-right</small></pre>
	</div>
	<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/anchor.svg">
		<pre><small>anchor</small></pre>
	</div>
	<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/apparel.svg">
		<pre><small>apparel</small></pre>
	</div>
	<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/arrow-left.svg">
		<pre><small>arrow-left</small></pre>
	</div>
	<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/arrow-outline-down.svg">
		<pre><small>arrow-outline-down</small></pre>
	</div>
	<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/arrow-outline-left.svg">
		<pre><small>arrow-outline-left</small></pre>
	</div>
	<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/arrow-outline-right.svg">
		<pre><small>arrow-outline-right</small></pre>
	</div>
	<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/arrow-outline-up.svg">
		<pre><small>arrow-outline-up</small></pre>
	</div>
		<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/arrow-outline-up.svg">
		<pre><small>arrow-outline-up</small></pre>
	</div>
		<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/arrow-outline-up.svg">
		<pre><small>arrow-outline-up</small></pre>
	</div>
		<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/arrow-outline-up.svg">
		<pre><small>arrow-outline-up</small></pre>
	</div>
		<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/arrow-outline-up.svg">
		<pre><small>arrow-outline-up</small></pre>
	</div>
		<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/arrow-outline-up.svg">
		<pre><small>arrow-outline-up</small></pre>
	</div>
		<div class="col-xs-3 col-sm-3 interloop-icon">
		<img src="../assets/img/icons/dark/arrow-outline-up.svg">
		<pre><small>arrow-outline-up</small></pre>
	</div>
	
	<div class="col-xs-12">
		<br>
		<p>Under Progress...</p>
		<br>
	</div>

	</div>
	

	<!-- TAB 2 -->
	<div class="tab-content" ng-switch-when="2">
		
		<div class="row">
			<div class="col-xs-3 col-sm-3 interloop-icon">
				<img src="../assets/img/icons/dark/add-outline.svg">
				<pre><small>add-outline</small></pre>
			</div>
		</div>

	</div>


</div>


	
</div>