<h3>Modals</h3>
<p>Modals are used to create items / request information from the user. </p>
<br>



<button class="btn btn-primary" ng-click="showSmallModal()">Small Modal</button>

<br>
<br>

<button class="btn btn-primary" ng-click="showMediumModal()">Medium Modal</button>

<br>
<br>

<button class="btn btn-primary" ng-click="showLargeModal()">Large Modal</button>


<br>
<br>

<button class="btn btn-danger" ng-click="showDangerModal()">Danger Modal</button>

<br>
<br>

<button class="btn btn-warning" ng-click="showWarningModal()">Warning Modal</button>


<br>
<br>

<button class="btn btn-primary" ng-click="addAddressModal()">Add Address Modal</button>

<br>
<br>

<div class="jumbotron jumbo-footer">
    <div class="row">
        <div class="col-xs-6 text-left">
          <p>Previous</p>
            <p><a ui-sref="app.product.lozenges">Lozenges</a></p>
        </div>
        <div class="col-xs-6 text-right">
            <p>Up Next</p>
            <p><a ui-sref="app.product.multi-select">Multi Select</a></p>
        </div>
    </div>
</div>
