<h3>Tabs</h3>

<h5>Normal Tabs</h5>
<br>

<div class="tabs-wrapper">
	<ul class="nav nav-tabs">
	  <li ng-class="{ 'active': data.currentTab == 1 }"><a href ng-click="data.currentTab = 1">Interloop</a></li>
	  <li ng-class="{ 'active': data.currentTab == 2 }"><a href ng-click="data.currentTab = 2">Clients</a></li>
	  <li ng-class="{ 'active': data.currentTab == 3 }"><a href ng-click="data.currentTab = 3">Other</a></li>
	</ul>
</div>
<div class="tabs-content" ng-switch="data.currentTab">
	
	<div class="tab-content" ng-switch-when="1">
		Tab 1
	</div>

	<div class="tab-content" ng-switch-when="2">
		Tab 2
	</div>

	<div class="tab-content" ng-switch-when="3">
		Tab 3
	</div>
</div>


<br>
<br>
<h5>Tabs Pills</h5>
<br>

<div class="tabs-wrapper">
	<ul class="nav nav-pills">
	  <li ng-class="{ 'active': data.currentTab == 1 }"><a href ng-click="data.currentTab = 1">Interloop</a></li>
	  <li ng-class="{ 'active': data.currentTab == 2 }"><a href ng-click="data.currentTab = 2">Clients</a></li>
	  <li ng-class="{ 'active': data.currentTab == 3 }"><a href ng-click="data.currentTab = 3">Other</a></li>
	</ul>
</div>
<div class="tabs-content" ng-switch="data.currentTab">
	
	<div class="tab-content" ng-switch-when="1">
		Tab 1
	</div>

	<div class="tab-content" ng-switch-when="2">
		Tab 2
	</div>

	<div class="tab-content" ng-switch-when="3">
		Tab 3
	</div>
</div>


  <br>
<br>

<div class="jumbotron jumbo-footer">
  <div class="row">
      <div class="col-xs-6 text-left">
        <p>Previous</p>
          <p><a ui-sref="app.product.tables">Tables</a></p>
      </div>
      <div class="col-xs-6 text-right">
          <p>Up Next</p>
          <p><a ui-sref="app.product.tags">Tags</a></p>
      </div>
  </div>
</div>