<div class="modal-header">
    <h3 class="modal-title" id="modal-title"><img src="../assets/img/icons/states/warning.svg" alt="Warning">Unarchive Record</h3>
</div>
<div class="modal-body" id="modal-body">
    <p>Unarchiving this record can have adverse affects on analytics. Select a status to reopen this record.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="ok()">Unarchive</button>
    <button class="btn btn-subtle" type="button" ng-click="$dismiss()">Cancel</button>
</div>