* {
	outline:none !important;
}

//opp score

.btn.btn-link:active {
    opacity: .65;
}

.isSelected {
    position:absolute;
    top:18px;
    right:18px;

    icon {
        color:#fff;
    }
}

.add-related-dropdown .add-related-body .avatar-item {
    margin-bottom:2px;

    &.active h4 {
        color: #fff !important;
    }

}

.add-related-dropdown .add-related-body .avatar-item.no-avatar {
    h4{
        margin-left:0px;
    }

    p {
        margin-left:0px;
    }
}

.avatar-item.active {
    h4{
        color:#fff !important;
    }
    p {
        color:#fff;
    }
}

h5.modal-title {
    color:$slate;
    margin:0px;
    margin-bottom:8px;
    font-size:110%;
}

.bulk-actions-dropdown {
    min-width:180px;
    img {
        margin-right:10px;
    }
}

.form-control.custom-date-selected {
    border-color:$topaz;
    border-width:2px;
}

.address-body {
    display:block;
    margin-left:10px;
}

.row.address-list {
    margin-left:0px;
    margin-right:0px;
}

address .btn.removeAddress {
    position:absolute;
    top:5px;
    right:10px;

    icon {
        color:$granite;
    }

    &:hover {
        icon {
            color:$danger;
        }
    }
}

address .btn.editAddress {
    position:absolute;
    top:5px;
    right:40px;

    icon {
        color:$granite;
    }

    &:hover {
        icon {
            color:$topaz;
        }
    }
}

.address-list address.clickable-address {
    &:hover {
        cursor:pointer;
        border:solid 1px $topaz;
    }
}

.copyValue {
    margin-right: 10px;
    color: #C1C7D0;
    position:absolute;
    right:0px;
    top:15px;

    &:hover {
        cursor:pointer;
    }
}

.record-details .form-group {
    position:relative;

    &:hover {
        .copyValue {
            opacity: 1;
        }
    }
}

.button-group-select {
    .btn-default.btn-light {
        background-color: #fff;
        border: solid 1px #dee1e6;

        &.active {
            background-color:$topaz;
            color:#fff;
        }
    }
}

.related-records .tag,
.related-owners .tag {
    margin:0px;
    white-space:nowrap;
    width:175px;
    overflow:hidden;
    text-overflow:ellipsis;
    padding:2px 8px !important;
    padding-left:22px !important;
    background-color:$limestone !important;
    // border:solid 1px $border !important;
    min-height:28px;

    span.value {
        display: inline-block;
        width:125px;
        overflow:hidden;
    }

    .avatar {
        line-height: 17px;
    }

    .remove-tag {
        position:absolute;
        right:3px;
        top:3px;
        opacity: 0;
        display: block;
    }

    &:hover {
        cursor:normal;

        .remove-tag {
            opacity: 1;

            &:hover {
                cursor:pointer;
            }
        }
    }
}

.modal-actions {
    .action-title {
        color:$slate;
        margin:0px;
        margin-bottom:5px;
        font-size:110%;
    }

    .btn icon {
        color:$dragonstone;
    }

    h5 {
        margin:0px;
        margin-bottom:5px;

        icon {
            font-size:16px;
        }
    }
}

.modal-header {
    padding-bottom:25px;
    border-bottom:solid 1px $border;
}

.modal-header p > b {
    color:$topaz;
}

.modal-body.manage-modal {
    min-height:360px;
}

.modal-body {
    .col-xs-9 {
        padding:0px 20px; 
        padding-right:15px; 
        padding-left:0px; 
        padding-top:0px;
        width:72% !important;
        border-right:solid 1px $border;
    }

    .col-xs-3 {
        padding-left:15px !important;
    }
}

.btn-group.modal-action .btn {
    padding:0px;

    icon {
        color:$topaz;
    }
}


.no-owners,
.no-related {
    display: block;
    background-color:$limestone;
    padding:15px 20px;
    text-align:center;
    border-radius: 5px;
    width:175px;

    color:$granite;
    text-decoration:none;
}

.add-related-dropdown {
    min-width:300px;
    padding:10px;
    max-height:90vh !important;
    // bottom:10px !important;
    z-index:9999;
    overflow:hidden;
    height:auto;
    min-height:185px;
    margin-top:-5px;

    hr {
        margin:5px 0;
    }

    .add-related-header {
        padding-top:2px;
        padding-bottom:2px;
        font-weight:500;
        position:absolute;
        display: block;
        top:5px;
        left:5px;
        right:5px;
        height:30px;
        border-bottom:solid 1px $border;

        text-align:center;
        color:$seamonster;


        .close-related {
            position:absolute;
            right:0px;
            top:-4px;
            background-color:transparent;
            color:$granite;
        }

        hr {
            border-top:solid 1px $border !important;
        }
    }

    .add-related-search {
        padding:5px 0;
        position:absolute;
        top:35px;
        left:5px;
        right:5px;
        border-bottom:solid 1px $border;

        .search-related-input {

            .btn {
                position:absolute;
                top:8px;
                right:5px;

                icon {
                    font-size:14px;
                    color:$granite;
                    transform:rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }
            }
        }
    }

    .add-related-body {
        display: block;
        margin-top:85px;
        overflow-y:auto;

        h4 {
            color:$seamonster !important;
        }

        .list-group {
            margin:0px;
        }

        .no-results {
            display: block;
            text-align:center;
            background-color:$limestone;
            color:$dragonstone;
            padding:30px;
            border-radius:5px;
            margin:10px 2px;
        }
    }


    .add-related-footer {
       
       .btn-subtle {
        color:$topaz !important;
       }

       .create-new {
        padding:5px 0;
        border-top:solid 1px $border;
        margin-top:5px;
       }

    }
}

.collapse-arrow icon {
    font-size:24px;
    margin-top:-5px;
}

.collapse-header {
    cursor:pointer;
}

a.text-danger {
    &:hover {
        color: $danger !important;
    }
}

.single-select.no-padding .ui-select-container {
    padding:0px !important;
}

.score-knob {
    position:absolute;
    left:15px;
    top:10px;

    input {
        font-size:14px !important;
    }
}

//trix editor
trix-toolbar { display: none; }

.predictive-score {
    color:$dragonstone;
    display: block;
    font-weight:500;
    width:48px;
    height:48px;
    border:solid 1px $border;
    padding:10px 5px;
    text-align:center;

    &.positive {
        color:$success;
    }

    &.medium {
        color:$warning;
    }

    &.low {
        color:$danger;
    }

    .score {
        color:$seamonster;
        font-size:110%;
        margin-right:1px;
    }

    .out-of {
        font-size:75%;
        color:darken($limestone, 15%);
    }

    .score-indicator {
        height:3px;
        width:100%;
        display: block;
        border-radius: 3px;
        background-color:$limestone;
        position:relative;
        margin-top:2px;
    }

    .score-bar {
        position:absolute;
        left:0px;
        height:3px;
        width:50%;
        border-radius: 3px;
        background-color:$success;
    }

}

.modal-body .dropdown-menu {
    width:98% !important;
}

.modal-body .form-group {
    margin-bottom:10px;
}

.modal-body {

    .ui-select-bootstrap {
        * {
            transition:none !important;
        }
    }
    .ui-select-bootstrap > .ui-select-no-choice li {
        padding:0px;
    }

    .ui-select-no-choice .no-results {
        padding:20px;
        display: block;
    }

    .ui-select-bootstrap {
        .dropdown-menu {
            padding:0px !important;
        }
    }

    .ui-select-container:focus {
        input {
            border:solid 2px $topaz;
        }
    }
    }

    .single-select.hasValue {
        .ui-select-bootstrap .ui-select-toggle i.caret {
            display: none !important;
        }

        .ui-select-toggle a.btn {
            display: block !important;
            margin-top:0px;
            right:10px;
            margin-right:0px !important;

            i {
                color:$slate;

                &::after {
                    content: 'Remove';
                    display: inline-block;
                    margin-left:5px;
                    transform:translateY(-2px);
                    font-family:$font-main;
                    font-weight:700;
                    font-size:13px;
                }
            }
        }
    }

.modal[data-bootstrap-modal-aria-hidden-count] {
    display: none !important;
}

//lets user see full record on search - better for user experience
.ui-select-bootstrap > .ui-select-choices, 
.ui-select-bootstrap > .ui-select-no-choice {
    width:auto !important;
    min-width:100% !important;
}  

.ui-select-container.form-control {
    height:auto !important;
    min-height:39px;

    transition:none !important;

    &:focus {
        border-width: solid 1px $border;
        transition: none !important;
        animation:none !important;
    }
} 

.ui-select-container {
    // padding:6px !important;

    .btn .avatar {
        margin-right: 0px;
        margin-top: -12px;
        margin-right: 6px;
    }
}


.modal-body .ui-select-container {
    max-width: 100% !important;

    .ui-select-no-choice {
        margin:0px;
    }
}

.timezone-banner {
    white-space: nowrap;
}

.timezone-banner a {
    margin:0 5px;
}

.timezone-banner b {
    margin:0 5px;
}

// time zone banner
.timezone-seperator {
    margin:0 5px;
    font-size:6px;
}

.formula-textarea {
    font-family: $font-family-monospace !important;
}

// .spinner {
//   margin: 100px auto 0;
//   width: 70px;
//   text-align: center;
//   margin-top:50vh;
// }

// .spinner > div {
//   width: 18px;
//   height: 18px;
//   background-color: $granite;

//   border-radius: 100%;
//   display: inline-block;
//   -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
//   animation: sk-bouncedelay 1.4s infinite ease-in-out both;
// }

// .spinner .bounce1 {
//   -webkit-animation-delay: -0.32s;
//   animation-delay: -0.32s;
// }

// .spinner .bounce2 {
//   -webkit-animation-delay: -0.16s;
//   animation-delay: -0.16s;
// }

// @-webkit-keyframes sk-bouncedelay {
//   0%, 80%, 100% { -webkit-transform: scale(0) }
//   40% { -webkit-transform: scale(1.0) }
// }

// @keyframes sk-bouncedelay {
//   0%, 80%, 100% { 
//     -webkit-transform: scale(0);
//     transform: scale(0);
//   } 40% { 
//     -webkit-transform: scale(1.0);
//     transform: scale(1.0);
//   }
// }


.required-field {
    color:$danger;
}

.color-topaz {
    color: $topaz !important;
}

.config-loading {
    width:100%;
    height:100%;
    display: block;
    z-index: 500;
    background-color:$limestone;
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}


.loop-loader.centered {
    top:40vh !important;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.navbar-header {
    white-space: nowrap;
    height: 50px;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-radius: $border-radius-base !important;
    margin-top:7px;
    min-width:240px;
    margin-right:5px;

    .avatar-item h3, 
    .avatar-item h4 {
	    margin-left: 35px;
	}

	.avatar-item p {
		margin-left:35px;
	}

	.avatar {
		top:12px;
		left:5px;
	}

    img {
    	width:16px;
    	display: inline-block;
    	margin-right:10px;
    }

    .divider {
	    height: 1px;
	    margin: 5px 0;
	    overflow: hidden;
	    background-color: $border;
	}
}

.deleted-record {
    font-weight:600;
    color:$danger;
}

.new-item .dropdown-menu {
	min-width:200px;
}

.close-sharelink {
    position:absolute;
    top:0px;
    right:5px;
    
    img {
        width:12px;
    }
}

.ag-fresh .checkbox-custom {
	margin-top: 8px !important;
    margin-left: 1px !important;

    .magic-checkbox + label:before {
    	border:solid 2px darken($border, 3%);
    }

    .magic-checkbox:checked + label:before {
	    border:solid 2px $topaz;
	}
}


// /local nav settings pages

#local-nav {
	position:fixed;
	height:calc(100% - 50px);

	li.sidebar-label {
		padding-top:24px;
	}
}

#main-content {
	position:fixed;
	top:50px;
	background-color:#fff;
	min-width:840px;
}

//gobal search
//--------------------------


// global search
.globalSearch {
    display: inline-block;
    position: relative;
    padding:6px;
    margin-right:10px;

    .divider-line {
        padding:5px;
        padding-bottom:8px;
        padding-top:10px;
        color:$dragonstone;
        margin:0px;
        font-weight:600;
        position:relative;

        p {
            background: #fff;
            font-size: 13px;
            color: $dragonstone;
            padding: 0 5px;
            padding-right: 10px;
            display: inline-block;
            margin:0px;
            /* z-index: 16; */
        }

        .line {
            height: 1px;
            background: $border;
            /* width: 100%; */
            display: inline-block;
            position: absolute;
            top: 18px;
            left: 10px;
            /* bottom: 0; */
            right: 15px;
            z-index: -1;
        }
    }

    .list-group {
        margin-bottom:0px;
    }

    .search-icon {
        position: absolute;
        left:16px;
        top:16px;
        color:$granite;
        font-size:16px;
        z-index:1;
    }

    .clear-search {
        position: absolute;
        right:5px;
        top:5px;
        height:38px;

        icon {
            font-size:15px;
            color:$granite;
            transform:rotate(45deg);
            -webkit-transform:rotate(45deg);
        }
    }

    .dropdown-menu {
        margin-top:10px;
        width:400px;
        padding:0px;
        min-height:225px;
        max-height:calc(100vh - 100px);
        overflow: auto;

        li {
            padding:0px;

            &:focus {
                background-color:$limestone;
            }
        }

        li a {
            display: block;
            text-decoration: none;
            padding: 8px 15px;
            border-radius: 3px;
            -webkit-transition: background-color .25s;
            -o-transition: background-color .25s;
            transition: background-color .25s;
             border-radius: 0px;

            &:hover {
                background-color: $limestone;
            }

            p {
                color:$seamonster;
                margin:0px;
                font-weight:medium;
            }

            small {
                color:$dragonstone;
            }
        }

        li > a:focus,
        li a:focus {
            background-color:$limestone;
            outline:none;
        }


        .search-header {
            padding:10px 15px;
            padding-right:5px;
            background-color:$limestone;
            color:$dragonstone;

            b {
                color:$seamonster;
            }
        }


        .no-results,
        .loading-results {
            padding:50px;
            text-align: center;

            icon {
                font-size:20px;
                color:$granite;
            }

            p {
                color:$dragonstone;
            }
        }


    }

    input {
        width:320px;
        height:36px;
        padding-left: 36px;
        background-color:rgba(255,255,255,.125);
        border:none;
        // background
        transition: background-color .1s ease-in-out;
        -webkit-transition: background-color .1s ease-in-out;
        // width: 
        transition: width .1s ease-in-out;
        -webkit-transition: width .1s ease-in-out;

        &:focus,
        &.focus {
            background-color:#fff;
            width:400px;
            padding-left: 36px;
        }
    }
}

//local search / global Search
//------------------------------
.localSearch{
    position: relative;
    padding:0px;
    display: inline-block;

    .search-icon {
        position: absolute;
        left:14px;
        top:11px;
        color:$granite;
        font-size:16px;
        z-index: 1;
    }

    .clear-search {
        position: absolute;
        right:3px;
        top:0px;
        height:40px;
        background-color:transparent;
        border:none;

        icon {
            font-size:15px;
            color:$granite;
            transform:rotate(45deg);
            -webkit-transform:rotate(45deg);
        }
    }

    input {
        width:280px;
        height:38px;
        padding-left: 36px;

        &:focus {
        	padding-left:35px;
        }
    }
}


//grid stuff

  //star item
  //-------------------------
  .btn.star-button {
    padding:10px;
	min-width:20px;

    icon {
      color: lighten($granite, 12%);
      font-size:20px;
    }

    &.starred {
      icon {
        color: $sunlight;
      }
    }
  }

  .checkbox-custom.grid-checkbox-div {
  margin:0px;

  ::before {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    left: 0;
    margin-top: -3px;
    margin-left: -22px;
  }

  ::after {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 20px;
    left: 0;
    top: 0;
    margin-left: -25px;
    text-align: center;
    padding-top: 1px;
    font-size: 12px;
    color: #76838f;
    border-radius: 50%;
  }
}

.grid-checkbox-span {
    left: 36px;
    top: 0px;
    right: 0px;
    position: absolute;
    width: calc(100% - 40px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor:default;
}