.sidebar-overlay {
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	bottom:0px;
	background-color:rgba(255,255,255,.5);
	z-index: 12;
	cursor: wait;

	// .loop-loader {
	// 	left:0px !important;
	// 	right:0px !important;
	// }
}


.related-card {

	.panel-body {
		padding-bottom:8px;
	}


	.panel-footer {
		border-top:dashed 1px $border;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		background-color:lighten($limestone, 2%) !important;
		position:relative;
		padding:6px 12px;

		&:hover {
			background-color:$limestone !important;
			cursor:pointer;

			.view-relationship {
				visibility: visible;
				opacity: 1;
				

				a {
					text-decoration:none;
				}

				icon {
					color:$topaz;
				}
			}
		}

		img {
			margin-left:0px;
			margin-right:10px;
			margin-top:-3px;
		}

		.relationship {
			display: block;
		}

		.view-relationship {
			visibility: hidden;
			opacity: 0;
			position:absolute;
			right:0px;
			top:10px;
			background-color: lighten($limestone, 2%);
			text-align:right;
			transition: opacity .125s ease-in-out;
			-webkit-transition: opacity .125s ease-in-out;
		}
	}
}

.sidepanel .nav-tabs > li > a {
	padding-bottom:8px;
}

.sidepanel .floating-action {
	position:absolute;
	right:15px;
	bottom:15px;
	height:25px;
	width:25px;
	background-color:$topaz;
	border-radius: 5px;
}

.sidepanel-edit {
	background-color:#fff !important;
	padding:20px;
}

.social-wrapper {
	margin-left:80px;

	icon {
		font-size:20px;
		color:$granite;
	}

	&.linkedin.active {
		color: blue;
	}

	&.facebook.active {
		color: $ocean;
	}

	&.twitter.active {
		color: green;
	}
}

.array-input-wrapper {
	margin-bottom:10px;

	.btn.btn-default:first-child {
		background-color:#fff;
		border:solid 1px $border;
		padding:9px 14px;
		text-align:left;
	}

	.btn.btn-default.remove-input {
		background-color:#fff;
		border:solid 1px $border;
		min-width:unset;
		padding:9px 14px;
		border-left:none;

		icon {
			color:$granite;
		}
	}

	.removeInput {
		padding:9px 14px;
		float:right;

		&:hover {
			icon {
				color:$topaz;
			}
		}
	}
}

.array-input {
	margin-bottom:15px;
}

.btn.array-input-add {
	background-color:#fff;
	color:$topaz;
	border:solid 1px transparent;
	margin-bottom:0px;
	padding:0px;
	margin:0px;
}

.address-list {
	.col-xs-6 {
		padding:0px;
	}

	.col-xs-6:nth-child(odd){
		padding-right:5px;
	}

	.col-xs-6:nth-child(even){

		padding-left:5px;
	}

	address {
		padding:10px;
		border-radius:5px;
		border:solid 1px $border;
	}
}

.add-new-address {
	padding:20px;
	border-radius: 5px;
	border:solid 1px $border;
	text-align:center;
	cursor:pointer;

	icon {
		font-size:24px;
		color:$granite;
	}

	&:hover {
		color:$topaz;
		border-color:$topaz;

		icon {
			color:$topaz;
		}
	}
}

.sidepanel .predictive-score {
	position:absolute;
	left:5px;
	top:10px;
	border:solid 1px $border;
	border-radius: 5px;
}

.sidepanel-edit .row {
	margin-left:-5px;
	margin-right:-5px;
}

.sidepanel-edit .sidepanel-title {
	margin-left:10px !important;
}

.edit-header {
	h5 {
		position:absolute;
		left:60px;
		right:60px;
		top:14px;
		font-size:16px;
		margin:0px;
	}

	.save-record {
		background:transparent;
		border:transparent;
		color:$success;
	}
}

.edit-header-right {
	white-space: nowrap;
	padding:0 5px;
}

.overlay-close {
	position: absolute;
	top:0px;
	left:0px;
	width:50px;
	height:50px;
	display: block;
	z-index: 13;
}


.action-menu {
	min-width: 240px;
    height: auto !important;
    max-height: unset;

    icon {
    	color:$dragonstone;
    	margin-right:5px;
    }

    img {
    	margin-right:8px;
    	margin-top:-2px;
    }

    li:hover a {
    	color:$topaz;

    	icon {
    		color:$topaz;
    	}
    }

    a.text-danger:hover {
    	icon {
    		color:$danger !important;
    	}
    }
}

.detail-wrapper .social,
.detail-wrapper .company-description {
	padding-left:80px;
}

#sidepanel-content .sidepanel.contact-details .sidepanel-cover .name-wrapper,
#sidepanel-content .sidepanel.company-details .sidepanel-cover .name-wrapper {
    margin-left: 80px;
    margin-bottom: 12px;
}

.empty-add {
	display: block;

	a {
		text-decoration: none;
	}
}

.field-description {
	color:$granite;
}

.color-danger {
	color:$danger !important;
}

.more-indicator {
    position: absolute;
    top: 153px;
    right: 0;
    height: 53px;
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    background-color: #FFF;
    border-bottom: solid 2px #E1E8ED;
    padding-top: 12px;
    padding-left: 1px;

    .btn {
	    background-color: #E1E8ED;
	    border-radius: 5px;
	    padding: 3px 5px;

	    icon {
	    	color:$granite;
	    }
	}

}

// .sidepanel-title {
// 	margin-top:20px;
// }

.sidepanel .card {
	border-radius: 5px;
}

.sidepanel .panel-footer {
	background-color:#fff;
	color:$seamonster;
	font-weight:600;

	icon {
		color:$granite;
		margin-left:6px;
		margin-right:12px;
	}
}
.card-subtitle {
	text-transform:uppercase;
	color:$dragonstone;
}

.empty-text {
	color:$granite;
}

.empty-section {
	color: #97A0AF;
    text-align: center;
    background: #fff;
    padding: 15px 10px;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    margin-bottom:0px;
}

.no-value {
	color:$gravel;
}

.text-divider {
            padding: 5px 10px !important;
            position: relative;
            width: 100%;

            .text {
                background: #fff;
                font-size: 13px;
                color: $granite;
                padding: 0 5px;
                padding-right:10px;
                display: inline-block;
                /* z-index: 16; */
            }

            .line {
                height: 1px;
                background: $gravel;
                /* width: 100%; */
                display: inline-block;
                position: absolute;
                top: 15px;
                left: 10px;
                /* bottom: 0; */
                right: 15px;
                z-index: -1;
            }
        }