<div class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header pull-left">
                  <button class="btn btn-link pull-left nav-menu" ng-click="$root.sidebarToggle = !$root.sidebarToggle">
                    <img src="../../assets/img/icons/light/menu.svg" alt="Menu">
                  </button>
                  <a class="navbar-brand" href="#">
                  <img src="../../assets/img/logo.svg" alt="Interloop"> <span class="nav-divider"><icon class="wb-chevron-right-mini"></icon></span> <span class="nav-title" ng-bind="$root.navTitle"></span></a>
                </div>
                <div class="navbar-header pull-right">

                   <div class="new-item dropdown" uib-dropdown>
                        <a href class="btn btn-primary dropdown-toggle" uib-dropdown-toggle is-open="newDropdownOpen">
                          <img src="../../assets/img/icons/light/add.svg" alt="+"></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li class="text-divider">
                            <span class="text">New ...</span>
                              <span class="line"></span>
                          </li>
                          <li><a href="#" feature-flag="--FORECASTING--">
                            + Submit Forecast</a></li>
                          <li class="divider" feature-flag="--FORECASTING--"></li>
                          <li role="menuitem" feature-flag="--FF_MODULE_OPPORTUNITIES--">
                            <a href ng-click="newOpportunity()">
                            + Opportunity
                            </a>
                          </li>
                          <li role="menuitem" feature-flag="--FF_MODULE_CONTACTS--">
                            <a href ng-click="newContact()">
                            + Contact
                            </a>
                          </li>
                          <li role="menuitem" feature-flag="--FF_MODULE_COMPANIES--">
                            <a href ng-click="newCompany()">
                              + Company
                            </a>
                          </li>
                          <li class="divider"></li>
                          <li role="menuitem">
                            <a href ng-click="newNote()">
                              + Note
                            </a>
                          </li>
                          <li role="menuitem">
                            <a href ng-click="newTask()">
                              + To-Do
                            </a>
                          </li>
                          <li role="menuitem">
                            <a href ng-click="logCall()">
                              + Call
                            </a>
                          </li>
                        
                          <!-- //repeat through custom activity types -->
                          <li role="menuitem"><a href ng-click="addActivity(activityType)" ng-repeat="activityType in $root.activityTypes | filter: {'custom': true}">
                          + {{activityType.label}}</a></li>

                        </ul>
                    </div>
                      <div class="globalSearch pull-left">

                        <icon class="wb-search search-icon"></icon>
                        <input type="text" class="form-control" id="GlobalSearch" placeholder="Search..." ng-model="data.globalSearch" ng-keydown="focusResult($event)" ng-class="{'focus': data.globalSearch }" ng-change="search()" ng-model-options="{ debounce: 250 }">

                        <button class="btn btn-link clear-search" ng-class="{'hidden': !data.globalSearch}" ng-click="data.globalSearch = ''">
                          <icon class="wb-plus-circle"></icon>
                        </button>
                        
                        <!-- //global search results -->
                        <span uib-dropdown auto-close="outsideClick" is-open="data.globalDropdownOpen && data.globalSearch" keyboard-nav>
                        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="globalSearch-dropdown">

                          <!-- search header -->
                          <div class="search-header">
                            Search Interloop for <b>"<span ng-bind="data.globalSearch"></span>"</b>

                            <span class="pull-right">
                              <kbd>Enter</kbd>
                            </span>
                          </div>

                          <div class="loading-results" ng-class="{'hidden': !data.searchLoading }">
                            <div class="loop-loader loop-loader-light loop-loader-xs">Loading...</div>
                          </div>

                          <!-- results -->
                          <div class="results" ng-repeat="result in data.searchResults" id="globalSearchResults" ng-if="!data.searchLoading">

                            <div class="divider-line" ng-if="(result.results | filter:searchScore).length">
                              <p ng-bind="result.entityType"></p>
                              <span class="line"></span>
                            </div>
                            
                            <div class="list-group" ng-repeat="item in result.results | orderBy: '-score' | filter:searchScore | limitTo:15" ng-switch="result.entityType">

                                <!-- contact -->
                                  <a href class="list-group-item avatar-item" ng-switch-when="Contact" ng-click="openTo('app.contact-details', item.id, $event)">
                                    <div class="avatar avatar-32" ng-class="item.color">
                                      <span ng-bind="item.firstName | limitTo:1 | uppercase"></span><span ng-bind="item.lastName | limitTo:1 | uppercase"></span>
                                      <span ng-if="!item.firstName && !item.lastName">--</span>
                                    </div>
                                    <h4>
                                      <span ng-bind="item.firstName || ''"></span> 
                                      <span ng-bind="item.lastName || ''"></span>
                                    </h4>
                                    <p><span ng-bind="item.title || 'No Title'"></span></p>
                                    <p><span ng-bind="item.primaryCompany || 'No Primary Company'"></span></p>
                                  </a>

                                  <!-- company -->
                                  <a href class="list-group-item avatar-item" ng-switch-when="Company" ng-click="openTo('app.company-details', item.id, $event)">
                                    <div class="avatar avatar-32 square" ng-class="item.color">
                                      <span ng-bind="(item.name | limitTo:1 | uppercase) || '--'"></span>
                                    </div>
                                    <h4><span ng-bind="item.name || ''"></span></h4>
                                    <p><span ng-bind="item.domain || 'No Domain'"></span></p>
                                  </a>

                                  <!-- opportunity -->
                                   <a href class="list-group-item avatar-item" ng-switch-when="Opportunity" ng-click="openTo('app.opportunity-details', item.id, $event)">
                                      <div class="smartScore">
                                        <span ng-bind="item.smartScore || '--'"></span>
                                      </div>
                                      <h4><span ng-bind="item.name || ''"></span></h4>
                                      <p>
                                        <span ng-bind="item.primaryCompany.name || 'No Primary Company'"></span>
                                      </p>
                                      <p ng-if="item.owners.length">
                                        <span ng-repeat="owner in item.owners | limitTo:2">
                                          <span ng-bind="owner.firstName"></span> <span ng-bind="owner.lastName"></span>
                                        </span>
                                      </p>
                                      <p ng-if="!item.owner.length">No Owners</p>
                                      <span class="forecast-indicator">
                                        <p>
                                        <span class="label label-subtle">
                                        $<span ng-bind="item.value | shortNumber"></span>
                                        <span feature-flag="FF_Forecasting">
                                        <span class="spacer">&middot;</span>
                                        <span ng-bind="item.forecast.value || '--'"></span>
                                        </span>
                                        </span>
                                        </p>
                                      </span>
                                      <span class="owners">
                                        <span ng-bind="(item.estimatedClose | formatDate) || '--'"></span>
                                      </span>
                                    </a>

                                    <!-- //attachment -->
<!--                                     <a href="#" class="list-group-item file-item" ng-switch-when="Attachment" ng-click="openTo('app.attachment-details', item.id, $event)">
                                      <img src="../assets/img/icons/files/avi.svg" alt="Avi">
                                      <h4>Awesome-Movie</h4>
                                      <p>awesome_movei.avi</p>
                                      <p>54MB <span class="spacer">&middot;</span> Avi Movie</p>
                                    </a> -->

                                </div>

                              </div>

                              <!-- no results -->
                          <div class="no-results" ng-if="data.resultsCount == 0 && !data.searchLoading">
                            <icon class="wb-search"></icon>
                            <h4>No Results</h4>
                            <p>Couldn't find anything matching <b><span ng-bind="data.globalSearch"></span></b></p>
                          </div>
                            
                           </ul>



                         </span>

                      </div>
                  <ul class="nav navbar-nav">


                      <!-- agenda view -->
                      <li uib-tooltip="Show Assistant" tooltip-placement="bottom">
                        <a href ng-click="showAssistant()">
                          <img src="../../assets/img/icons/light/bolt.svg" alt="Assistant">
                        </a>
                      </li>

                    <!-- notifications -->
                      <li class="dropdown notifications" uib-dropdown uib-dropdown uib-tooltip="Show Notifications" tooltip-placement="bottom">
                        <a href class="dropdown-toggle" uib-dropdown-toggle is-open="notificationsDropdownOpen" ng-click="checkNotifications()">
                         <img src="../../assets/img/icons/light/notification.svg" alt="Notifications">
                         <span class="badge badge-danger" ng-bind="$root.unreadNotifications || 0" ng-if="$root.unreadNotifications !== 0"></span>
                       </a>
                        <ul class="dropdown-menu dropdown-menu-right notifications-dropdown" uib-dropdown-menu>
                             <div class="notification-heading">
                                      <h4 class="menu-title"><icon class="icon-budicon-classic-47"></icon> Notifications</h4>
                                    </div>
                                    <li class="divider"></li>
                                   <div class="notifications-wrapper">

                                   <!-- show loader when fetching latest notifications -->
                                   <div class="loop-loader loop-loader-xs" ng-class="{'hidden': data.notificationsLoaded}">Loading...</div>
                              
                                  <span class="notificationList" ng-if="data.notificationsLoaded">

                                    <!-- notifications -->
                                       <a class="content" href ng-repeat="notification in data.notifications | orderBy: '!createdOn' track by notification.id ">
                                        
                                         <div class="notification-item" ng-class="{'unread': !notification.read }">
                                          <h5 class="item-title" ng-bind="::notification.title"></h5>
                                          <p class="item-info" ng-bind="::notification.body"></p>
                                          <div class="notification-actions" ng-if="notification.actions.length" feature-flag="--NOTIFICATION-ACTIONS--">
                                            <button class="btn btn-sm btn-default" ng-repeat="action in notification.actions track by $index" ng-bind="::action.label">Action 1</button>
                                          </div>
                                        </div>
                                         
                                      </a>


                                      <!-- //no notifications -->
                                      <div class="no-notifications" ng-if="data.notificationsLoaded && !data.notifications.length">
                                        <icon class="wb-bell"></icon>
                                        <p>No New Notifications</p>
                                      </div>

                                    </span>
                        </ul>
                      </li>

                    <!-- help -->
                     <li class="dropdown" uib-dropdown uib-tooltip="Support" tooltip-placement="bottom">
                        <a href class="dropdown-toggle" uib-dropdown-toggle is-open="helpDropdownOpen"><img src="../../assets/img/icons/light/question.svg" alt="Help"></a>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                            <li role="menuitem">
                              <a href ng-click="keyboardShortcuts()">
                                <img src="../../assets/img/icons/nav/shortcuts.svg" alt="Keyboard Shortcuts"> Keyboard Shortcuts
                              </a>
                            </li>
                            <li role="menuitem">
                              <a href="http://help.interloop.ai" target="_blank">
                                <img src="../../assets/img/icons/nav/help-center.svg" alt="Help Center"> Help Center
                              </a>
                            </li>
                            <li role="menuitem">
                              <a href="https://headwayapp.co/interloop-changelog" target="_blank">
                                <img src="../../assets/img/icons/nav/announcements.svg" alt="Help Center"> Recent Updates
                              </a>
                            </li>
                            <li role="menuitem">
                              <a href="https://wantoo.io/interloop/" target="_blank">
                                <img src="../../assets/img/icons/nav/idea.svg" alt="Suggest An Idea"> Suggest An Idea
                              </a>
                            </li>
                            <li class="divider"></li>
                            <li role="menuitem">
                              <a href ng-click="contactSupport()">
                                <img src="../../assets/img/icons/nav/chat.svg" alt="Contact Support"> Contact Support
                              </a>
                            </li>
                        </ul>
                      </li>

                      <!-- more -->
                       <li class="dropdown" uib-dropdown uib-tooltip="More Options" tooltip-placement="bottom">
                        <a href class="dropdown-toggle" uib-dropdown-toggle is-open="moreDropdownOpen"><img src="../../assets/img/icons/light/more.svg" alt="More"></a>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                             <li role="menuitem">
                             <a href ui-sref="app.settings.profile" class="avatar-item">
                                <div class="avatar avatar-32" ng-class="$root.activeUser.color" style="margin-left:5px; margin-top:-3px;">
                                  <span ng-bind="$root.activeUser.initials"></span>
                                </div>
                                <h4 ng-bind="$root.activeUser.firstName + ' '  + $root.activeUser.lastName"></h4>
                                <p ng-bind="$root.activeUser.email"></p>
                              </a>
                              </li>
                              <li class="divider"></li>
                              <li role="menuitem">
                                <a href ng-click="openTo('app.starred')">
                                  <img src="../../assets/img/icons/nav/star-full.svg" alt="Starred Items"> Starred Items
                                </a>
                              </li>
                              <li role="menuitem">
                                <a href ng-click="openTo('app.files')">
                                  <img src="../../assets/img/icons/nav/attachment.svg" alt="My Files"> 
                                  My Files
                                </a>
                              </li>
                              <li role="menuitem" feature-flag="--FF_MORE_MENTIONS">
                                <a href ng-click="openTo('app.mentions')">
                                  <img src="../../assets/img/icons/nav/mentions.svg" alt="Mentions"> 
                                  Mentions
                                </a>
                              </li>
                              <li role="menuitem" feature-flag="--FF_MORE_DIRECTORY">
                                <a href ng-click="openTo('app.directory')">
                                  <img src="../../assets/img/icons/nav/user-group.svg" alt="Directory"> Directory
                                </a>
                              </li>
                              <li class="divider"></li>
                              <li role="menuitem">
                                <a href ng-click="logout()">
                                <img src="../../assets/img/icons/dark/stand-by.svg" alt="Sign Out"> Sign Out
                                </a>
                              </li>
                        </ul>
                      </li>

                </div>
            </div>