        <div class="modal-header header-dark">
            <h3 class="modal-title" id="modal-title">Payment Method</h3>
            
            <!-- close button -->
            <button type="button" class="close" ng-click="$dismiss()">
                <icon class="wb-close-mini"></icon>
            </button>

        </div>
        <div class="modal-body w-padding" id="modal-body">


                 <form action="#"
                      name="cardForm"
                      data-card
                      data-width="500"
                      data-card-container="#card-container"
                      data-placeholders="cardPlaceholders"
                      data-options="cardOptions"
                      data-messages="cardMessages">

                      <div>
                        <input placeholder="Card number" type="text" name="CardNumber" card-number data-ng-model="card.number" />

                        <input placeholder="Full name" type="text" name="CardName" card-name data-ng-model="card.name" />
                      </div>
                      <div>
                        <input placeholder="MM / YYYY" type="text" name="CardExpiry" card-expiry data-ng-model="card.expiry" />

                        <input placeholder="CVC" type="text" name="CardCvc" card-cvc data-ng-model="card.cvc" />

                        <input type="button" value="Change card" data-ng-click="changeCard()" />
                        <input type="button" value="Clear" data-ng-click="clear()" />
                      </div>

                    </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-default btn-link" ng-click="$dismiss()">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="ok()">Create</button>
        </div>