<div class="loop-loader loop-loader-xs loop-loader-light centered" ng-class="{'hidden': data.activated}" style="z-index:999">Loading...</div>



		<div class="settings-container" ng-if="data.activated">

				<div class="settings-section">
					<div class="settings-header">
					<h4>Notification Preferences</h4>
					<p>Recieve just the right amount of notifications to stay informed and up to date.</p>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading notifications-explanation">
							<div class="row">
								<div class="col-xs-4 text-center">
									<icon class="fa fa-desktop"></icon>
									<p><b>Desktop</b></p>
									<p>A banner in the corner of your screen</p>
								</div>
								<div class="col-xs-4 text-center">
									<icon class="fa fa-mobile mobile-icon"></icon>
									<p><b>Mobile</b></p>
									<p>A notification on your phone</p>
								</div>
								<div class="col-xs-4 text-center">
									<icon class="fa fa-envelope"></icon>
									<p><b>Email</b></p>
									<p>Notification sent to your inbox</p>
								</div>
							</div>
						</div>
						<div class="panel-body notification-preferences">
							
							<span class="opportunity-notifications">
							<h5 class="notification-title">OPPORTUNITIES</h5>
							<table class="table table-condensed">
							    <tbody>
							      <tr>
							        <td class="col-xs-6">
							        	An Opportunity is <b>assigned to you</b>
							        </td>
							        <td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="opportunity-assigned-desktop" ng-model="data.thisUser.alertSettings['opportunity-assigned']['desktop']" ng-change="save()">
										<label class="text" for="opportunity-assigned-desktop">
										  Desktop
										</label>
				                  	</td>
				                  	<td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="opportunity-assigned-mobile" ng-model="data.thisUser.alertSettings['opportunity-assigned']['mobile']" ng-change="save()">
										<label class="text" for="opportunity-assigned-mobile">
										  Mobile
										</label>
				                  	</td>
				                  	<td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="opportunity-assigned-email" ng-model="data.thisUser.alertSettings['opportunity-assigned']['email']" ng-change="save()">
										<label class="text" for="opportunity-assigned-email">
										  Email
										</label>
				                  	</td>
							      </tr>
							       <tr>
							        <td class="col-xs-6">
							        	An Opportunity is <b>shared with you</b>
							        </td>
							        <td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="opportunity-shared-desktop" ng-model="data.thisUser.alertSettings['opportunity-shared']['desktop']" ng-change="save()">
										<label class="text" for="opportunity-shared-desktop">
										  Desktop
										</label>
				                  	</td>
				                  	<td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="opportunity-shared-mobile" ng-model="data.thisUser.alertSettings['opportunity-shared']['mobile']" ng-change="save()">
										<label class="text" for="opportunity-shared-mobile">
										  Mobile
										</label>
				                  	</td>
				                  	<td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="opportunity-shared-email" ng-model="data.thisUser.alertSettings['opportunity-shared']['email']" ng-change="save()">
										<label class="text" for="opportunity-shared-email">
										  Email
										</label>
				                  	</td>
							      </tr>
							    </tbody>
							  </table>
							  <br>
							  </span>


							<span class="activity-notifications">
							<h5 class="notification-title">ACTIVITIES</h5>
							<table class="table table-condensed">
							    <tbody>
							    <tr>
							        <td class="col-xs-6">
							        	An activity is <b>assigned to you</b>
							        </td>
							         <td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="activity-assigned-desktop" ng-model="data.thisUser.alertSettings['activity-assigned']['desktop']" ng-change="save()">
										<label class="text" for="activity-assigned-desktop">
										  Desktop
										</label>
				                  	</td>
				                  	<td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="activity-assigned-mobile" ng-model="data.thisUser.alertSettings['activity-assigned']['mobile']" ng-change="save()">
										<label class="text" for="activity-assigned-mobile">
										  Mobile
										</label>
				                  	</td>
				                  	<td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="activity-assigned-email" ng-model="data.thisUser.alertSettings['activity-assigned']['email']" ng-change="save()">
										<label class="text" for="activity-assigned-email">
										  Email
										</label>
				                  	</td>
							      </tr>
							      <tr>
							        <td class="col-xs-6">
							        	An activity you follow is <b>marked complete</b>
							        </td>
							        <td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="activity-completed-desktop" ng-model="data.thisUser.alertSettings['activity-completed']['desktop']" ng-change="save()">
										<label class="text" for="activity-completed-desktop">
										  Desktop
										</label>
				                  	</td>
				                  	<td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="activity-completed-mobile" ng-model="data.thisUser.alertSettings['activity-completed']['mobile']" ng-change="save()">
										<label class="text" for="activity-completed-mobile">
										  Mobile
										</label>
				                  	</td>
				                  	<td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="activity-completed-email" ng-model="data.thisUser.alertSettings['activity-completed']['email']" ng-change="save()">
										<label class="text" for="activity-completed-email">
										  Email
										</label>
				                  	</td>
							      </tr>
							    </tbody>
							  </table>
							  <br>
							  </span>



							<span class="comment-notifications">
							<h5 class="notification-title">COMMENTS</h5>
							<table class="table table-condensed">
							    <tbody>
							      <tr>
							        <td class="col-xs-6">
							        	 A new conversation is started on a record <b>you own</b></b>
							        </td>
							        <td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="comment-owned-record-desktop" ng-model="data.thisUser.alertSettings['comment-owned-record']['desktop']" ng-change="save()">
										<label class="text" for="comment-owned-record-desktop">
										  Desktop
										</label>
				                  	</td>
				                  	<td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="comment-owned-record-mobile" ng-model="data.thisUser.alertSettings['comment-owned-record']['mobile']" ng-change="save()">
										<label class="text" for="comment-owned-record-mobile">
										  Mobile
										</label>
				                  	</td>
				                  	<td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="comment-owned-record-email" ng-model="data.thisUser.alertSettings['comment-owned-record']['email']" ng-change="save()">
										<label class="text" for="comment-owned-record-email">
										  Email
										</label>
				                  	</td>
							      </tr>
							      <tr>
							        <td class="col-xs-6">
							        	A new conversation is started on a record <b>you created</b>
							        </td>
							         <td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="comment-started-record-desktop" ng-model="data.thisUser.alertSettings['comment-started-record']['desktop']" ng-change="save()">
										<label class="text" for="comment-started-record-desktop">
										  Desktop
										</label>
				                  	</td>
				                  	<td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="comment-started-record-mobile" ng-model="data.thisUser.alertSettings['comment-started-record']['mobile']" ng-change="save()">
										<label class="text" for="comment-started-record-mobile">
										  Mobile
										</label>
				                  	</td>
				                  	<td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="comment-started-record-email" ng-model="data.thisUser.alertSettings['comment-started-record']['email']" ng-change="save()">
										<label class="text" for="comment-started-record-email">
										  Email
										</label>
				                  	</td>
							      </tr>
							       <tr>
							        <td class="col-xs-6">
							        	A comment is posted on a record <b>you commented</b>
							        </td>
							         <td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="comment-added-desktop" ng-model="data.thisUser.alertSettings['comment-added']['desktop']" ng-change="save()">
										<label class="text" for="comment-added-desktop">
										  Desktop
										</label>
				                  	</td>
				                  	<td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="comment-added-mobile" ng-model="data.thisUser.alertSettings['comment-added']['mobile']" ng-change="save()">
										<label class="text" for="comment-added-mobile">
										  Mobile
										</label>
				                  	</td>
				                  	<td class="text-left">
										<input class="magic-checkbox" type="checkbox" name="layout" id="comment-added-email" ng-model="data.thisUser.alertSettings['comment-added']['email']" ng-change="save()">
										<label class="text" for="comment-added-email">
										  Email
										</label>
				                  	</td>
							      </tr>
							    </tbody>
							  </table>
							  <br>
							  </span>




							 
											



						</div>
					</div>
				</div>
		</div>
