<div class="loop-loader loop-loader-xs loop-loader-light centered" ng-class="{'hidden': data.activated}" style="z-index:999">Loading...</div>



		<div class="settings-container" ng-if="data.activated">

				<div class="settings-section">
					<div class="settings-header">
					<h4>Notification Preferences</h4>
					<p>Recieve just the right amount of notifications to stay informed and up to date.</p>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
							
							<span class="opportunity-notifications">
							<h4>Opportunities</h4>
							<table class="table table-condensed">
							    <tbody>
							      <tr>
							        <td>
							        	An Opportunity is Assigned to Yo
							        </td>
							        <td class="text-right">
							        	<span class="toggle toggle-primary">
				                          <input class="toggle-range ng-pristine ng-untouched ng-valid ng-not-empty" id="defaultToggle" type="checkbox" ng-model="data.openOpportunity" style="">
				                          <label class="toggle-btn" for="defaultToggle"></label>
				                      </span>
				                  	</td>
							      </tr>
							    </tbody>
							  </table>
							  <br>
							  </span>
							  


							<span class="opportunity-notifications">
							<h4>Tasks</h4>
							<table class="table table-condensed">
							    <tbody>
							      <tr>
							        <td>
							        	A task you follow is marked complet
							        </td>
							        <td class="text-right">
							        	<span class="toggle toggle-primary">
				                          <input class="toggle-range ng-pristine ng-untouched ng-valid ng-not-empty" id="defaultToggle" type="checkbox" ng-model="data.openOpportunity" style="">
				                          <label class="toggle-btn" for="defaultToggle"></label>
				                      </span>
				                  	</td>
							      </tr>
							      <tr>
							        <td>
							        	A task is assigned to yo
							        </td>
							        <td class="text-right">
							        	<span class="toggle toggle-primary">
				                          <input class="toggle-range ng-pristine ng-untouched ng-valid ng-not-empty" id="defaultToggle" type="checkbox" ng-model="data.openOpportunity" style="">
				                          <label class="toggle-btn" for="defaultToggle"></label>
				                      </span>
				                  	</td>
							      </tr>
							      <tr>
							        <td>
							        	A reminder triggers on a task that is assigned to you
							        </td>
							        <td class="text-right">
							        	<span class="toggle toggle-primary">
				                          <input class="toggle-range ng-pristine ng-untouched ng-valid ng-not-empty" id="defaultToggle" type="checkbox" ng-model="data.openOpportunity" style="">
				                          <label class="toggle-btn" for="defaultToggle"></label>
				                      </span>
				                  	</td>
							      </tr>
							    </tbody>
							  </table>
							  <br>
							  </span>
											



						</div>
					</div>
				</div>
		</div>