  <div class="modal-header short-header">
            <h5 class="modal-title text-center" id="modal-title">Tags ({{data.selectedTags.length}})</h5> 
            <!-- close button -->
            <button type="button" class="close" ng-click="$dismiss()">
                <icon class="wb-close-mini"></icon>
            </button>

        </div>
        <div class="modal-body no-padding manage-modal" id="modal-body">
            
            <div class="modal-subheader">
                <div class="search">
                    <icon class="search-icon wb-search"></icon>
                    <input type="text" class="form-control" placeholder="Search..." ng-model="data.searchTags">
                    <button class="btn btn-default" ng-click="data.searchTags = '';" ng-class="{'hidden': !data.searchTags }">
                        <icon class="wb-plus-circle"></icon>
                    </button>
                </div>
            </div>
            
            <div class="modal-subbody">

            <div class="list-group">
              <span ng-repeat="tag in data.tagList | limitTo: 15 | isSelected:data.selectedTags | orderBy:['-selected', 'name'] | filter: data.searchTags">
                <a href class="list-group-item avatar-item no-avatar tag-item" ng-click="addRemoveTag(tag)" ng-class="{'active': tag.selected }">
                  <h4>
                    <icon class="wb-tag"></icon>
                    <span ng-bind="tag.name"></span>
                  </h4>
                  <!-- //check mark -->
                  <span class="isSelected" ng-if="tag.selected">
                    <icon class="wb-check"></icon>
                  </span>
                </a>
                </span>
            </div>

            </div>
          

        </div>
        <div class="modal-footer">
            <button class="btn btn-subtle" ng-click="$dismiss()">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="ok()" ladda="data.processing" data-style="slide-up">Save Tags</button>
        </div>