  <div class="modal-header header-dark">
            <h3 class="modal-title" id="modal-title">New Opportunity</h3>
            
            <!-- close button -->
            <button type="button" class="close" ng-click="$dismiss()">
                <icon class="wb-close-mini"></icon>
            </button>

        </div>
        <div class="modal-body w-padding" id="modal-body">

        <form name="newOpportunityForm" novalidate autocomplete="off">
          <div class="row">
            
                      <!-- field repeat -->
                         <div class="col-xs-12" ng-repeat="field in data.fields | filter: showFieldFilter" ng-switch="field.type">

                                  <!-- divider -->
                            <div class="form-group" ng-switch-when="divider">
                              <h5 class="pane-title">{{field.label}}</h5>
                            </div>

                             <!-- string -->
                             <div class="form-group" ng-switch-when="string" ng-class="{ 'has-error' : newOpportunityForm.{{field.key}}.$invalid && !newOpportunityForm.{{field.key}}.$pristine }">
                              <label for="{{field.key}}">
                                <span ng-bind="field.label"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                              </label>
                              <input name="{{field.key}}" type="text" class="form-control" id="{{field.key}}" placeholder="" ng-model="data.thisRecord[field.key]" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled" ng-required="field.newRequired" >
                            </div>

                              <!-- number -->
                             <div class="form-group" ng-switch-when="number">
                              <label for="{{field.key}}">
                              <span ng-bind="field.label + ' (123)'"></span>
                              <span class="required-field" ng-if="field.newRequired">*</span>
                              </label>
                              <input name="{{field.key}}" type="text" class="form-control" id="{{field.key}}" placeholder="" ng-model="data.thisRecord[field.key]" ui-number-mask="2" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled" ng-required="field.newRequired" >
                            </div>

                            <!-- currency -->
                             <div class="form-group" ng-switch-when="currency">
                              <label for="{{field.key}}">
                                <span ng-bind="field.label + ' ($)'"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                              </label>
                              <input name="{{field.key}}" type="text" class="form-control" id="{{field.key}}" placeholder="" ng-model="data.thisRecord[field.key]" ui-money-mask="2" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled" ng-required="field.newRequired" >
                            </div>

                            <!-- date -->
                             <div class="form-group" ng-switch-when="date">
                              <label for="{{field.key}}">
                                <span ng-bind="field.label + ' (MMM DD, YYYY)'"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                              </label>
                              <input name="{{field.key}}" date-range-picker class="form-control date-picker" id="{{field.key}}" placeholder="" ng-model="data.thisRecord[field.key]" options="$root.options" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled" ng-required="field.newRequired" >
                            </div>

                            <!-- picklists -->
                            <div class="form-group" ng-switch-when="category">
                            <label for="{{field.key}}">
                              <span ng-bind="field.label"></span>
                              <span class="required-field" ng-if="field.newRequired">*</span>
                            </label>

                            <ui-select name="{{field.key}}" class="form-control" ng-model="data.thisRecord[field.key]" ng-disabled="field.disabled" ng-required="field.newRequired"  ng-if="field.values.length > 5">
                              <ui-select-match placeholder="Select options...">
                                <span>
                                  <span class="name">{{$select.selected.label}}</span>
                                </span>
                              </ui-select-match>
                              <ui-select-choices repeat="value in field.values | filter: $select.search">
                                  <span ng-bind-html="value.label | highlight: $select.selected.value"></span>
                              </ui-select-choices>
                            </ui-select>

                            <div ng-if="field.values.length <= 5" class="button-group-select">
                            <div class="btn-group" ng-required="field.newRequired" >
                                <label class="btn btn-default btn-light" ng-model="data.thisRecord[field.key]" uib-btn-radio="{{value}}" uncheckable ng-repeat="value in field.values">{{value.label}}</label>
                            </div>
                            </div>


                            </div>

                            <!-- lookup -->
                            <div class="form-group" ng-switch-when="lookup"  ng-class="{ 'has-error' : (newOpportunityForm.{{field.key}}.$invalid && !newOpportunityForm.{{field.key}}.$pristine) || (field.noResults && field.newRequired) }">       
                              <label for="{{field.key}}">
                                <span ng-bind="field.label"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                              </label>
                                <input id="{{field.key}}" type="text" class="form-control no-border" 
                                      ng-model="data.thisRecord[field.key]" 
                                      placeholder="Search..." 
                                      typeahead-editable="false"
                                      uib-typeahead="entity as entity.name for entity in getLookupValue(null, field.lookupEntity, $viewValue)" 
                                      typeahead-loading="field.loadingValues" 
                                      typeahead-no-results="field.noResults" 
                                      typeahead-editable="false"
                                      typeahead-min-length="1" class="form-control"
                                      ng-required="field.newRequired"
                                      ng-model-options="{'debounce': 200 }"
                                      >

                                      <span ng-show="field.loadingValues" style="display:inline-block;
                                      padding:10px 0; padding-bottom:0px;">
                                        <i  class="wb-loop"></i>
                                        Searching...
                                      </span>
                                      <div ng-show="field.noResults" style="padding:10px 0;">
                                        No Records found matching search <br> <a  style="margin-top:5px" class="btn btn-primary" href ng-click="noResultsNew(field.lookupEntity, data.thisRecord[field.key])"><icon class="wb-plus-circle"></icon> Create New</a>
                                        <span class="text-light">
                                          (cmd + option + n)
                                        </span>
                                      </div>

                              </div>

                            <small ng-show="newOpportunityForm.{{field.key}}.$invalid && !newOpportunityForm.{{field.key}}.$pristine" class="help-block text-danger" style="margin-top:-10px;margin-bottom:10px;">{{field.label}} is required</small>

                        </div>

                  </div>

                  <br>

                  <div class="row" ng-if="(data.customFields | filter: showFieldFilter).length">
                        <div class="col-xs-12">
                          <p class="subtitle">Custom Fields</p>
                        </div>

                        <!-- custom field -->
                         <!-- field repeat -->
                           <div class="col-xs-12" ng-repeat="field in data.customFields | filter: showFieldFilter" ng-switch="field.type">

                                  <!-- divider -->
                            <div class="form-group" ng-switch-when="divider">
                              <h5 class="pane-title">{{field.label}}</h5>
                            </div>

                             <!-- string -->
                             <div class="form-group" ng-switch-when="string" ng-class="{ 'has-error' : newOpportunityForm.{{field.key}}.$invalid && !newOpportunityForm.{{field.key}}.$pristine }">
                              <label for="{{field.key}}">
                                <span ng-bind="field.label"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                              </label>
                              <input name="{{field.key}}" type="text" class="form-control" id="{{field.key}}" placeholder="" ng-model="data.thisRecord[field.key]" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled" ng-required="field.newRequired" >
                            </div>

                              <!-- number -->
                             <div class="form-group" ng-switch-when="number">
                              <label for="{{field.key}}">
                              <span ng-bind="field.label + ' (123)'"></span>
                              <span class="required-field" ng-if="field.newRequired">*</span>
                              </label>
                              <input name="{{field.key}}" type="text" class="form-control" id="{{field.key}}" placeholder="" ng-model="data.thisRecord[field.key]" ui-number-mask="2" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled" ng-required="field.newRequired" >
                            </div>

                            <!-- currency -->
                             <div class="form-group" ng-switch-when="currency">
                              <label for="{{field.key}}">
                                <span ng-bind="field.label + ' ($)'"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                              </label>
                              <input name="{{field.key}}" type="text" class="form-control" id="{{field.key}}" placeholder="" ng-model="data.thisRecord[field.key]" ui-money-mask="2" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled" ng-required="field.newRequired" >
                            </div>

                            <!-- date -->
                             <div class="form-group" ng-switch-when="date">
                              <label for="{{field.key}}">
                                <span ng-bind="field.label + ' (MMM DD, YYYY)'"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                              </label>
                              <input name="{{field.key}}" date-range-picker class="form-control date-picker" id="{{field.key}}" placeholder="" ng-model="data.thisRecord[field.key]" options="$root.options" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled" ng-required="field.newRequired" >
                            </div>

                            <!-- picklists -->
                            <div class="form-group" ng-switch-when="category">
                            <label for="{{field.key}}">
                              <span ng-bind="field.label"></span>
                              <span class="required-field" ng-if="field.newRequired">*</span>
                            </label>

                            <ui-select name="{{field.key}}" class="form-control" ng-model="data.thisRecord[field.key]" ng-disabled="field.disabled" ng-required="field.newRequired"  ng-if="field.values.length > 5">
                              <ui-select-match placeholder="Select options...">
                                <span>
                                  <span class="name">{{$select.selected.label}}</span>
                                </span>
                              </ui-select-match>
                              <ui-select-choices repeat="value in field.values | filter: $select.search">
                                  <span ng-bind-html="value.label | highlight: $select.selected.value"></span>
                              </ui-select-choices>
                            </ui-select>

                            <div ng-if="field.values.length <= 5" class="button-group-select">
                            <div class="btn-group" ng-required="field.newRequired" >
                                <label class="btn btn-default btn-light" ng-model="data.thisRecord[field.key]" uib-btn-radio="{{value}}" uncheckable ng-repeat="value in field.values">{{value.label}}</label>
                            </div>
                            </div>


                            </div>

                            <!-- lookup -->
                            <div class="form-group" ng-switch-when="lookup"  ng-class="{ 'has-error' : (newOpportunityForm.{{field.key}}.$invalid && !newOpportunityForm.{{field.key}}.$pristine) || (field.noResults && field.newRequired) }">       
                              <label for="{{field.key}}">
                                <span ng-bind="field.label"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                              </label>
                                <input id="{{field.key}}" type="text" class="form-control no-border" 
                                      ng-model="data.thisRecord[field.key]" 
                                      placeholder="Search..." 
                                      typeahead-editable="false"
                                      uib-typeahead="entity as entity.name for entity in getLookupValue(null, field.lookupEntity, $viewValue)" 
                                      typeahead-loading="field.loadingValues" 
                                      typeahead-no-results="field.noResults" 
                                      typeahead-editable="false"
                                      typeahead-min-length="1" class="form-control"
                                      ng-model-options="{'debounce': 200 }"
                                      >

                                      <span ng-show="field.loadingValues">
                                        <i  class="wb-loop"></i>
                                        Searching...
                                      </span>
                                      <div ng-show="field.noResults" style="padding:10px 0;">
                                        No Records found matching search
                                      </div>

                              </div>

                            <small ng-show="newOpportunityForm.{{field.key}}.$invalid && !newOpportunityForm.{{field.key}}.$pristine" class="help-block text-danger" style="margin-top:-10px;margin-bottom:10px;">{{field.label}} is ng-required="field.newRequired" .</small>

                        </div>
                    </div>

                  </form>

          </div>

        <div class="modal-footer">
            <button class="btn btn-default btn-link" ng-click="$dismiss()">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="newOpportunityForm.$invalid">Save</button>
        </div>