

.no-mentions {
	display: block;
	padding:40px;
	text-align:center;

	img {
		width:40px;
		display: block;
		margin:auto;
	}

	icon {
		color:$granite;
		font-size:28px;
	}

	h5 {
		color:$seamonster;
		font-size:110%;
	}

	p {
		color:$dragonstone;
		max-width:300px;
		margin:auto;
	}
}