
            <div class="sidepanel more-sidepanel">
                <div class="sidepanel-header">
                    <a class="btn btn-link btn-left" href ng-click="$root.sidePanelOpen = !$root.sidePanelOpen">
                        <img src="../assets/img/icons/states/close.svg" alt="Close">
                    </a>

                    Mentions 
                </div>

                <div class="sidepanel-content">
                   
                    
                    <div class="no-mentions" ng-if="!data.mentions.length">
                        <img src="../../assets/img/icons/nav/mentions.svg" alt="Mentions">
                        <h5>No Mentions</h5>
                        <p>When users mention you, links to those comments will show up here.</p>
                    </div>

                </div>

            </div>
