
            <div class="sidepanel">

               
                <!-- sidebar overlay -->
                <div class="sidebar-overlay" ng-class="{'hidden': data.activated }">
                    <div class="loop-loader loop-loader-xs fadeInOut centered">Loading...</div>
                </div>


                <div class="sidepanel-header">
                    <a class="btn btn-link btn-left" href ng-if="!data.sidebarHistory.length" ng-click="$root.sidePanelOpen = !$root.sidePanelOpen">
                        <img src="../assets/img/icons/states/close.svg" alt="Close">
                    </a>
                    <a class="btn btn-link btn-left" href ng-if="data.sidebarHistory.length" ng-click="goBack()">
                        <img src="../assets/img/icons/states/cheveron-left.svg" alt="Go Back">
                        Back
                    </a>
                    <!-- <span class="text-left">Opportunity</span> -->
                    <a class="btn btn-default edit-button" ui-sref="app.company-edit({id: data.thisRecord.id})" ng-if="!data.thisRecord._isDeleted">
                        <icon class="fa fa-pencil"></icon> Edit
                    </a>

                    <a class="btn btn-primary btn-action" ng-click="unArchiveItem()" ng-if="data.thisRecord._isDeleted">
                        Un-Archive
                    </a>


                      <div class="btn-group btn-action" uib-dropdown is-open="$root.showActionMenu" dropdown-append-to-body="true" ng-if="!data.thisRecord._isDeleted">
                      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        Action<icon class="wb-triangle-down"></icon>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right action-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" keyboard-nav="true">
                      
                        <li class="text-divider">
                            <span class="text">Manage ...</span>
                            <span class="line"></span>
                        </li>
                        <li role="menuitem"><a href ng-click="addOwner()">
                          <img src="../assets/img/icons/actions/add-owner.svg" alt="Add Owner"> Owners</a></li>
                        <li role="menuitem"><a href ng-click="shareWith()">
                          <img src="../assets/img/icons/actions/share-with.svg" alt="Share With"> Shared With</a></li>
                        <li role="menuitem"><a href ng-click="manageRelationships()">
                          <img src="../assets/img/icons/actions/add-relationship.svg" alt="Add Relationship"> Related Records</a></li>
                        <li role="menuitem"><a href ng-click="manageTags()">
                          <img src="../assets/img/icons/actions/add-tag.svg" alt="Add Tag"> Tags</a></li>
                        <li class="text-divider">
                            <span class="text">Activities...</span>
                            <span class="line"></span>
                        </li>
                        <li role="menuitem"><a href ng-click="addNote()">
                          <img src="../assets/img/icons/actions/new-note.svg" alt="Add Note"> Add Note</a></li>
                        <li role="menuitem"><a href ng-click="logCall()">
                          <img src="../assets/img/icons/actions/log-call.svg" alt="Log Call"> Add Call</a></li>
                        <li role="menuitem"><a href ng-click="addTask()">
                          <img src="../assets/img/icons/actions/new-task.svg" alt="Add Task"> Add ToDo</a></li>
                      
                        <!-- //custom activity types -->

                        <li role="menuitem"><a href ng-click="addActivity(activityType)" ng-repeat="activityType in $root.activityTypes | filter: {'custom': true}">
                          <img src="../assets/img/icons/actions/new-task.svg" alt="Add Task"> Add {{activityType.label}}</a></li>

                        

                        <li role="menuitem"><a href ng-click="triggerUpload()">
                          <img src="../assets/img/icons/actions/add-file.svg" alt="Upload File"> Upload File</a></li>
                         <li class="text-divider">
                            <span class="text">Owner Actions...</span>
                            <span class="line"></span>
                        </li>
                        <li role="menuitem">
                          <a class="text-danger" href ng-click="deleteItem()">
                            <img src="../assets/img/icons/actions/delete-record.svg" alt="Delete Record"> Delete Record</a>
                        </li>

                      </ul>
                    </div>


                    <button class="btn btn-default btn-right" popover-title="Link To This Record" popover-placement="bottom"  uib-popover-template="'shared/templates/share-link.tpl.html'" popover-trigger="outsideClick" popover-is-open="data.shareLinkOpen" ng-if="!data.thisRecord._isDeleted">
                        <icon class="fa fa-link"></icon>
                    </button>

                </div>
               <div class="sidepanel-cover" ng-class="{'hidden': !data.activated }">
                   <div class="avatar avatar-48 square" ng-class="data.thisRecord.color">
                        <span ng-bind="data.thisRecord.name | limitTo:1"></span>
                    </div>
                    <div class="name-wrapper">
                        <h4>
                            <span ng-bind="data.thisRecord.name || '--'"></span>
                        </h4>
                        <p>
                           <span ng-bind="data.thisRecord.description || 'No Description'"></span>
                        </p>
                        <p>
                            <span ng-if="data.thisRecord.domain">
                                <a ng-href="//{{data.thisRecord.domain}}" target="_blank"><icon class="fa fa-globe"></icon> {{data.thisRecord.domain}}</a></span>
                            <span ng-if="!data.thisRecord.domain">No Domain</span>
                        </p>
                    </div>
                    <div class="social-wrapper">

                       <span ng-repeat="social in data.thisRecord.social" ng-switch="social.type">
                            <!-- linkedin -->
                           <span>
                              <a ng-href="{{social.value}}" target="_blank"><icon class="fa fa-linkedin-square linkedin"></icon></a>
                            </span>
                            <!-- twitter -->
                            <span>
                              <a ng-href="{{social.value}}" target="_blank"><icon class="fa fa-twitter-square twitter"></icon></a>
                            </span>
                            <!-- facebook -->
                            <span>
                              <a ng-href="{{social.value}}" target="_blank"><icon class="fa fa-facebook-square facebook"></icon></a>
                            </span>
                       </span>
                      
                    </div>
                  
                </div>
                <div class="sidepanel-tabs">
                    <div class="tabs-wrapper">
                        <ul class="nav nav-tabs nav-justified">
<!--                           <li ng-class="{ 'active': data.currentTab == 1 }"><a href ng-click="data.currentTab = 1">Insights</a></li> -->
                          <li ng-class="{ 'active': data.currentTab == 2 }"><a href ng-click="data.currentTab = 2">Details</a></li>
<!--                           <li ng-class="{ 'active': data.currentTab == 7 }"><a href ng-click="data.currentTab = 7">Milestones</a></li> -->
                          <li ng-class="{ 'active': data.currentTab == 4 }">
                            <a href ng-click="data.currentTab = 4">
                            Related
                          <span ng-bind="'[' + (data.thisRecord.entities.length + data.thisRecord.files.length) + ']'" ng-if="(data.thisRecord.entities.length + data.thisRecord.files.length) > 0"></span>
                          </a></li>
                          <li ng-class="{ 'active': data.currentTab == 3 }">
                            <a href ng-click="data.currentTab = 3">Activities
                            <span ng-bind="'[' + data.overdueActivities.length + ']'" ng-if="data.overdueActivities.length">2</span>
                            </a>
                          </li>
                          <li ng-class="{ 'active': data.currentTab == 5 }"><a href ng-click="data.currentTab = 5">History</a></li>
                        </ul>
                    </div>
                </div>
                <div class="sidepanel-content" ng-switch="data.currentTab">
                   <span ng-class="{'hidden': !data.activated }">
                      <span ng-switch-when="1">
                        <ng-include src="'shared/templates/company-insights.tpl.html'"></ng-include>
                      </span>
                      <span ng-switch-when="2">
                        <ng-include src="'shared/templates/details.tpl.html'"></ng-include>
                      </span>
                      <span ng-switch-when="7">
                        <ng-include src="'modules/opportunities/milestones.tpl.html'"></ng-include>
                      </span>
                      <span ng-switch-when="3">
                        <ng-include src="'shared/templates/tasks.tpl.html'"></ng-include>
                      </span>
                      <span ng-switch-when="4">
                        <ng-include src="'shared/templates/related.tpl.html'"></ng-include>
                      </span>
                      <span ng-switch-when="5">
                        <ng-include src="'shared/templates/activity-feed.tpl.html'"></ng-include>
                      </span>
                    </span>

                </div>

            </div>



              <!-- //hidden file upload button -->
              <button id="CompanyFileUpload" type="file" ngf-select="uploadFiles($files)" ngf-multiple="true" accept="image/*, .pdf, .doc, .docx, .xlsx" class="btn upload-btn hidden" ng-model="data.files" ngf-max-size="100MB">
                Browse Files
              </button>


              <script type="text/ng-template" id="myPopoverTemplate.html">
                    <div class="form-group" style="width:250px;">
                      <label>Record Url:</label>
                      <input type="text" ng-model="data.copyUrl" class="form-control" readonly focus-select>
                      <br>
                      <label>Record ID:</label>
                      <input type="text" ng-model="data.thisRecord.id" class="form-control" readonly>
                    </div>
                    </div>
                </script>
