 <div class="subheader">
              <div class="subheader-left pull-left">
                <button class="btn btn-default show-sidebar" uib-tooltip="Show Sidebar" tooltip-placement="bottom-left" tooltip-popup-delay="500" ng-click="$root.showDrawer = !$root.showDrawer">
                  <img src="../assets/img/icons/dark/show-sidebar.svg" alt="Open Sidebar">
                </button>
                  <!-- view dropdown -->
                <div class="btn-group view-toggler fadeInOut" uib-dropdown keyboard-nav ng-if="data.activated">
                    <button id="viewDropdown" type="button" class="btn btn-default btn-outline" uib-dropdown-toggle>
                        <span ng-bind="data.thisView.name || 'Select View'"></span> <span class="caret pull-right" style="margin-top:8px;"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="Views">
                        <li class="dropdown-header">System Views</li>
                        <li role="menuitem" ng-repeat="view in data.views | filter:{'type':'system'} | orderBy: 'name'" ng-class="{'active': view.id == data.thisView.id}">
                            <a href ng-click="changeView(view)">
                                <span ng-bind="view.name"></span> 
                                <span class="badge badge-primary pull-right">
                                    <span ng-bind="view.count | number:0"></span>
                                    <span>|</span>
                                    <span ng-bind="view.sum | thousandSuffix"></span> 
                                </span>
                            </a>
                        </li> 

                        <li class="dropdown-header" ng-if="(data.views | filter:{'type':'personal'}).length">Personal Views</li>
                        <li role="menuitem" ng-repeat="view in data.views | filter:{'type':'personal'} | orderBy: 'name'" ng-class="{'active': view.id == data.thisView.id}">
                            <a href ng-click="changeView(view)">
                                <span ng-bind="view.name"></span> 
                                <span class="badge badge-primary pull-right">
                                    <span ng-bind="view.count | number:0"></span>
                                    <span>|</span>
                                    <span ng-bind="view.sum | thousandSuffix"></span> 
                                </span>
                            </a>
                        </li>    

                        <li class="dropdown-header" ng-if="(data.views | filter:{'type':'shared'}).length">Shared Views</li>
                        <li role="menuitem" ng-repeat="view in data.views | filter:{'type':'shared'} | orderBy: 'name'" ng-class="{'active': view.id == data.thisView.id}">
                            <a href ng-click="changeView(view)">
                                <span ng-bind="view.name"></span> 
                                <span class="badge badge-primary pull-right">
                                    <span ng-bind="view.count | number:0"></span>
                                    <span>|</span>
                                    <span ng-bind="view.sum | thousandSuffix"></span> 
                                </span>
                            </a>
                        </li>            
                    </ul>
                </div>
              </div>
              <div class="subheader-right pull-right">
                <button class="btn btn-default"><icon class="fa fa-pencil"></icon> Edit Mode</button>
              </div>
            </div>