   <!-- //main content area for application -->
  <span id="drawer-content">
    <ng-include src="'shared/templates/drawer.tpl.html'"></ng-include>
  </span> 

 <div class="subheader">
              <div class="subheader-left pull-left">
                <button class="btn btn-default show-sidebar" uib-tooltip="Show Sidebar" tooltip-placement="bottom-left" tooltip-popup-delay="500" ng-click="$root.showDrawer = !$root.showDrawer">
                  <img src="../assets/img/icons/dark/show-sidebar.svg" alt="Open Sidebar">
                </button>
                  <!-- view dropdown -->
                <div class="btn-group view-toggler fadeInOut" uib-dropdown keyboard-nav ng-if="data.activated" auto-close="outsideClick">
                    <button id="viewDropdown" type="button" class="btn btn-default btn-outline" uib-dropdown-toggle>
                        <span ng-bind="data.thisView.name || 'Select View'"></span> <span class="caret pull-right" style="margin-top:8px;"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="Views">

                      <!-- search views -->
                      <div class="search-input">
                        <icon class="search-icon"></icon>
                          <input type="text" class="form-control" id="LocalSearch" placeholder="Search..." ng-model="data.searchViews" autofocus>
                          <button class="btn btn-link clear-search" ng-if="data.localSearch" ng-click="data.searchViews = ''">
                              <icon class="wb-plus-circle"></icon>
                          </button>
                      </div>

                        <li class="dropdown-header" ng-if="(data.views | filter:{'type':'system'} | filter:data.searchViews ).length">System Views</li>
                        <li role="menuitem" ng-repeat="view in data.views | filter:{'type':'system'} | filter:data.searchViews | orderBy: 'name'" ng-class="{'active': view.id == data.thisView.id}">
                            <a href ng-click="changeView(view)">
                                <span ng-bind="view.name"></span> 
                                <span class="badge badge-primary pull-right">
                                    <span ng-bind="view.count | number:0"></span>
                                    <span>|</span>
                                    <span ng-bind="view.sum | thousandSuffix"></span> 
                                </span>
                            </a>
                        </li>

                        <li class="dropdown-header" ng-if="(data.views | filter:{'type':'personal'} | filter:data.searchViews ).length">Personal Views</li>
                        <li role="menuitem" ng-repeat="view in data.views | filter:{'type':'personal'} | filter:data.searchViews | orderBy: 'name'" ng-class="{'active': view.id == data.thisView.id}">
                            <a href ng-click="changeView(view)">
                                <span ng-bind="view.name"></span> 
                                <span class="badge badge-primary pull-right">
                                    <span ng-bind="view.count | number:0"></span>
                                    <span>|</span>
                                    <span ng-bind="view.sum | thousandSuffix"></span> 
                                </span>
                            </a>
                        </li>    

                        <li class="dropdown-header" ng-if="(data.views | filter:{'type':'shared'} | filter:data.searchViews ).length">Shared Views</li>
                        <li role="menuitem" ng-repeat="view in data.views | filter:{'type':'shared'} | filter:data.searchViews | orderBy: 'name'" ng-class="{'active': view.id == data.thisView.id}">
                            <a href ng-click="changeView(view)">
                                <span ng-bind="view.name"></span> 
                                <span class="badge badge-primary pull-right">
                                    <span ng-bind="view.count | number:0"></span>
                                    <span>|</span>
                                    <span ng-bind="view.sum | thousandSuffix"></span> 
                                </span>
                            </a>
                        </li> 

                    </ul>
                </div>


            <span class="view-edit fadeInOut" ng-if="data.activated && !data.filterChanged && data.thisView.createdBy.id == $root.activeUser.id">
                <!-- edit view -->
                <button class="btn btn-link view-tool" uib-tooltip="Edit View" tooltip-placement="bottom" ng-click="editView()">
                    <icon class="wb-edit"></icon>
                </button>


                <span class="light-divider">|</span>

                <!-- edit view -->
                <button class="btn btn-link view-tool" uib-tooltip="Delete View" tooltip-placement="bottom" ng-click="deleteView()">
                    <icon class="wb-trash"></icon>
                </button>

            </span>

            <!-- make changes -->
            <span class="view-tools fadeInOut" ng-if="data.activated && data.filterChanged">
                <!-- edit view -->
                <button class="btn btn-link view-tool" uib-tooltip="Discard Changes" tooltip-placement="bottom" ng-click="discardChanges()">
                    <icon class="wb-close"></icon>
                </button>

                <!-- //only allow save view is owner -->
                <!-- /~~~~~~~~~~~~~~~~~~~~~~~~~~~~~/ -->
                <span ng-if="data.thisView.createdBy.id == $root.activeUser.id">

                    <span class="light-divider">|</span>

                    <!-- edit view -->
                    <button class="btn btn-link view-tool" uib-tooltip="Save View" tooltip-placement="bottom" ng-click="saveView()">
                        <icon class="wb-check"></icon>
                    </button>

                </span>

                <span class="light-divider">|</span>

                <!-- edit view -->
                <button class="btn btn-link view-tool" uib-tooltip="Save As ..." tooltip-placement="bottom" ng-click="saveViewAs()">
                    <icon class="wb-check"></icon>...
                </button>
            </span>

              </div>
              <div class="subheader-right pull-right">
               <div class="localSearch">
                <icon class="wb-search search-icon"></icon>
                  <input type="text" class="form-control" id="LocalSearch" placeholder="Search..." ng-model="data.localSearch" ng-change="changeLocalSearch()" ng-model-options="{debounce: 250}">
                  <button class="btn btn-link clear-search" ng-if="data.localSearch" ng-click="data.localSearch = ''; changeLocalSearch()">
                      <icon class="wb-plus-circle"></icon>
                  </button>
              </div>
              </div>
            </div>

            <div class="layout grid-layout">
            
               <!-- toolbar -->
                  <div class="toolbar">

                     <!-- bulk actions -->
                     <div class="pull-left">

                           <span ng-if="data.selectedData.items.length < 1 && !data.selectedData.selectAll">

                            <!-- //move other action buttons here -->
                                <button class="btn btn-default btn-outline" ng-click="sizeToFit()">
                                    <icon class="wb-expand"></icon>
                                    Size To Fit
                                </button>

                               <button class="btn btn-default btn-outline" ng-click="autoSize()">
                                    <icon class="wb-contract"></icon>
                                    Auto-Size
                                </button>

                            </span>



                          <!-- rows selected -->
                          <span class="rows-selected" ng-if="data.selectedData.items.length > 0 || data.selectedData.selectAll">

                                  <!-- Single button using append-to-body -->
                              <div class="btn-group" uib-dropdown dropdown-append-to-body>
                                <button id="btn-append-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                  Actions <icon class="icon wb-chevron-down-mini"></icon>
                              </button>
                              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                  <li role="menuitem">
                                      <a href ng-click="bulkAssign()">Assign Owner</a>
                                  </li>
                                  <li role="menuitem">
                                      <a href ng-click="bulkEdit()">Edit Value</a>
                                  </li>
                                  <li role="menuitem">
                                      <a href ng-click="bulkTag()">Add Tag</a>
                                  </li>
                      <!--                     <li role="menuitem" ng-if="data.selectedData.items.length < 30">
                                              <a href ng-click="bulkEmail()">Email</a>
                                          </li> -->
                                          <li role="menuitem">
                                              <a href ng-click="bulkExport()">Export</a>
                                          </li>
                                          <li role="menuitem">
                                              <a href ng-click="bulkCreateView()">Create View</a>
                                          </li>
                                          <li class="divider" permission="['BULK_DELETE']"></li>
                                          <li role="menuitem" permission="['BULK_DELETE']">
                                              <a href ng-click="bulkDelete()"><span class="text-danger">Delete</span></a>
                                          </li>
                                      </ul>
                                  </div>

                              <p class="text-inline pull-right" ng-class="{'hidden': data.selectedData.selectAll }">
                                  <span class="itemsLength" ng-bind="data.selectedData.items.length | number:0"></span> rows selected 
                                  <a href ng-click="clearSelected()">Clear Selected</a>
                              </p>

                              <p class="text-inline pull-right" ng-class="{'hidden': !data.selectedData.selectAll }">
                                  <span class="itemsLength" ng-bind="data.selectedData.length | number:0"></span> rows selected 
                                  <a href ng-click="clearSelected()">Clear Selected</a>
                              </p>
                          </span>

                      </div>


              <div class="pull-right toolbar-right">

                  <button class="btn btn-default btn-outline" ng-click="refreshView()">
                      <icon class="wb-loop"></icon>
                      Refresh
                  </button>

                  <button class="btn btn-default btn-outline" ng-click="exportView()" feature-flag="--EXPORT-VIEW--">
                      <icon class="wb-download"></icon>
                      Export
                  </button>

                  <button class="btn btn-default btn-outline" ng-click="importData()" feature-flag="--IMPORT-DATA--">
                      <icon class="wb-upload"></icon>
                      Import
                  </button>

              </div>

            </div>


              <div class="filter-bar">
                <div class="filterLabel" >
                      <span><icon class="wb-help-circle" uib-tooltip="See Your Current Applied Filters to the right" tooltip-placement="right" tooltip-popup-delay="500"></icon> Matches:</span>

                      <div class="btn-group rounded inverse two">
                        <button type="button" class="btn btn-default btn-sm btn-outline" ng-class="{'active': data.filterMatches == 'all' }" ng-click="data.filterMatches = 'all'; updateGrid();">
                          All
                        </button>
                        <button type="button" class="btn btn-default btn-sm btn-outline" ng-class="{'active': data.filterMatches == 'any' }" ng-click="data.filterMatches = 'any'; updateGrid();">
                          Any
                        </button>
                      </div>

                  </div>
                  <div class="filterTags">
                     <!-- filter tags -->
        <span ng-repeat="filter in data.filters">
            <!-- number / currency -->
            <span ng-switch="filter.type">
                <!-- number currency -->
                <div ng-switch-when="number" class="tag primary rounded"  ng-if="filter.filterActive">{{filter.label}}: {{filter.filterApplied}} 
                <span ng-if="filter.filterApplied !== 'range' && filter.filterApplied !== 'has-any-value' && filter.filterApplied !== 'is-unknown'">
                  <span ng-bind="(filter.filterValue | number:0 )"></span>
                </span>
                 <span ng-if="filter.filterApplied == 'range'">
                  <span ng-bind="(filter.filterValue.lower | number:0 )"></span>
                  -
                  <span ng-bind="(filter.filterValue.upper | number:0 )"></span>
                </span>

                    <div class="clear-filter-tag" ng-click="clearFilter(filter)">
                      <icon class="wb-close"></icon>
                    </div>
                </div>
                <!-- currency -->
                <div ng-switch-when="currency" class="tag primary rounded"  ng-if="filter.filterActive">{{filter.label}}: {{filter.filterApplied}} 

                <span ng-if="filter.filterApplied !== 'range'">
                  <span ng-bind="'$' + (filter.filterValue | number:0 )"></span>
                </span>
                 <span ng-if="filter.filterApplied == 'range'">
                  <span ng-bind="'$' + (filter.filterValue.lower | number:0 )"></span>
                  -
                  <span ng-bind="'$' + (filter.filterValue.upper | number:0 )"></span>
                </span>
                     <div class="clear-filter-tag" ng-click="clearFilter(filter)">
                      <icon class="wb-close"></icon>
                    </div>
                </div>
                <!-- date -->
                <div ng-switch-when="date|dateRange" ng-switch-when-separator="|" class="tag primary rounded"  ng-if="filter.filterActive">{{filter.label}}: {{filter.filterApplied}}
                    <!-- //single date -->
                    <span ng-if="filter.filterApplied == 'date-before' || filter.filterApplied == 'date-on' || filter.filterApplied == 'date-after'" ng-bind="(filter.filterValue | asDate | date: 'MMM d, y')"></span>
                    
                    <!-- //date range -->
                     <span ng-if="filter.filterApplied == 'date-range'">
                      <span ng-bind="(filter.filterValue.startDate | asDate | date: 'MMM d, y')"></span> 
                      - 
                      <span ng-bind="(filter.filterValue.endDate | asDate | date: 'MMM d, y')"></span>
                     </span>

                     <!-- relative date -->
                     <span ng-if="filter.filterApplied == 'date-more-than' || filter.filterApplied == 'date-exactly' || filter.filterApplied == 'date-less-than'" ng-bind="filter.filterValue.days + ' days ' + filter.filterValue.timeframe"></span>
                     <div class="clear-filter-tag" ng-click="clearFilter(filter)">
                      <icon class="wb-close"></icon>
                    </div>
                </div>
                <!-- category -->
                <div ng-switch-when="category" class="tag primary rounded"  ng-if="filter.filterActive">{{filter.label}}: {{filter.filterApplied}}
                    <span ng-repeat="value in filter.filterValue">{{value.label}}<span ng-if="filter.filterValue.length > 1">,</span></span>
                    <div class="clear-filter-tag" ng-click="clearFilter(filter)">
                      <icon class="wb-close"></icon>
                    </div>
                </div>
                <!-- category -->
                <div ng-switch-when="lookup" class="tag primary rounded"  ng-if="filter.filterActive">{{filter.label}}: {{filter.filterApplied}}
                    <span ng-repeat="value in filter.filterValue | limitTo:2">
                    <!-- //switch through various lookup types -->
                    <span ng-switch="filter.lookupEntity">
                      <!-- contact / appuser -->
                      <span ng-switch-when="Contact|Appuser" ng-switch-when-separator="|">
                        <span ng-bind="value.firstName"></span> <span ng-bind="value.lastName"></span>
                      </span>

                      <!-- contact / appuser / tag-->
                      <span ng-switch-when="Company|Opportunity|Tag" ng-switch-when-separator="|">
                        <span ng-bind="value.name"></span>
                      </span>

                    </span>
                    <span ng-if="filter.filterValue.length > 1" ng-class="{'hidden': $last }">,</span></span>

                    <span ng-if="filter.filterValue.length > 2">+ {{filter.filterValue.length - 2}}</span>
                                                            <!-- //clear filter -->
                    <div class="clear-filter-tag" ng-click="clearFilter(filter)">
                      <icon class="wb-close"></icon>
                    </div>
                </div>
                <!-- default -->
                <div ng-switch-default class="tag primary rounded" ng-if="filter.filterActive">{{filter.label}}: {{filter.filterApplied}} "{{filter.filterValue}}"

                                                          <!-- //clear filter -->
                    <div class="clear-filter-tag" ng-click="clearFilter(filter)">
                      <icon class="wb-close"></icon>
                    </div>
                </div>

            </span>
        </span>

                  </div>
                  <div class="filterDefault pull-right">

                      <span><icon class="wb-help-circle" uib-tooltip="Make this view your default for this entity" tooltip-placement="left" tooltip-popup-delay="500"></icon> Default:</span>
                      <span class="toggle toggle-success">
                          <input class="toggle-range" id="defaultToggle" type="checkbox" ng-model="data.default" ng-change="setUnsetDefault(data.default)">
                          <label class="toggle-btn" for="defaultToggle"></label>
                      </span>
                  </div>
              </div>
              <!-- grid -->
              <div class="grid-wrapper static with-footer data-grid">
                <div class="loop-loader loop-loader-xs pre-loader" ng-class="{'hidden': data.grid}" style="z-index:999">Loading...</div>
                <div ag-grid="data.grid" class="ag-fresh" style="height: 100%; width:100%;" ng-if="data.grid"></div>
              </div>

              <div class="grid-footer">
                 <!-- //normal  -->
                    <span class="gridFooter-wrapper fadeInOut"  ng-class="{'hidden': data.localSearch}">
                        <div class="pull-left">
                            <span>
                                <span style="font-weight:600" ng-count-to="{{data.count}}" value="0" duration=".25" filter="number"></span> Opportunities
                            </span>
                            <span ng-if="data.currentEntity == 'Opportunity'">
                            <span class="footer-seperator">|</span>
                            <span>
                                <span style="font-weight:600" ng-count-to="{{data.sum}}" value="0" duration=".25" filter="currency" params="$"></span> 
                                Total
                            </span>
                            </span>
                        </div>

                        <div class="pull-right" ng-if="data.currentEntity == 'Opportunity'">
                            <span><b>Min</b> - <span ng-count-to="{{data.min}}" value="0" duration=".25" filter="currency" params="$"></span></span>
                            <span><b>Max</b> - <span ng-count-to="{{data.max}}" value="0" duration=".25" filter="currency" params="$"></span></span>
                            <span><b>Avg</b> - <span ng-count-to="{{data.avg}}" value="0" duration=".25" filter="currency" params="$"></span></span>
                        </div>
                    </span>


                     <span class="gridFooter-wrapper fadeInOut searchResultsTotal"  ng-class="{'hidden': !data.localSearch}">
                        <div class="pull-left">
                           <span class="color-topaz">
                             <b><span ng-count-to="{{data.localSearchLength.value}}" value="0" duration=".25"></span> Results</b> for your search <b>"{{data.localSearch}}"</b> within view:<b>"{{data.thisView.name}}"</b>
                           </span>
                        </div>

                      </span>

              </div>

            </div>

            </div>