<div class="subheader">
			  <div class="subheader-left pull-left">
<div class="btn-group view-toggler fadeInOut ng-scope dropdown" uib-dropdown="" keyboard-nav="" auto-close="outsideClick" style="">
                    <button id="viewDropdown" type="button" class="btn btn-default btn-outline dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                        <span ng-bind="data.thisView.name || 'Select User'" class="ng-binding">All Opportunities</span> <span class="caret pull-right" style="margin-top:8px;"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="Views">

                      <!-- search views -->
                      <div class="search-input">
                        <icon class="search-icon"></icon>
                          <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" id="LocalSearch" placeholder="Search..." ng-model="data.searchViews" autofocus="" style="">
                          <!-- ngIf: data.localSearch -->
                      </div>

                        <!-- ngIf: (data.views | filter:{'type':'system'} | filter:data.searchViews ).length --><li class="dropdown-header ng-scope" ng-if="(data.views | filter:{'type':'system'} | filter:data.searchViews ).length">System Views</li><!-- end ngIf: (data.views | filter:{'type':'system'} | filter:data.searchViews ).length -->
                        <!-- ngRepeat: view in data.views | filter:{'type':'system'} | filter:data.searchViews | orderBy: 'name' --><li role="menuitem" ng-repeat="view in data.views | filter:{'type':'system'} | filter:data.searchViews | orderBy: 'name'" ng-class="{'active': view.id == data.thisView.id}" class="ng-scope active">
                            <a href="" ng-click="changeView(view)">
                                <span ng-bind="view.name" class="ng-binding">All Opportunities</span> 
                                <span class="badge badge-primary pull-right">
                                    <span ng-bind="view.count | number:0" class="ng-binding">2,886</span>
                                    <span>|</span>
                                    <span ng-bind="view.sum | thousandSuffix" class="ng-binding">357M</span> 
                                </span>
                            </a>
                        </li><!-- end ngRepeat: view in data.views | filter:{'type':'system'} | filter:data.searchViews | orderBy: 'name' --><li role="menuitem" ng-repeat="view in data.views | filter:{'type':'system'} | filter:data.searchViews | orderBy: 'name'" ng-class="{'active': view.id == data.thisView.id}" class="ng-scope">
                            <a href="" ng-click="changeView(view)">
                                <span ng-bind="view.name" class="ng-binding">My Lost Opportunities</span> 
                                <span class="badge badge-primary pull-right">
                                    <span ng-bind="view.count | number:0" class="ng-binding">0</span>
                                    <span>|</span>
                                    <span ng-bind="view.sum | thousandSuffix" class="ng-binding">0</span> 
                                </span>
                            </a>
                        </li><!-- end ngRepeat: view in data.views | filter:{'type':'system'} | filter:data.searchViews | orderBy: 'name' --><li role="menuitem" ng-repeat="view in data.views | filter:{'type':'system'} | filter:data.searchViews | orderBy: 'name'" ng-class="{'active': view.id == data.thisView.id}" class="ng-scope">
                            <a href="" ng-click="changeView(view)">
                                <span ng-bind="view.name" class="ng-binding">My Opportunities</span> 
                                <span class="badge badge-primary pull-right">
                                    <span ng-bind="view.count | number:0" class="ng-binding">0</span>
                                    <span>|</span>
                                    <span ng-bind="view.sum | thousandSuffix" class="ng-binding">0</span> 
                                </span>
                            </a>
                        </li><!-- end ngRepeat: view in data.views | filter:{'type':'system'} | filter:data.searchViews | orderBy: 'name' -->

                        <!-- ngIf: (data.views | filter:{'type':'personal'} | filter:data.searchViews ).length --><li class="dropdown-header ng-scope" ng-if="(data.views | filter:{'type':'personal'} | filter:data.searchViews ).length">Personal Views</li><!-- end ngIf: (data.views | filter:{'type':'personal'} | filter:data.searchViews ).length -->
                        <!-- ngRepeat: view in data.views | filter:{'type':'personal'} | filter:data.searchViews | orderBy: 'name' --><li role="menuitem" ng-repeat="view in data.views | filter:{'type':'personal'} | filter:data.searchViews | orderBy: 'name'" ng-class="{'active': view.id == data.thisView.id}" class="ng-scope">
                            <a href="" ng-click="changeView(view)">
                                <span ng-bind="view.name" class="ng-binding">Contains American</span> 
                                <span class="badge badge-primary pull-right">
                                    <span ng-bind="view.count | number:0" class="ng-binding">16</span>
                                    <span>|</span>
                                    <span ng-bind="view.sum | thousandSuffix" class="ng-binding">448k</span> 
                                </span>
                            </a>
                        </li><!-- end ngRepeat: view in data.views | filter:{'type':'personal'} | filter:data.searchViews | orderBy: 'name' --><li role="menuitem" ng-repeat="view in data.views | filter:{'type':'personal'} | filter:data.searchViews | orderBy: 'name'" ng-class="{'active': view.id == data.thisView.id}" class="ng-scope">
                            <a href="" ng-click="changeView(view)">
                                <span ng-bind="view.name" class="ng-binding">Owners:JB</span> 
                                <span class="badge badge-primary pull-right">
                                    <span ng-bind="view.count | number:0" class="ng-binding">0</span>
                                    <span>|</span>
                                    <span ng-bind="view.sum | thousandSuffix" class="ng-binding">0</span> 
                                </span>
                            </a>
                        </li><!-- end ngRepeat: view in data.views | filter:{'type':'personal'} | filter:data.searchViews | orderBy: 'name' --><li role="menuitem" ng-repeat="view in data.views | filter:{'type':'personal'} | filter:data.searchViews | orderBy: 'name'" ng-class="{'active': view.id == data.thisView.id}" class="ng-scope">
                            <a href="" ng-click="changeView(view)">
                                <span ng-bind="view.name" class="ng-binding">Stars Align</span> 
                                <span class="badge badge-primary pull-right">
                                    <span ng-bind="view.count | number:0" class="ng-binding">2,886</span>
                                    <span>|</span>
                                    <span ng-bind="view.sum | thousandSuffix" class="ng-binding">357M</span> 
                                </span>
                            </a>
                        </li><!-- end ngRepeat: view in data.views | filter:{'type':'personal'} | filter:data.searchViews | orderBy: 'name' -->    

                        <!-- ngIf: (data.views | filter:{'type':'shared'} | filter:data.searchViews ).length -->
                        <!-- ngRepeat: view in data.views | filter:{'type':'shared'} | filter:data.searchViews | orderBy: 'name' --> 

                    </ul>
                </div>
			  </div>
              <div class="subheader-right pull-right">

              	 <div class="view-types pulse-types pull-left">
                  <div class="btn-group">
                    <a href ui-sref-active="active" ui-sref="app.pulse.outlook" class="btn btn-default">Outlook</a>
                    <a href ui-sref-active="active" ui-sref="app.pulse.goals" class="btn btn-default">Goals</a>
                    <a href ui-sref-active="active" ui-sref="app.pulse.agenda" class="btn btn-default">Agenda</a>
                  </div>
              </div>
              </div>
</div>


<div class="layout dashboard-layout">
	
	<div class="container puls-container" ng-switch="data.currentTab">
			
		<span ui-view="pulse-content"></span>
	
	</div>

</div>