<div class="subheader">
              <div class="subheader-left pull-left">
               		<div class="tabs-wrapper">
					<ul class="nav nav-tabs">
					  <li ng-class="{ 'active': data.currentTab == 1 }" class="active"><a href="" ng-click="data.currentTab = 1">Outlook</a></li>
					  <li ng-class="{ 'active': data.currentTab == 3 }" class="active"><a href="" ng-click="data.currentTab = 3">Goals</a></li>
					  <li ng-class="{ 'active': data.currentTab == 2 }"><a href="" ng-click="data.currentTab = 2">Metrics</a></li>
					</ul>
				</div>
              </div>
</div>


<div class="layout dashboard-layout">
	
	<div class="container" ng-switch="data.currentTab">
		
		<div class="outlook-wrapper" ng-switch-when="1">
		<div class="row">
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-body">
						Chart
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-body">
						Chart
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<h5>Sales Performance</h5>
			</div>
			<div class="col-xs-6">
				<button class="btn btn-default">Select Date Range</button>
			</div>
			<br>
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>$3M | 15 Opps</h4>
						<p>Current Pipeline (3.1x Quota)</p>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>$1M | 4 Opps</h4>
						<p>Won (32% Win Rate)</p>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>$1M | 4 Opps</h4>
						<p>Lost (32% Win Rate)</p>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>$1M | 4 Opps</h4>
						<p>Parked (32% Win Rate)</p>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>60%</h4>
						<p>Next Steps Planned</p>
					</div>
				</div>

			</div>
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>40%</h4>
						<p>No Course Of Action</p>
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<h5>Forecast Summary</h5>
			</div>
			<div class="col-xs-6">
				<button class="btn btn-default">Select Date Range</button>
			</div>
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>$3.2M</h4>
						<p>Quota (3.2M Gap)</p>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>$1.4M | 8 Opps</h4>
						<p>Predicted Wins</p>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>$1.2M | 6 Opps</h4>
						<p>Best Case</p>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>$1.8M | 6 Opps</h4>
						<p>Stars Align</p>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>$1.8M | 4 Opps</h4>
						<p>Omitted</p>
					</div>
				</div>
			</div>
			
		</div>


		<div class="row">
			<div class="col-xs-6">
				<h5>What's Changed</h5>
			</div>
			<div class="col-xs-6">
				<button class="btn btn-default">Select Date Range</button>
			</div>
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4><icon class="fa fa-arrow-up"></icon> $3.2M</h4>
						<p>Pulled In / New Pipeline</p>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4><icon class="fa fa-arrow-down"></icon> $2.2M</h4>
						<p>Pushed Out / Lost</p>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>$1.2M | 6 Opps</h4>
						<p>Forecast Improved</p>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>$1.2M | 6 Opps</h4>
						<p>Forecast Decreased</p>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>$1.2M | 6 Opps</h4>
						<p>Score Improved</p>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>$1.2M | 6 Opps</h4>
						<p>Score Decreased</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<h5>Top Opportunities</h5>
				<span class="pull-right">
					Size | Score
				</span>
			</div>
			<div class="col-xs-6">
				<h5>Activity Volume</h5>
				<span class="pull-right">
					Most Activity | Least Activity
				</span>
			</div>

			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<p>Opps</p>
					</div>
				</div>

			</div>
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<p>Opps</p>
					</div>
				</div>
			</div>
		</div>
		</div>

		<!-- //tasks -->
		<div class="outlook-wrapper" ng-switch-when="2">
		
		<h5>Agenda</h5>

		<div class="row">
			<div class="col-xs-4">
				<div class="panel panel-default card task-card">
			<div class="panel-body">
				<div class="name-wrapper">
				<div class="task-checkbox">
					<input class="magic-checkbox ng-scope" type="checkbox" name="layout" id="1" value="option">
					<label class="text ng-scope" for="1"></label>
				</div>
				<h4>[Call] Follow Up With Susan Next Wekk Abpout this thing</h4>
				<p>Jordan Berry, +2</p>
				<p>Due May 5, 2017</p>
				</div>
			</div>
		</div>
			</div>
			<div class="col-xs-4">
				<div class="panel panel-default card task-card">
			<div class="panel-body">
				<div class="name-wrapper">
				<div class="task-checkbox">
					<input class="magic-checkbox ng-scope" type="checkbox" name="layout" id="1" value="option">
					<label class="text ng-scope" for="1"></label>
				</div>
				<h4>[Call] Follow Up With Susan Next Wekk Abpout this thing</h4>
				<p>Jordan Berry, +2</p>
				<p>Due May 5, 2017</p>
				</div>
			</div>
		</div>
			</div>
			<div class="col-xs-4">
				<div class="panel panel-default card task-card">
			<div class="panel-body">
				<div class="name-wrapper">
				<div class="task-checkbox">
					<input class="magic-checkbox ng-scope" type="checkbox" name="layout" id="1" value="option">
					<label class="text ng-scope" for="1"></label>
				</div>
				<h4>[Call] Follow Up With Susan Next Wekk Abpout this thing</h4>
				<p>Jordan Berry, +2</p>
				<p>Due May 5, 2017</p>
				</div>
			</div>
		</div>
			</div>
		</div>

		</div>


	</div>

</div>