<!-- loading -->
<div class="loop-loader loop-loader-light loop-loader-xs centered" ng-class="{'hidden': data.activated }"></div>

<div class="settings-right" ng-class="{'hidden': !data.activated }">
	<h4>Notifications</h4>
			
	<div class="panel panel-default panel-light">
		<div class="panel-heading">
			Test Various Notification Types Below:
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-3">
					<h5>Actions:</h5>
						
						<p style="margin:15px;">Coming Soon...</p>

					<br>
				</div>
				<div class="col-xs-8 col-xs-offset-1">
					<div class="form-group">
						<label for="notification-title">Notification Title</label>
						<input id="notification-title" type="text" class="form-control" ng-model="data.title">
					</div>

					<div class="form-group">
						<label for="notification-body">Notification Body</label>
						<textarea name="" id="notification-body" cols="30" rows="5" class="form-control" ng-model="data.body"></textarea>
					</div>
					
						
					<button class="btn btn-primary pull-right" ng-disabled="!data.title" ng-click="sendNotification()">Send Notification</button>
				</div>
			</div>
		</div>
	</div>
	
</div>

