    <div class="modal-header header-dark">
        <h3 class="modal-title" id="modal-title">Edit View</h3>
        
        <!-- close button -->
        <button type="button" class="close" ng-click="$dismiss()">
            <icon class="wb-close-mini"></icon>
        </button>

    </div>
    <div class="modal-body w-padding" id="modal-body">

       <!-- save view form -->
        <form name="saveViewForm" class="form-horizontal" autocomplete="false" novalidate>
          <div class="form-group">
            <label for="viewName" class="col-sm-3 control-label text-left">View Name:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="viewName" placeholder="Enter View Name" ng-model="data.view.name" autofocus required>
            </div>
          </div>
          <div class="form-group" >
            <label for="viewAccess" class="col-sm-3 control-label text-left">View Type:</label>
            <div class="col-sm-8">
              <div ng-if="data.view.type == 'system'" class="radio radio-inline" >
                <div class="radio-custom radio-primary"> 
                  <input type="radio" name="viewAccess" id="system" value="system" ng-model="data.view.type" ng-disabled="data.isSystem">
                  <label for="system">
                      System
                  </label>
                </div>
              </div>

              <div ng-if="data.view.type !== 'system'"  class="radio radio-inline" ng-disabled="data.type == 'system'" style="padding-left:0px;">
                  <div class="radio-custom radio-primary">    
                    <input class="magic-radio" type="radio" name="viewAccess" id="personal" value="personal" ng-model="data.view.type">
                    <label for="personal">
                        Personal
                    </label>
                  </div>
              </div>
              <div ng-if="data.view.type !== 'system'"  class="radio radio-inline" >
                <div class="radio-custom radio-primary"> 
                  <input class="magic-radio" type="radio" name="viewAccess" id="shared" value="shared" ng-model="data.view.type">
                  <label for="shared">
                      Shared
                  </label>
                </div>
              </div>

            </div>
          </div>

          <br>
          

           <!-- share with section -->
             <div class="form-group" ng-if="data.view.type == 'shared'">
                <label class="col-xs-3" for="shareView">Share With:</label>
              <div class="multiple-select" style="width: 62%;float: left;margin: 0 15px;">
              <img class="multiple-icon" src="../assets/img/icons/dark/cheveron-down.svg" alt="Select Users">
              <ui-select multiple ng-model="data.selectedSharedWith" theme="bootstrap" ng-click="$select.activate()" minimum-input-length="2">
                <ui-select-match placeholder="Select Users or Teams...">
                  <span ng-if="$item.type == 'user'">
                    <div class="avatar avatar-16" ng-class="$item.color">
                        <span ng-bind="$item.firstName | limitTo:1"></span><span ng-bind="$item.lastName | limitTo:1"></span>
                      </div>
                      <span ng-bind="$item.firstName"></span> <span ng-bind="$item.lastName"></span>
                  </span>
                  <span ng-if="$item.type == 'team'">
                    <span ng-bind="$item.name"></span>
                  </span>
                </ui-select-match>
                <ui-select-choices repeat="item in data.choices | filter: $select.search | orderBy: 'firstName'" group-by="'type'">

                  <span ng-if="item.type == 'team'">
                    <span ng-bind="item.name"></span>
                    <br>
                    <small>
                    <span ng-bind="item.members.length || '0'"></span> Members
                    </small>
                  </span>

                  <span ng-if="item.type == 'user'">
                  <div class="avatar avatar-24" ng-class="item.color">
                    <span ng-bind="item.firstName | limitTo:1"></span><span ng-bind="item.lastName | limitTo:1"></span>
                    </div>
                    <span ng-bind-html="item.firstName | highlight: $select.search"></span> <span ng-bind-html="item.lastName | highlight: $select.search"></span>
                    <small ng-bind-html="item.email | highlight: $select.search"></small>
                  </span>

                </ui-select-choices>
              </ui-select>
              <ui-select-no-choice>
              <span class="no-results" ng-if="!(data.people | filter: $select.search).length && !data.serverError">
                No Results Found Matching <b>"{{$select.search}}"</b>
                </span>
                <span class="server-error" ng-if="!(data.people | filter: $select.search).length && data.serverError">
                  The servier did not respond
                  <br>
                  <button class="btn btn-default">Retry</button>
                </span>
              </ui-select-no-choice>
            </div>
        </div>

        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-subtle" ng-click="$dismiss()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="!data.view.name">Save View</button>
    </div>