<div class="loop-loader loop-loader-xs loop-loader-light centered" ng-class="{'hidden': data.activated}" style="z-index:999">Loading...</div>

<div class="settings-section fadeInOut" ng-if="data.activated">
	<div class="panel panel-default panel-light">
		<div class="panel-heading">
			<h3>Won / Loss Reasons</h3>
			<p>Add Won / Loss Reasons for opportunities</p>

			<button class="btn btn-primary button-top new-users" ng-click="addReason()">+ Add Reason</button>
		</div>
		<div class="panel-body" style="padding:0px;">


		<ul class="nav nav-tabs" role="tablist">
		    <li ng-class="{'active': data.currentType == 'won'}">
		      <a href ng-click="changeType('won')">
		      	Won Reasons
		      </a>
		    </li>
		    <li ng-class="{'active': data.currentType == 'lost'}">
		      <a href ng-click="changeType('lost')">
		      	Lost Reasons
		      </a>
		    </li>
		</ul>

		<div class="tab-wrap" style="padding:20px;">
			<div class="row">
				<div class="col-xs-12">
					
					  <table class="table settings-table">
					    <thead>
					      <tr>
					        <th class="col-xs-3">Reason Name</th>
		              	    <th class="col-xs-3">Description</th>
		                    <th class="col-xs-1"></th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr ng-repeat="reason in data.reasons">
					        <td>
					       	<p style="display:inline-block;" ng-bind="reason.label || '--'"></p>      	
					        </td>
					        <td>
								<p ng-bind="reason.field || '--'"></p>
					        </td>
					        <td>
								<p ng-bind="reason.description || '--'"></p>
					        </td>
					        <td>
								<!-- if locked -->
					        	<span ng-if="reason.locked" class="locked-item" uib-tooltip="This Field Is Required">
					        		<icon class="wb-lock"></icon>
					        	</span>
					        	<!-- //if can be activated -->
					        	<span class="toggle toggle-success" ng-if="!reason.locked">
							        <input class="toggle-range" id="{{reason.id}}" type="checkbox" ng-model="reason.active">
							        <label class="toggle-btn" for="{{reason.id}}" style="margin-left: 20px; margin-bottom:-5px;"></label>
						        </span>

					        </td>
					        <td>
					      	<button class="btn btn-default edit-label" ng-click="editReason(reason)">
					      		<icon class="fa fa-pencil"></icon>
					      	</button>
					      </td>
					      </tr>
					      
					    </tbody>
					  </table>

			  </div>
			</div>
		  </div>
		</div>
	</div>
</div>