<div class="loop-loader loop-loader-xs loop-loader-light centered" ng-class="{'hidden': data.activated}" style="z-index:999">Loading...</div>



		<div class="settings-container" ng-if="data.activated">

				<!-- import your data -->
				<div class="settings-section">
					<div class="settings-header">
					<h4>Won / Loss Reasons</h4>
					<p>Add Won / Loss Reasons for opportunities</p>
					<button class="btn btn-primary button-top new-users" ng-click="addReason()">+ Add Reason</button>
					</div>


					<div class="panel panel-default with-tabs">
						<div class="panel-heading">
						 	<ul class="nav nav-tabs" role="tablist">
							      <li ng-class="{'active': data.currentType == 'won'}">
								      <a href ng-click="changeType('won')">
								      	Won Reasons
								      </a>
								    </li>
								    <li ng-class="{'active': data.currentType == 'lost'}">
								      <a href ng-click="changeType('lost')">
								      	Lost Reasons
								      </a>
								    </li>
							</ul>
						</div>
						<div class="panel-body">
							<div class="loop-loader loop-loader-xs loop-loader-light centered" ng-class="{'hidden': !data.loading}" style="z-index:999">Loading...</div>



							<table class="table settings-table" ng-if="!data.loading">
								    <thead>
								      <tr>
								        <th class="col-xs-3">Reason Name</th>
					              	    <th class="col-xs-8">Description</th>
					                    <th class="col-xs-1"></th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr ng-repeat="reason in data.reasons | orderBy: 'label'">
								        <td>
								       	<span style="display:inline-block;" ng-bind="reason.label || '--'"></span>      	
								        </td>
								        <td style="overflow:hidden; text-overflow:ellipsis;">
											<span uib-tooltip="{{reason.description}}" ng-bind="reason.description || '--'"></span>
								        </td>
								        <td>
								      	<button class="btn btn-default edit-label" ng-click="editReason(reason)" uib-tooltip="Edit Reason">
								      		<icon class="fa fa-pencil"></icon>
								      	</button>
								      	<button class="btn btn-default edit-label" ng-click="deleteReason(reason)" uib-tooltip="Delete Reason">
								      		<icon class="fa fa-trash"></icon>
								      	</button>
								      </td>
								      </tr>
								      
								    </tbody>
								  </table>



								  	<div class="empty-state text-center" ng-if="!data.reasons.length">
								     	<h5>No Reasons</h5>
								     	<p>Tracking what helped lead to a win or a loss will allow for historical analysis</p>
								     	<button class="btn btn-primary" ng-click="addReason()">Create New Reason</button>
								     </div>

						</div>
					</div>
				</div>
		</div>