
<!-- details -->
<div class="sidebar-section">
<p class="sidepanel-title first">Overview</p>
  <div class="card">
    <p>Everyone's Private Driver.</p>
  </div>
</div>

<!-- details -->
<div class="sidebar-section">
<p class="sidepanel-title">Stats</p>
    <div class="card">
    <p>
      uber.com
      <br>
      Transportation
      <br>
      Sharing Economy
      <br>
      Sharing Economy > Ride Sharing
      <br>
      Software > Mobile Applications
      <br>
      B2c
      Founded in 2009
      <br>
      Raised $14.7B
      <br>
    </p>
  </div>
</div>

<!-- Stats include:

Markets: array

Description

No Of Employees

Year Founded

Type of Company - B2B, B2C, Etc

City 

Country -->

<!-- Amount Raises -->

<!-- details -->
<div class="sidebar-section">
<p class="sidepanel-title">News</p>
  <div class="pane-wrapper">
    
  </div>
</div>

<!-- details -->
<div class="sidebar-section">
<p class="sidepanel-title">Social</p>
  <div class="pane-wrapper">
    
  </div>
</div>


