 <form name="$root.detailsForm" novalidate autocomplete="off">
                      <div class="row">

                          <div ng-class="field.class || 'col-xs-12'" ng-repeat="field in data.fields | filter: {excludeForm: '!true'}" ng-switch="field.type">
                                              <!-- divider -->
                              <div class="form-group" ng-switch-when="divider" ng-class="{ 'has-error' : detailsForm[field.key].$invalid && !detailsForm[field.key].$pristine }">
                                <h5 class="pane-title">{{field.label}} <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                                </h5>
                              </div>

                               <!-- string -->
                               <div class="form-group" ng-switch-when="string" ng-class="{ 'has-error' : detailsForm[field.key].$invalid && !detailsForm[field.key].$pristine }">
                                <label for="{{field.key}}" ng-bind="field.label"></label>
                                <input name="{{field.key}}" type="text" class="form-control" id="{{field.key}}" placeholder="" ng-model="data.thisRecord[field.key]" ng-disabled="field.disabled">
                              </div>

                              <!-- formula field - readonly & not shown on new form -->
                               <div class="form-group" ng-switch-when="formula" ng-class="{ 'has-error' : detailsForm[field.key].$invalid && !detailsForm[field.key].$pristine }">
                                <label for="{{field.key}}" ng-bind="field.label"></label>
                                <input name="{{field.key}}" type="text" class="form-control" id="{{field.key}}" placeholder="" ng-model="data.thisRecord[field.key]" ng-disabled="field.disabled" readonly ng-if="!data.newForm">
                              </div>

                              <!-- textarea -->
                               <div class="form-group" ng-switch-when="textarea" ng-class="{ 'has-error' : detailsForm[field.key].$invalid && !detailsForm[field.key].$pristine }">
                                <label for="{{field.key}}">
                                  <span ng-bind="field.label"></span>
                                  <span class="required-field" ng-if="field.newRequired">*</span>
                                  <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                                </label>
                                <textarea name="{{field.key}}" class="form-control" ng-model="data.thisRecord.description" msd-elastic style="min-height:120px;"
                                      id="{{field.key}}" placeholder="" ng-model="data.thisRecord[field.key]" ng-disabled="field.disabled" ng-required="field.newRequired"></textarea>
                               </div>


                                <div class="form-group" ng-switch-when="domain" ng-class="{ 'has-error' : newRecordFormForm.{{field.key}}.$invalid && !newRecordFormForm.{{field.key}}.$pristine }">
                              <label for="{{field.key}}">
                                <span ng-bind="field.label"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                                <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                              </label>
                              <div class="input-group">
                                <span class="input-group-addon">http(s)://</span>
                                 <input name="{{field.key}}" type="text" class="form-control" id="{{field.key}}" placeholder="" ng-model="data.thisRecord[field.key]" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled" ng-required="field.newRequired" >
                              </div>
                              
                              <div class="domain-suggestion" ng-if="data.domainSuggestions.length">
                                <p><small>Suggested domains:</small></p>
                                <span class="tag tag-info rounded" ng-repeat="suggestion in data.domainSuggestions | limitTo: 5" ng-click="data.thisRecord[field.key] = suggestion.domain; data.domainSuggestions = [];">
                                  <span ng-bind="suggestion.domain"></span>
                                </span>
                              </div>
                             
                            </div>

                                <!-- number -->
                               <div class="form-group" ng-switch-when="number" ng-class="{ 'has-error' : detailsForm[field.key].$invalid && !detailsForm[field.key].$pristine }">
                                <label for="{{field.key}}" ng-bind="field.label"></label>
                                <input name="{{field.key}}" type="number" class="form-control" name="valueInputCurrency" ng-model="data.thisRecord[field.key]" ng-disabled="field.disabled" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                              </div>

                              <!-- currency -->
                               <div class="form-group" ng-switch-when="currency" ng-class="{ 'has-error' : detailsForm[field.key].$invalid && !detailsForm[field.key].$pristine }">
                                <label for="{{field.key}}" ng-bind="field.label"></label>
                                <input name="{{field.key}}" type="number" class="form-control" name="valueInputCurrency" ng-model="data.thisRecord[field.key]" ng-disabled="field.disabled" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                              </div>

                              <!-- date -->
                               <div class="form-group" ng-switch-when="date" ng-class="{ 'has-error' : detailsForm[field.key].$invalid && !detailsForm[field.key].$pristine }">
                                <label for="{{field.key}}" ng-bind="field.label"></label>
                                <input name="{{field.key}}" type="text" date-range-picker class="form-control date-picker" id="{{field.key}}" ng-model="data.thisRecord[field.key]" options="$root.options" ng-disabled="field.disabled" ui-mask="99/99/9999"  ui-mask-placeholder ui-mask-placeholder-char=" "/>
                              </div>

                              <!-- boolean -->
                              <div class="form-group" ng-switch-when="boolean">
                                <input name="{{field.key}}" class="magic-checkbox" type="checkbox" name="layout" id="{{field.key}}" ng-model="data.thisRecord[field.key]">
                                <label class="text" for="{{field.key}}">
                                    {{field.label}}
                                </label>
                              </div>

                              <!-- picklists -->
                              <div class="form-group" ng-switch-when="category" ng-class="{ 'has-error' : detailsForm[field.key].$invalid && !detailsForm[field.key].$pristine }">
                              <label for="{{field.key}}" ng-bind="field.label"></label>
                              <ui-select  name="{{field.key}}" ng-model="data.thisRecord[field.key]" on-select="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled">
                                <ui-select-match placeholder="Select options...">
                                  <span>
                                    <span class="name">{{$select.selected.label}}</span>
                                  </span>
                                </ui-select-match>
                                <ui-select-choices repeat="value in field.values | filter: $select.search">
                                    <span ng-bind-html="value.label | highlight: $select.selected.value"></span>
                                </ui-select-choices>
                              </ui-select>
                              </div>


                              <!-- multi select -->
                              <div class="form-group" ng-switch-when="multi" ng-class="{ 'has-error' : detailsForm[field.key].$invalid && !detailsForm[field.key].$pristine }">
                              <div class="multiple-select">
                                <img class="multiple-icon" src="../assets/img/icons/dark/cheveron-down.svg" alt="Select Users">
                                  <label for="{{field.key}}">
                                      <span ng-bind="field.label"></span>
                                      <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                                    </label>
                                  <ui-select name="{{field.key}}"  multiple ng-model="data.thisRecord[field.key]" on-select="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled">
                                    <ui-select-match placeholder="Select options...">
                                      <span>
                                        <span class="name">{{$select.selected.label}}</span>
                                      </span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="value in field.values | filter: $select.search">
                                        <span ng-bind-html="value.label | highlight: $select.selected.value"></span>
                                    </ui-select-choices>
                                  </ui-select>
                                  </div>
                              </div>


                              <!-- mixed select -->
                            <div class="form-group" ng-switch-when="mixed-select" ng-class="{ 'has-error' : detailsForm[field.key].$invalid && !detailsForm[field.key].$pristine }">
                            <label for="{{field.key}}">
                              <span ng-bind="field.label"></span>
                              <span class="required-field" ng-if="field.newRequired">*</span>
                              <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                            </label>

                            <ui-select name="{{field.key}}" ng-model="data.thisRecord[field.key]" ng-disabled="field.disabled" ng-required="field.newRequired"  ng-if="field.values.length > 4">
                              <ui-select-match placeholder="Select options...">
                                <span>
                                  <span class="name">{{$select.selected.label}} - {{$select.selected.value}}</span>
                                </span>
                              </ui-select-match>
                              <ui-select-choices repeat="value in field.values | filter: $select.search">
                                  <span ng-bind-html="value.label | highlight: $select.selected.value"></span> <span ng-bind="'(' + value.value + ')'"></span>
                              </ui-select-choices>
                            </ui-select>

                            <div ng-if="field.values.length <= 4" class="button-group-select">
                            <div class="btn-group" ng-required="field.newRequired" >
                                <label class="btn btn-default btn-light" ng-model="data.thisRecord[field.key]" uib-btn-radio="{{value}}" uncheckable ng-repeat="value in field.values">{{value.label}} - {{value.value}}</label>
                            </div>
                            </div>
                          </div>

                              <!-- lookup -->
                              <div class="form-group" ng-switch-when="lookup" ng-class="{ 'has-error' : detailsForm[field.key].$invalid && !detailsForm[field.key].$pristine }">         
                              <label for="{{field.key}}" ng-bind="field.label"></label>
                                <input name="{{field.key}}" id="{{field.key}}" type="text" 
                                      ng-model="data.thisRecord[field.key]" 
                                      placeholder="Search..." 
                                      typeahead-editable="false"
                                      typeahead-on-select="saveData(field.key, data.thisRecord[field.key]);"
                                      uib-typeahead="entity as entity.name for entity in getLookupValue(null, field.lookupEntity, $viewValue)" 
                                      typeahead-loading="field.loadingValues" 
                                      typeahead-no-results="field.noResults" 
                                      typeahead-editable="false"
                                      typeahead-min-length="1" class="form-control"
                                      autocomplete="off"
                                      >

                                      <span ng-show="field.loadingValues">
                                        <i  class="wb-loop"></i>
                                        Searching...
                                      </span>
                                      <div ng-show="field.noResults" style="padding:10px 0;">
                                        No Records found matching search
                                      </div>

                              </div>
                              <!-- end form group -->


                           <div class="form-group" ng-switch-when="address"> 
                              <label for="{{field.key}}" ng-bind="field.label"></label>
                              <br>
                              <div class="address-list">
                              <div class="col-xs-6" ng-repeat="address in data.thisRecord[field.key]">
                                <address>
                                  <strong><icon class="fa fa-map-marker"></icon> 
                                  <span ng-bind="address.type['label'] || 'Address'"></span>
                                  </strong><br>
                                  <span class="address-body">
                                    <span ng-bind="address.address_line1" ng-if="address.address_line1"></span>
                                    <span ng-bind="address.address_line2" ng-if="address.address_line2"></span>
                                    <br>
                                    <span ng-bind="address.locality"></span>, <span ng-bind="address.region"></span> <span ng-bind="address.postal_code"></span><br>
                                    <span ng-bind="address.country"></span><br>
                                  </span>
                                  
                                   <button class="btn btn-sm btn-link editAddress" ng-click="editAddress(address, data.thisRecord[field.key])" uib-tooltip="Edit Address">
                                    <icon class="fa fa-pencil"></icon>
                                  </button>
                                  <button class="btn btn-sm btn-link removeAddress" ng-click="removeAddress(address, data.thisRecord[field.key])" uib-tooltip="Remove Address">
                                    <icon class="fa fa-trash"></icon>
                                  </button>
                                </address>
                              </div>
                              <!-- //add new -->
                              <div class="col-xs-6">
                                <div class="add-new-address" ng-click="addAddress(field)" tabindex="0">
                                  <icon class="fa fa-map-marker"></icon>
                                  <p>+ Add Address</p>
                                </div>
                              </div>
                            </div>
                            </div>


                             <!-- email inputs -->
                            <div class="form-group" ng-switch-when="email" ng-class="{ 'has-error' : detailsForm[field.key].$invalid && !detailsForm[field.key].$pristine }">
                              <label for="{{field.key}}" ng-bind="field.label"></label>

                                <div class="input-group array-input-wrapper" ng-repeat="email in data.thisRecord[field.key]">
                                  <div class="btn-group input-group-btn" uib-dropdown is-open="status.isopen">
                                    <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                                      <span ng-bind="email.type['label'] || data.emailTypes[$index]['label'] || data.emailTypes[0]['label']"></span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                      <li role="menuitem" ng-repeat="emailType in data.emailTypes"><a href ng-click="email.type = emailType">{{emailType.label}}</a></li>
                                    </ul>
                                  </div>
                                  <input name="{{field.key}}" type="email" class="form-control pull-left" ng-model="email.value" placeholder="email@example.com">   
                                  <div class="input-group-btn" ng-hide="$first">
                                  <button class="btn btn-default remove-input" ng-click="removeEmail(email, field)">
                                    <icon class="fa fa-close"></icon>
                                  </button>   
                                  </div>         
                                </div>
                                 <button class="btn btn-default array-input-add" ng-click="addEmail(field)">
                                  <icon class="fa fa-plus-circle"></icon> Add Email
                                </button>
                             </div>


                            <!-- phone inputs -->
                           <div class="form-group" ng-switch-when="phone" ng-class="{ 'has-error' : detailsForm[field.key].$invalid && !detailsForm[field.key].$pristine }">
                              <label for="{{field.key}}" ng-bind="field.label"></label>

                                <div class="input-group array-input-wrapper" ng-repeat="phone in data.thisRecord[field.key]">
                                  <div class="btn-group input-group-btn" uib-dropdown is-open="status.isopen">
                                    <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                                      <span ng-bind="phone.type['label'] || data.phoneTypes[$index]['label'] || data.phoneTypes[0]['label']"></span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                      <li role="menuitem" ng-repeat="phoneType in data.phoneTypes"><a href ng-click="phone.type = phoneType">{{phoneType.label}}</a></li>
                                    </ul>
                                  </div>
                                  <input name="{{field.key}}" type="text" class="form-control pull-left" ng-model="phone.value" ui-mask="(999) 999-9999 ext. ?9?9?9"  ui-mask-placeholder ui-mask-placeholder-char=" ">   
                                  <div class="input-group-btn" ng-hide="$first">
                                  <button class="btn btn-default remove-input" ng-click="removePhone(phone, field)">
                                    <icon class="fa fa-close"></icon>
                                  </button>   
                                  </div>         
                                </div>
                                 <button class="btn btn-default array-input-add" ng-click="addPhone(field)">
                                  <icon class="fa fa-plus-circle"></icon> Add Phone
                                </button>
                             </div>


                            <!-- social inputs -->
                           <div class="form-group" ng-switch-when="social" ng-class="{ 'has-error' : detailsForm[field.key].$invalid && !detailsForm[field.key].$pristine }">
                              <label for="{{field.key}}" ng-bind="field.label"></label>

                                <div class="input-group array-input-wrapper" ng-repeat="social in data.thisRecord[field.key]">
                                  <div class="btn-group input-group-btn" uib-dropdown is-open="status.isopen">
                                    <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                                      <span ng-bind="social.type['label'] || data.socialTypes[$index]['label'] || data.socialTypes[0]['label']"></span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                      <li role="menuitem" ng-repeat="socialType in data.socialTypes"><a href ng-click="social.type = socialType">{{socialType.label}}</a></li>
                                    </ul>
                                  </div>
                                  <input name="{{field.key}}" type="text" class="form-control pull-left" ng-model="social.value" ui-mask="{{social.type['mask']}}"  ui-mask-placeholder ui-mask-placeholder-char=" ">   
                                  <div class="input-group-btn" ng-hide="$first">
                                  <button class="btn btn-default remove-input" ng-click="removeSocial(social, field)">
                                    <icon class="fa fa-close"></icon>
                                  </button>   
                                  </div>         
                                </div>
                                 <button class="btn btn-default array-input-add" ng-click="addSocial(field)">
                                  <icon class="fa fa-plus-circle"></icon> Add Social
                                </button>
                             </div>

                          </div>

                    </form>