  <!-- sidebar overlay -->
    <div class="sidepanel">

        <!-- sidebar overlay -->
        <div class="sidebar-overlay" ng-class="{'hidden': data.activated }">
            <div class="loop-loader loop-loader-xs fadeInOut centered">Loading...</div>
        </div>

        <div class="sidepanel-header edit-header text-center">
            <a class="btn btn-link btn-left" ng-click="returnToDetails()">
                Cancel
            </a>
              <h5>Edit {{data.currentEntity}}</h5>
            <div class="pull-right edit-header-right">
              <button class="btn btn-success save-record" ng-click="save()">
                  Save
              </button>
            </div>
        </div>
        <div class="sidepanel-edit">

           <div class="row" ng-class="{'hidden': !data.activated }">
              <div class="sidebar-section">


               <span ng-include="'shared/templates/details-form.tpl.html'"></span>
              
             
              </div>
          </div>

       </div>
</div>
