 <div class="row">
            
                      <!-- field repeat -->
                         <div ng-class="field.newClass || 'col-xs-12'" ng-repeat="field in data.fields | filter: showFieldFilter" ng-switch="field.type" ng-if="field.excludeNew !== true">

                                  <!-- divider -->
                            <div class="form-group" ng-switch-when="divider">
                              <h5 class="pane-title">{{field.label}}
                              <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                              </h5>
                            </div>

                             <!-- string -->
                             <div class="form-group" ng-switch-when="string" ng-class="{ 'has-error' : newRecordFormForm.{{field.key}}.$invalid && !newRecordFormForm.{{field.key}}.$pristine }">
                              <label for="{{field.key}}">
                                <span ng-bind="field.label"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                                <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                              </label>
                              <input name="{{field.key}}" type="text" class="form-control" id="{{field.key}}" placeholder="" ng-model="data.thisRecord[field.key]" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled" ng-required="field.newRequired" >
                            </div>

                            <!-- textarea -->
                             <div class="form-group" ng-switch-when="textarea" ng-class="{ 'has-error' : newRecordFormForm.{{field.key}}.$invalid && !newRecordFormForm.{{field.key}}.$pristine }">
                              <label for="{{field.key}}">
                                <span ng-bind="field.label"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                                <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                              </label>
                              <textarea class="form-control" ng-model="data.thisRecord.description" msd-elastic style="min-height:120px;"
                                    id="{{field.key}}" placeholder="" ng-model="data.thisRecord[field.key]" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled" ng-required="field.newRequired"></textarea>
                             </div>


                            <!-- domain -->
                             <div class="form-group" ng-switch-when="domain" ng-class="{ 'has-error' : newRecordFormForm.{{field.key}}.$invalid && !newRecordFormForm.{{field.key}}.$pristine }">
                              <label for="{{field.key}}">
                                <span ng-bind="field.label"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                                <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                              </label>
                              <div class="input-group">
                                <span class="input-group-addon">http(s)://</span>
                                 <input name="{{field.key}}" type="text" class="form-control" id="{{field.key}}" placeholder="" ng-model="data.thisRecord[field.key]" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled" ng-required="field.newRequired" >
                              </div>
                              
                              <div class="domain-suggestion" ng-if="data.domainSuggestions.length">
                                <p><small>Suggested domains:</small></p>
                                <span class="tag tag-info rounded" ng-repeat="suggestion in data.domainSuggestions | limitTo: 5" ng-click="data.thisRecord[field.key] = suggestion.domain; data.domainSuggestions = [];">
                                  <span ng-bind="suggestion.domain"></span>
                                </span>
                              </div>
                             
                            </div>

                              <!-- number -->
                             <div class="form-group" ng-switch-when="number">
                              <label for="{{field.key}}">
                              <span ng-bind="field.label + ' (123)'"></span>
                              <span class="required-field" ng-if="field.newRequired">*</span>
                              <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                              </label>
                              <input type="number" class="form-control" name="valueInputCurrency" ng-model="data.thisRecord[field.key]" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled" ng-required="field.newRequired" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                            </div>

                            <!-- currency -->
                             <div class="form-group" ng-switch-when="currency">
                              <label for="{{field.key}}">
                                <span ng-bind="field.label + ' ($)'"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                                <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                              </label>
                              <input type="number" class="form-control" name="valueInputCurrency" ng-model="data.thisRecord[field.key]" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled" ng-required="field.newRequired" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                            </div>

                            <!-- date -->
                             <div class="form-group" ng-switch-when="date">
                              <label for="{{field.key}}">
                                <span ng-bind="field.label"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                              </label>
                              <input name="{{field.key}}" date-range-picker class="form-control date-picker" id="{{field.key}}" placeholder="" ng-model="data.thisRecord[field.key]" options="$root.options" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled" ng-required="field.newRequired" >
                            </div>


                             <!-- boolean -->
                              <div class="form-group" ng-switch-when="boolean">
                                <input class="magic-checkbox" type="checkbox" name="layout" id="{{field.key}}" ng-model="data.thisRecord[field.key]">
                                <label class="text" for="{{field.key}}">
                                    {{field.label}}
                                </label>
                              </div>

                            <!-- picklists -->
                            <div class="form-group" ng-switch-when="category">
                            <label for="{{field.key}}">
                              <span ng-bind="field.label"></span>
                              <span class="required-field" ng-if="field.newRequired">*</span>
                              <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                            </label>

                            <ui-select name="{{field.key}}" ng-model="data.thisRecord[field.key]" ng-disabled="field.disabled" ng-required="field.newRequired"  ng-if="field.values.length > 4">
                              <ui-select-match placeholder="Select options...">
                                <span>
                                  <span class="name">{{$select.selected.label}}</span>
                                </span>
                              </ui-select-match>
                              <ui-select-choices repeat="value in field.values | filter: $select.search">
                                  <span ng-bind-html="value.label | highlight: $select.selected.value"></span>
                              </ui-select-choices>
                            </ui-select>

                            <div ng-if="field.values.length <= 4" class="button-group-select">
                            <div class="btn-group" ng-required="field.newRequired" >
                                <label class="btn btn-default btn-light" ng-model="data.thisRecord[field.key]" uib-btn-radio="{{value}}" uncheckable ng-repeat="value in field.values">{{value.label}}</label>
                            </div>
                            </div>


                            </div>


                            <!-- mixed select -->
                            <div class="form-group" ng-switch-when="mixed-select">
                            <label for="{{field.key}}">
                              <span ng-bind="field.label"></span>
                              <span class="required-field" ng-if="field.newRequired">*</span>
                              <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                            </label>

                            <ui-select name="{{field.key}}" ng-model="data.thisRecord[field.key]" ng-disabled="field.disabled" ng-required="field.newRequired"  ng-if="field.values.length > 4">
                              <ui-select-match placeholder="Select options...">
                                <span>
                                  <span class="name">{{$select.selected.label}} - {{$select.selected.value}}</span>
                                </span>
                              </ui-select-match>
                              <ui-select-choices repeat="value in field.values | filter: $select.search">
                                  <span ng-bind-html="value.label | highlight: $select.selected.value"></span> <span ng-bind="'(' + value.value + ')'"></span>
                              </ui-select-choices>
                            </ui-select>

                            <div ng-if="field.values.length <= 4" class="button-group-select">
                            <div class="btn-group" ng-required="field.newRequired" >
                                <label class="btn btn-default btn-light" ng-model="data.thisRecord[field.key]" uib-btn-radio="{{value}}" uncheckable ng-repeat="value in field.values">{{value.label}} - {{value.value}}</label>
                            </div>
                            </div>
                          </div>

                            <!-- lookup -->
                              <div class="form-group"  ng-switch-when="lookup"  ng-class="{ 'has-error' : (newRecordFormForm.{{field.key}}.$invalid && !newRecordFormForm.{{field.key}}.$pristine) || (field.noResults && field.newRequired) }">
                                <label for="{{field.key}}">
                                <span ng-bind="field.label"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                                <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                              </label>
                                <div class="single-select"  ng-class="{'hasValue': data.thisRecord[field.key]}">
                                    <ui-select allow-clear="true" ng-model="data.thisRecord[field.key]" theme="bootstrap">
                                       <ui-select-match placeholder="Search...">
                                                <span ng-switch="field.lookupEntity">
                                                    <!-- contact / user -->
                                                    <span ng-switch-when="Contact|Appuser" ng-switch-when-separator="|">
                                                      <div class="avatar avatar-16">
                                                      <span ng-bind="$select.selected.firstName | limitTo:1"></span><span ng-bind="$select.selected.lastName | limitTo:1"></span>
                                                      </div>
                                                      <span ng-bind="$select.selected.firstName"></span> <span ng-bind="$select.selected.lastName"></span>
                                                    </span>
                                                    <!-- company -->
                                                    <span ng-switch-when="Company" ng-switch-when-separator="|">
                                                      <div class="avatar avatar-16 square">
                                                      <span ng-bind="$select.selected.name | limitTo:1"></span> 
                                                      </div>
                                                      <span ng-bind="$select.selected.name"></span>
                                                    </span>
                                                    <!-- opportunity -->
                                                    <span ng-switch-when="Opportunity" ng-switch-when-separator="|">
                                                        <span ng-bind="$select.selected.name"></span>
                                                    </span>
                                                    <!-- tag -->
                                                    <span ng-switch-when="Tag" ng-switch-when-separator="|">
                                                        <span ng-bind="$select.selected.name"></span>
                                                    </span>
                                                    <!-- default -->
                                                    <span ng-switch-default>
                                                        <span ng-bind="$select.selected.name"></span>
                                                    </span>
                                                </span>
                                              </ui-select-match>
                                              <ui-select-choices repeat="item in data.lookupResults | orderBy:['name', 'firstName'] track by $index" refresh="getLookupValue(null, field.lookupEntity, $select.search)"" refresh-delay="0" group-by="'field.lookupEntity'" minimum-input-length="1">
                                                        <span ng-switch="field.lookupEntity">
                                                        <!-- Contact/User -->
                                                        <span ng-switch-when="Contact|Appuser" ng-switch-when-separator="|">
                                                            <div class="avatar avatar-24">
                                                              <span ng-bind="item.firstName | limitTo: 1"></span><span ng-bind="item.lastName | limitTo: 1"></span>
                                                            </div>
                                                            <span ng-bind-html="item.firstName | highlight: $select.search"></span> <span ng-bind-html="item.lastName | highlight: $select.search"></span>
                                                            <span class="text-light"><small ng-bind-html="item.email"></small></span>
                                                        </span>
                                                        <!-- COMPANY -->
                                                        <span ng-switch-when="Company" ng-switch-when-separator="|">
                                                          <div class="avatar avatar-24 square">
                                                            <span ng-bind="item.name | limitTo:1"></span>
                                                          </div>
                                                          <span ng-bind-html="item.name | highlight: $select.search"></span>
                                                          <span ng-bind-html="item.domain | highlight: $select.search"></span>
                                                        </span>
                                                        <!-- Opportunity -->
                                                        <span ng-switch-when="Opportunity" ng-switch-when-separator="|">
                                                          <span ng-bind-html="item.name | highlight: $select.search"></span>
                                                          <span ng-bind-html="getPrimaryCompany(item) || 'No Primary Company' | highlight: $select.search"></span>
                                                        </span>
                                                        <!-- tag -->
                                                        <span ng-switch-when="Tag" ng-switch-when-separator="|">
                                                          <span ng-bind-html="item.name | highlight: $select.search"></span>
                                                        </span>
                                                        <!-- default -->
                                                        <span ng-switch-default>
                                                          <span ng-bind-html="item.name | highlight: $select.search"></span>
                                                        </span>
                                                      
                                                      </span>
                                                      </ui-select-choices>
                                                       <ui-select-no-choice>
                                                        <span class="loading" ng-if="data.loadingResults">
                                                            <div class="loop-loader loop-loader-xs">Loading...</div>
                                                          </span>
                                                            <span class="no-results" ng-if="!(data.lookupResults | filter: $select.search).length && !data.serverError && !data.loadingResults && $select.search">
                                                          No Results Found Matching <b>"{{$select.search}}"</b>
                                                          </span>
                                                          <span class="server-error" ng-if="!(data.lookupResults | filter: $select.search).length && data.serverError && !data.loadingResults">
                                                            The servier did not respond
                                                            <br>
                                                            <button class="btn btn-default">Retry</button>
                                                          </span>
                                                        </ui-select-no-choice>
                                    </ui-select>
                                  </div>
                              </div>


                              <div class="form-group" ng-switch-when="address"> 
                              <label for="{{field.key}}" ng-bind="field.label"></label>
                              <br>
                              <div class="address-list">
                              <div class="col-xs-6" ng-repeat="address in data.thisRecord[field.key]">
                                <address>
                                  <strong><icon class="fa fa-map-marker"></icon> 
                                  <span ng-bind="address.label || 'Address'"></span>
                                  </strong><br>
                                  <span class="address-body">
                                    <span ng-bind="address.address_line1" ng-if="address.address_line1"></span>
                                    <span ng-bind="address.address_line2" ng-if="address.address_line2"></span>
                                    <br>
                                    <span ng-bind="address.locality"></span>, <span ng-bind="address.region"></span> <span ng-bind="address.postal_code"></span><br>
                                    <span ng-bind="address.country"></span><br>
                                  </span>
                                  
                                   <button class="btn btn-sm btn-link editAddress" ng-click="editAddress(address, data.thisRecord[field.key])" uib-tooltip="Edit Address">
                                    <icon class="fa fa-pencil"></icon>
                                  </button>
                                  <button class="btn btn-sm btn-link removeAddress" ng-click="removeAddress(address, data.thisRecord[field.key])" uib-tooltip="Remove Address">
                                    <icon class="fa fa-trash"></icon>
                                  </button>
                                </address>
                              </div>
                              <!-- //add new -->
                              <div class="col-xs-6">
                                <div class="add-new-address" ng-click="addAddress(field)">
                                  <icon class="fa fa-map-marker"></icon>
                                  <p>+ Add Address</p>
                                </div>
                              </div>
                            </div>
                            </div>


                             <!-- email inputs -->
                            <div class="form-group" ng-switch-when="email">
                              <label for="{{field.key}}" ng-bind="field.label"></label>

                                <div class="input-group array-input-wrapper" ng-repeat="email in data.thisRecord[field.key]">
                                  <div class="btn-group input-group-btn" uib-dropdown is-open="status.isopen">
                                    <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                                      <span ng-bind="email.type['label'] || data.emailTypes[$index]['label'] || data.emailTypes[0]['label']"></span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                      <li role="menuitem" ng-repeat="emailType in data.emailTypes"><a href ng-click="email.type = emailType">{{emailType.label}}</a></li>
                                    </ul>
                                  </div>
                                  <input type="text" class="form-control pull-left" ng-model="email.value">   
                                  <div class="input-group-btn" ng-hide="$first">
                                  <button class="btn btn-default remove-input" ng-click="removeSocial(email, field)">
                                    <icon class="fa fa-close"></icon>
                                  </button>   
                                  </div>         
                                </div>
                                 <button class="btn btn-default array-input-add" ng-click="addEmail(field)">
                                  <icon class="fa fa-plus-circle"></icon> Add Email
                                </button>
                             </div>


                            <!-- phone inputs -->
                            <div class="form-group" ng-switch-when="phone">
                              <label for="{{field.key}}" ng-bind="field.label"></label>

                                <div class="input-group array-input-wrapper" ng-repeat="phone in data.thisRecord[field.key]">
                                  <div class="btn-group input-group-btn" uib-dropdown is-open="status.isopen">
                                    <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                                      <span ng-bind="phone.type['label'] || data.phoneTypes[$index]['label'] || data.phoneTypes[0]['label']"></span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                      <li role="menuitem" ng-repeat="phoneType in data.phoneTypes"><a href ng-click="phone.type = phoneType">{{phoneType.label}}</a></li>
                                    </ul>
                                  </div>
                                  <input type="text" class="form-control pull-left" ng-model="phone.value">   
                                  <div class="input-group-btn" ng-hide="$first">
                                  <button class="btn btn-default remove-input" ng-click="removeSocial(social, field)">
                                    <icon class="fa fa-close"></icon>
                                  </button>   
                                  </div>         
                                </div>
                                 <button class="btn btn-default array-input-add" ng-click="addPhone(field)">
                                  <icon class="fa fa-plus-circle"></icon> Add Phone
                                </button>
                             </div>


                            <!-- social inputs -->
                            <div class="form-group" ng-switch-when="social">
                              <label for="{{field.key}}" ng-bind="field.label"></label>

                                <div class="input-group array-input-wrapper" ng-repeat="phone in data.thisRecord[field.key]">
                                  <div class="btn-group input-group-btn" uib-dropdown is-open="status.isopen">
                                    <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                                      <span ng-bind="phone.type['label'] || data.socialTypes[$index]['label'] || data.socialTypes[0]['label']"></span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                      <li role="menuitem" ng-repeat="socialType in data.socialTypes"><a href ng-click="phone.type = socialType">{{socialType.label}}</a></li>
                                    </ul>
                                  </div>
                                  <input type="text" class="form-control pull-left" ng-model="phone.value">   
                                  <div class="input-group-btn" ng-hide="$first">
                                  <button class="btn btn-default remove-input" ng-click="removeSocial(social, field)">
                                    <icon class="fa fa-close"></icon>
                                  </button>   
                                  </div>         
                                </div>
                                <button class="btn btn-default array-input-add" ng-click="addSocial(field)">
                                  <icon class="fa fa-plus-circle"></icon> Add Social
                                </button>
                             </div>


                            <small ng-show="newRecordFormForm.{{field.key}}.$invalid && !newRecordFormForm.{{field.key}}.$pristine" class="help-block text-danger" style="margin-top:-10px;margin-bottom:10px;">{{field.label}} is required</small>

                        </div>

                  </div>


                                    <br>

                  <div class="row" ng-if="(data.customFields | filter: showFieldFilter).length">
                        <div class="col-xs-12">
                          <p class="subtitle">Custom Fields</p>
                        </div>

                        <!-- custom field -->
                         <!-- field repeat -->
                           <div class="col-xs-12" ng-repeat="field in data.customFields | filter: showFieldFilter" ng-switch="field.type" ng-if="field.excludeNew !== true">

                                  <!-- divider -->
                            <div class="form-group" ng-switch-when="divider">
                              <h5 class="pane-title">{{field.label}}
                              <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                            </h5>
                            </div>

                             <!-- string -->
                             <div class="form-group" ng-switch-when="string" ng-class="{ 'has-error' : newRecordFormForm.{{field.key}}.$invalid && !newRecordFormForm.{{field.key}}.$pristine }">
                              <label for="{{field.key}}">
                                <span ng-bind="field.label"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                                <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                              </label>
                              <input name="{{field.key}}" type="text" class="form-control" id="{{field.key}}" placeholder="" ng-model="data.thisRecord[field.key]" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled" ng-required="field.newRequired" >
                            </div>


                             <!-- textarea -->
                             <div class="form-group" ng-switch-when="textarea" ng-class="{ 'has-error' : newRecordFormForm.{{field.key}}.$invalid && !newRecordFormForm.{{field.key}}.$pristine }">
                              <label for="{{field.key}}">
                                <span ng-bind="field.label"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                                <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                              </label>
                              <textarea class="form-control" ng-model="data.thisRecord.description" msd-elastic style="min-height:120px;"
                                    id="{{field.key}}" placeholder="" ng-model="data.thisRecord[field.key]" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled" ng-required="field.newRequired"></textarea>
                             </div>


                            <!-- website -->
                             <div class="form-group" ng-switch-when="domain" ng-class="{ 'has-error' : newRecordFormForm.{{field.key}}.$invalid && !newRecordFormForm.{{field.key}}.$pristine }">
                              <label for="{{field.key}}">
                                <span ng-bind="field.label"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                                <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                              </label>
                              <div class="input-group">
                                <span class="input-group-addon">http(s)://</span>
                                 <input name="{{field.key}}" type="text" class="form-control" id="{{field.key}}" placeholder="" ng-model="data.thisRecord[field.key]" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled" ng-required="field.newRequired" >
                              </div>
                              
                              <div class="domain-suggestion" ng-if="data.domainSuggestions.length">
                                <p><small>Suggested domains:</small></p>
                                <span class="tag tag-info rounded" ng-repeat="suggestion in data.domainSuggestions | limitTo: 5" ng-click="data.thisRecord[field.key] = suggestion.domain; data.domainSuggestions = [];">
                                  <span ng-bind="suggestion.domain"></span>
                                </span>
                              </div>
                             
                            </div>

                              <!-- number -->
                             <div class="form-group" ng-switch-when="number">
                              <label for="{{field.key}}">
                              <span ng-bind="field.label + ' (123)'"></span>
                              <span class="required-field" ng-if="field.newRequired">*</span>
                              <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                              </label>
                              <input type="number" class="form-control" name="valueInputCurrency" ng-model="data.thisRecord[field.key]" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-required="field.newRequired" ng-disabled="field.disabled" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                            </div>

                            <!-- currency -->
                             <div class="form-group" ng-switch-when="currency">
                              <label for="{{field.key}}">
                                <span ng-bind="field.label + ' ($)'"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                                <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                              </label>
                              <input type="number" class="form-control" name="valueInputCurrency" ng-model="data.thisRecord[field.key]" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled" ng-required="field.newRequired" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                            </div>

                            <!-- date -->
                             <div class="form-group" ng-switch-when="date">
                              <label for="{{field.key}}">
                                <span ng-bind="field.label"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                                <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                              </label>
                              <input name="{{field.key}}" date-range-picker class="form-control date-picker" id="{{field.key}}" placeholder="" ng-model="data.thisRecord[field.key]" options="$root.options" change-on-blur="saveData(field.key, data.thisRecord[field.key])" ng-disabled="field.disabled" ng-required="field.newRequired" >
                            </div>

                             <!-- boolean -->
                              <div class="form-group" ng-switch-when="boolean">
                                <input class="magic-checkbox" type="checkbox" name="layout" id="{{field.key}}" ng-model="data.thisRecord[field.key]">
                                <label class="text" for="{{field.key}}">
                                    {{field.label}}
                                </label>
                              </div>

                            <!-- picklists -->
                            <div class="form-group" ng-switch-when="category">
                            <label for="{{field.key}}">
                              <span ng-bind="field.label"></span>
                              <span class="required-field" ng-if="field.newRequired">*</span>
                              <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                            </label>

                            <ui-select name="{{field.key}}" ng-model="data.thisRecord[field.key]" ng-disabled="field.disabled" ng-required="field.newRequired"  ng-if="field.values.length > 4">
                              <ui-select-match placeholder="Select options...">
                                <span>
                                  <span class="name">{{$select.selected.label}}</span>
                                </span>
                              </ui-select-match>
                              <ui-select-choices repeat="value in field.values | filter: $select.search">
                                  <span ng-bind-html="value.label | highlight: $select.selected.value"></span>
                              </ui-select-choices>
                            </ui-select>

                            <div ng-if="field.values.length <= 4" class="button-group-select">
                            <div class="btn-group" ng-required="field.newRequired" >
                                <label class="btn btn-default btn-light" ng-model="data.thisRecord[field.key]" uib-btn-radio="{{value}}" uncheckable ng-repeat="value in field.values">{{value.label}}</label>
                            </div>
                            </div>


                            </div>


                           <!-- mixed select -->
                            <div class="form-group" ng-switch-when="mixed-select">
                            <label for="{{field.key}}">
                              <span ng-bind="field.label"></span>
                              <span class="required-field" ng-if="field.newRequired">*</span>
                              <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                            </label>

                            <ui-select name="{{field.key}}" ng-model="data.thisRecord[field.key]" ng-disabled="field.disabled" ng-required="field.newRequired"  ng-if="field.values.length > 4">
                              <ui-select-match placeholder="Select options...">
                                <span>
                                  <span class="name">{{$select.selected.label}} - {{$select.selected.value}}</span>
                                </span>
                              </ui-select-match>
                              <ui-select-choices repeat="value in field.values | filter: $select.search">
                                  <span ng-bind-html="value.label | highlight: $select.selected.value"></span> <span ng-bind="'(' + value.value + ')'"></span>
                              </ui-select-choices>
                            </ui-select>

                            <div ng-if="field.values.length <= 4" class="button-group-select">
                            <div class="btn-group" ng-required="field.newRequired" >
                                <label class="btn btn-default btn-light" ng-model="data.thisRecord[field.key]" uib-btn-radio="{{value}}" uncheckable ng-repeat="value in field.values">{{value.label}} - {{value.value}}</label>
                            </div>
                            </div>
                          </div>

                              <div class="form-group"  ng-switch-when="lookup"  ng-class="{ 'has-error' : (newRecordFormForm.{{field.key}}.$invalid && !newRecordFormForm.{{field.key}}.$pristine) || (field.noResults && field.newRequired) }">
                                <label for="{{field.key}}">
                                <span ng-bind="field.label"></span>
                                <span class="required-field" ng-if="field.newRequired">*</span>
                                <span class="field-description" ng-if="field.description"><icon class="wb-info-circle" uib-tooltip="{{field.description}}" tooltip-popup-delay="250"></icon></span>
                              </label>
                                <div class="single-select" ng-class="{'hasValue': data.thisRecord[field.key]}">
                                    <ui-select allow-clear="true" ng-model="data.thisRecord[field.key]" theme="bootstrap">
                                       <ui-select-match placeholder="Search...">
                                                <span ng-switch="field.lookupEntity">
                                                    <!-- contact / user -->
                                                    <span ng-switch-when="Contact|Appuser" ng-switch-when-separator="|">
                                                      <div class="avatar avatar-16">
                                                      <span ng-bind="$select.selected.firstName | limitTo:1"></span><span ng-bind="$select.selected.lastName | limitTo:1"></span>
                                                      </div>
                                                      <span ng-bind="$select.selected.firstName"></span> <span ng-bind="$select.selected.lastName"></span>
                                                    </span>
                                                    <!-- company -->
                                                    <span ng-switch-when="Company" ng-switch-when-separator="|">
                                                      <div class="avatar avatar-16 square">
                                                      <span ng-bind="$select.selected.name | limitTo:1"></span> 
                                                      </div>
                                                      <span ng-bind="$select.selected.name"></span>
                                                    </span>
                                                    <!-- opportunity -->
                                                    <span ng-switch-when="Opportunity" ng-switch-when-separator="|">
                                                        <span ng-bind="$select.selected.name"></span>
                                                    </span>
                                                    <!-- tag -->
                                                    <span ng-switch-when="Tag" ng-switch-when-separator="|">
                                                        <span ng-bind="$select.selected.name"></span>
                                                    </span>
                                                    <!-- default -->
                                                    <span ng-switch-default>
                                                        <span ng-bind="$select.selected.name"></span>
                                                    </span>
                                                </span>
                                              </ui-select-match>
                                              <ui-select-choices repeat="item in data.lookupResults | orderBy:['name', 'firstName'] track by $index" refresh="getLookupValue(null, field.lookupEntity, $select.search)"" refresh-delay="0" group-by="'field.lookupEntity'" minimum-input-length="1">
                                                        <span ng-switch="field.lookupEntity">
                                                        <!-- Contact/User -->
                                                        <span ng-switch-when="Contact|Appuser" ng-switch-when-separator="|">
                                                            <div class="avatar avatar-24">
                                                              <span ng-bind="item.firstName | limitTo: 1"></span><span ng-bind="item.lastName | limitTo: 1"></span>
                                                            </div>
                                                            <span ng-bind-html="item.firstName | highlight: $select.search"></span> <span ng-bind-html="item.lastName | highlight: $select.search"></span>
                                                            <span class="text-light"><small ng-bind-html="item.email"></small></span>
                                                        </span>
                                                        <!-- COMPANY -->
                                                        <span ng-switch-when="Company" ng-switch-when-separator="|">
                                                          <div class="avatar avatar-24 square">
                                                            <span ng-bind="item.name | limitTo:1"></span>
                                                          </div>
                                                          <span ng-bind-html="item.name | highlight: $select.search"></span>
                                                          <span ng-bind-html="item.domain | highlight: $select.search"></span>
                                                        </span>
                                                        <!-- Opportunity -->
                                                        <span ng-switch-when="Opportunity" ng-switch-when-separator="|">
                                                          <span ng-bind-html="item.name | highlight: $select.search"></span>
                                                          <span ng-bind-html="getPrimaryCompany(item) || 'No Primary Company' | highlight: $select.search"></span>
                                                        </span>
                                                        <!-- tag -->
                                                        <span ng-switch-when="Tag" ng-switch-when-separator="|">
                                                          <span ng-bind-html="item.name | highlight: $select.search"></span>
                                                        </span>
                                                        <!-- default -->
                                                        <span ng-switch-default>
                                                          <span ng-bind-html="item.name | highlight: $select.search"></span>
                                                        </span>
                                                      
                                                      </span>
                                                      </ui-select-choices>
                                                     <ui-select-no-choice>
                                                            <span class="loading" ng-if="data.loadingResults">
                                                                  <div class="loop-loader loop-loader-xs">Loading...</div>
                                                                </span>
                                                                <span class="no-results" ng-if="!(data.lookupResults | filter: $select.search).length && !data.serverError && !data.loadingResults">
                                                          No Results Found Matching <b>"{{$select.search}}"</b>
                                                          </span>
                                                          <span class="server-error" ng-if="!(data.lookupResults | filter: $select.search).length && data.serverError && !data.loadingResults">
                                                            The servier did not respond
                                                            <br>
                                                            <button class="btn btn-default">Retry</button>
                                                          </span>
                                                        </ui-select-no-choice>
                                    </ui-select>
                                  </div>
                              </div>

                            <small ng-show="newRecordFormForm.{{field.key}}.$invalid && !newRecordFormForm.{{field.key}}.$pristine" class="help-block text-danger" style="margin-top:-10px;margin-bottom:10px;">{{field.label}} is ng-required="field.newRequired" .</small>

                        </div>
                    </div>


