

<!-- scores -->
<div class="pane-wrapper opp-insights-overview">
	<div class="pane ">

		<div class="row">
          <div class="col-xs-4">
            <p ng-if="data.oppStatus !== 'Won' && data.oppStatus !== 'Lost'" class="days go" ng-class="{'low': data.thisRecord.insights.daysToClose < 15, 'med': data.thisRecord.insights.daysToClose < 43, 'high': data.thisRecord.insights.daysToClose >= 43 }" ng-bind="data.thisRecord.insights.daysToClose || '--'"></p>
            <p class="days go low" ng-if="data.oppStatus == 'Lost'" class="color-ruby">Lost</p>
            <p class="days go high" ng-if="data.oppStatus == 'Won'" class="color-emerald">Won</p>
            <br>
            <span>Days To Close</span>
          </div>
          <div class="col-xs-4 opp-insights-size">
            <p class="size" ng-class="{'won': data.oppStatus == 'Won', 'lost': data.oppStatus == 'Lost'}" ng-bind="data.thisRecord.insights.size || '--'"></p>
            <br>
            <span>Opportunity Size</span>
          </div>
          <div class="col-xs-4">
            <p ng-if="data.oppStatus !== 'Won' && data.oppStatus !== 'Lost'" class="score" ng-class="{'low': data.thisRecord.insights.score < 41, 'med': data.thisRecord.insights.score < 71, 'high': data.thisRecord.insights.score < 101}" ng-bind="data.thisRecord.insights.score || '--'"></p>
            <p ng-if="data.oppStatus == 'Lost'" class="score low">0</p>
            <p ng-if="data.oppStatus == 'Won'" class="score high">100</p>
            <br>
            <span>Smart Score</span>
          </div>
        </div>

	</div>
</div>

<!-- details -->
<div class="sidebar-section">
<p class="sidepanel-title">Forecast Summary</p>
<div class="pane-wrapper forecast-insights" >
	<ul class="list-group">
        <li class="list-group-item">
          Current Forecast
          <span class="pull-right" ng-bind="data.thisRecord.forecast.value || '--'"></span>
        </li>
         <li class="list-group-item">
          Previous Forecast
          <span class="pull-right" ng-bind="data.thisRecord.forecast.value || '--'"></span>
        </li>
    		<li class="list-group-item">
              Forecast Last Updated
              <span class="pull-right">Mar 5, 2017</span>
        </li>
        <li class="list-group-item">
              Forecast Changes
              <span class="pull-right">5</span>
        </li>
        </ul>
</div>
</div>


<!-- details -->
<div class="sidebar-section">
<p class="sidepanel-title">Sales Process Summary</p>
<div class="pane-wrapper process-insights" >

	<ul class="list-group">
        <li class="list-group-item">
          Current Stage
          <span class="pull-right" ng-bind="data.thisRecord.stage.value + ' [' + data.thisRecord.stage.score + '%]' || '--'"></span>

        </li>
        <li class="list-group-item">
          Days in the Current Stage
          <ng-pluralize class="pull-right" count="data.thisRecord.insights.daysInStage"
                when="{'0': '0 days ago',
                       'one': '1 day ago',
                       '--': '--',
                       'other': '{} days ago'}">
          </ng-pluralize>
        </li>
         <li class="list-group-item">
          Last Update
          <ng-pluralize class="pull-right" count="data.thisRecord.insights.lastUpdate"
                when="{'0': '0 days ago',
                       'one': '1 day ago',
                       '--': '--',
                       'other': '{} days ago'}">
          </ng-pluralize>
        </li>
        <li class="list-group-item">
          Days Since Creation
          <ng-pluralize class="pull-right" count="data.thisRecord.insights.daysSinceCreation"
                when="{'0': '0 days ago',
                       'one': '1 day ago',
                       '--': '--',
                       'other': '{} days ago'}">
          </ng-pluralize>

        </li>
        <li class="list-group-item">
          Funding Org Opportunities
          <span class="pull-right" ng-bind="data.thisRecord.insights.companyOppOpenCount + ' - ' + (data.thisRecord.insights.companyOppOpenValue | currency:undefined:0) || '--'"></span>
        </li>
        <li class="list-group-item">
          Funding Org Closed in the last 12 Months
          <span class="pull-right" ng-bind="data.thisRecord.insights.companyOppWonCount + ' - ' + (data.thisRecord.insights.companyOppWonValue | currency:undefined:0) || '--'"></span>
        </li>
      </ul>
</div>
</div>


<div class="sidebar-section">
<p class="sidepanel-title">Activity Summary</p>
<div class="pane-wrapper">
		<ul class="list-group">
		  <li class="list-group-item">
		    Follow Ups
		    <span class="pull-right" ng-bind="data.thisRecord.insights.followUpCount || '0'"></span>
		  </li>
		  <li class="list-group-item">
		    Logged Calls
		    <span class="pull-right" ng-bind="data.thisRecord.insights.callCount || '0'"></span>
		  </li>
		  <li class="list-group-item">
		    Logged Meetings
		    <span class="pull-right" ng-bind="data.thisRecord.insights.meetingCount || '0'"></span>
		  </li>
		</ul>
</div>
</div>


<!-- //last note -->
<div class="sidebar-section">
  <p class="sidepanel-title">Last Note</p>

    <span class="empty-add" ng-if="!data.thisRecord.lastNote">
      <p class="empty-section">No Notes</p>
    </span>
</div>

<!-- //last activity -->
<div class="sidebar-section">
  <p class="sidepanel-title">Last Activity</p>

    <span class="empty-add" ng-if="!data.thisRecord.lastNote">
      <p class="empty-section">No Completed Activities</p>
    </span>
</div>

<!-- //next activity -->
<div class="sidebar-section">
  <p class="sidepanel-title">Next Activity</p>

    <span class="empty-add" ng-if="!data.thisRecord.lastNote">
      <p class="empty-section">No Upcoming Activities</p>
    </span>
</div>


<br>
