<div class="panel panel-default sidepanel-panel clear">	
	<div class="panel-body">
	
	<span ng-repeat="entityType in data.entityTypes" ng-if="entityType.plural !== 'Activities' && entityType.plural !== 'Forecasts'">
	<h5 class="sidepanel-title collapse-header" ng-class="{'first-title': $first}" ng-click="entityType.collapsed = !entityType.collapsed">
		{{entityType.plural}} (<span ng-bind="(data.thisRecord.entities | filter: {entityType: entityType.singular}).length || '0'"></span>)

		<span class="pull-right collapse-arrow">
		<icon class="wb-triangle-right" ng-if="entityType.collapsed"></icon>
		<icon class="wb-triangle-down" ng-if="!entityType.collapsed"></icon>
		</span>
	</h5>

	<div uib-collapse="entityType.collapsed">

	<span class="empty-add" ng-if="!(data.thisRecord.entities | filter: {entityType: entityType.singular}).length">
      <p class="empty-section">No Related {{entityType.plural}}</p>
    </span>


	<span ng-if="(data.thisRecord.entities | filter: {entityType: entityType.singular}).length" ng-repeat="relatedEntity in data.thisRecord.entities | filter: { entityType: entityType.singular }" ng-switch="entityType.singular">

		<!-- contact -->
		<div class="panel panel-default card contact-card related-card" ng-switch-when="Contact">
			<div class="panel-body" ng-click="goTo(relatedEntity.entityType, relatedEntity.entityId)">
				<div class="name-wrapper">
				<div class="avatar avatar-32" ng-class="relatedEntity.entity.color">
					<span class="initials" ng-bind="(relatedEntity.entity.firstName | limitTo:1)"></span><span class="initials" ng-bind="(relatedEntity.entity.lastName | limitTo:1)"></span>
				</div>
				<h4>
					<span ng-bind="relatedEntity.entity.firstName"></span>
					<span ng-bind="relatedEntity.entity.lastName"></span>
					<span ng-if="!relatedEntity.entity.firstName && !relatedEntity.entity.lastName">No Name</span>
				</h4>
				<p>
				<span ng-bind="relatedEntity.entity.title || 'No Title'"></span>
				</p>
				<p>
					<span ng-bind="primaryCompanyName(relatedEntity.entityLinks) || 'No Primary Company'"></span>
				</p>
				</div>
			</div>
			<div class="panel-footer" ng-if="relatedEntity.description" ng-click="viewRelationship(relatedEntity)">
				<span class="relationship">
				<img src="../assets/img/icons/actions/add-relationship.svg" alt="Relationship" uib-tooltip="This Describes the relationship between '{{relatedEntity.name}}' and '{{data.thisRecord.name}}'" tooltip-append-to-body="true"><span ng-bind="relatedEntity.description"></span>


			</div>
		</div>

		<!-- company -->
		<div class="panel panel-default card company-card related-card" ng-switch-when="Company">
			<div class="panel-body" ng-click="goTo(relatedEntity.entityType, relatedEntity.entityId)">
				<div class="name-wrapper">
				<div class="avatar avatar-32 square" ng-class="realtedEntity.entity.color">
					<span class="initials" ng-bind="(relatedEntity.entity.name | limitTo:1)"></span>
				</div>
				<h4>
					<span ng-bind="relatedEntity.entity.name || 'No Name'"></span>
				</h4>
				<p>
					<span ng-bind="relatedEntity.entity.description || 'No Description'"></span>
				</p>
				<p>
					<span ng-bind="relatedEntity.entity.domain || 'No Domain'"></span>
				</p>
				</div>
			</div>
			<div class="panel-footer" ng-if="relatedEntity.description" ng-click="viewRelationship(relatedEntity)">
				<span class="relationship">
				<img src="../assets/img/icons/actions/add-relationship.svg" alt="Relationship" uib-tooltip="This Describes the relationship between '{{relatedEntity.name}}' and '{{data.thisRecord.name}}'" tooltip-append-to-body="true"><span ng-bind="relatedEntity.description"></span>
				
			</div>
		</div>

		<!-- opportunity -->
		<div class="panel panel-default card opportunity-card related-card" ng-switch-when="Opportunity">
			<div class="panel-body" ng-click="goTo(relatedEntity.entityType, relatedEntity.entityId)">
				
				<div class="smartScore" feature-flag="--FF_SMARTSCORE--">
	                <span ng-bind="item.smartScore || '--'"></span>
	            </div>

				<div class="name-wrapper">
				<h4>
					<span ng-bind="relatedEntity.entity.name || 'No Name'"></span>
				</h4>
				<p>
					<span ng-bind="primaryCompanyName(relatedEntity.entityLinks) || 'No Primary Company'"></span>
				</p>
				</div>

				<div class="detail-wrapper">
					  <div class="row" style="margin-top:12px;">
                      <div class="col-xs-3 rich-card_padding">
                        <p class="card-subtitle">Value</p>
                        <p class="card-data opportunity-value">$<span ng-bind="relatedEntity.entity.value | number:0"></span></p>
                      </div>
                      <div class="col-xs-3 rich-card_padding">
                        <p class="card-subtitle">Est Close</p>
                        <p class="card-data opportunity-value">
                           <!----><span ng-if="relatedEntity.entity.status.value !== 'Won' &amp;&amp; relatedEntity.entity.status.value !== 'Lost'" class="opp-value open"><span ng-bind="relatedEntity.entity.estimatedClose | date:'mediumDate'"></span></span><!---->
                            <!---->
                            <!---->
                        </p>
                      </div>
                      <div class="col-xs-3 rich-card_padding">
                        <p class="card-subtitle">Stage</p>
                        <p class="card-data opportunity-value"><span ng-bind="relatedEntity.entity.stage.score"></span>%<span> - </span><span ng-bind="relatedEntity.entity.stage.value"></span></p>
                      </div>
                      <div class="col-xs-3 rich-card_padding">
                        <p class="card-subtitle">Forecast</p>
                        <p class="card-data opportunity-value"><span ng-bind="relatedEntity.entity.forecast.value"></span>%<span> - </span><span ng-bind="relatedEntity.entity.forecast.value"></span></p>
                      </div>
					</div>
				</div>

			</div>
			<div class="panel-footer" ng-if="relatedEntity.description" ng-click="viewRelationship(relatedEntity)">
				<span class="relationship">
				<img src="../assets/img/icons/actions/add-relationship.svg" alt="Relationship" uib-tooltip="This Describes the relationship between '{{relatedEntity.name}}' and '{{data.thisRecord.name}}'" tooltip-append-to-body="true"><span ng-bind="relatedEntity.description"></span>
				
			</div>
		</div>

		<!-- other entities go here -->
		
	</span>
	</span>

	</div>

  </div>
</div>


<!-- Files -->
<div class="panel panel-default sidepanel-panel clear" style="margin-top:-10px;">	
	<div class="panel-body">
	
	<h5 class="sidepanel-title collapse-header" ng-click="data.filesCollapsed = !data.filesCollapsed">
	Files (<span ng-bind="data.thisRecord.files.length || '0'"></span>)

	<span class="pull-right collapse-arrow">
		<icon class="wb-triangle-right" ng-if="data.filesCollapsed"></icon>
		<icon class="wb-triangle-down" ng-if="!data.filesCollapsed"></icon>
		</span>
	</h5>

	<div uib-collapse="data.filesCollapsed">

	<span class="empty-add" ng-if="!data.thisRecord.files.length">
      <p class="empty-section">No Files</p>
    </span>

	<!-- files cards -->
                    <div class="panel panel-default card file-card" ng-repeat="file in data.thisRecord.files | orderBy: 'createdOn' " ng-class="{'img-card': file.item.type == 'image/jpeg' || file.item.type == 'image/png'}" ng-mouseleave="file.isopen = false; console.log('mouseleave');">
                        <div class="panel-body">
                            <div class="name-wrapper">
                            <!-- img icon -->
                            <div class="file-icon" ng-if="file.item.type !== 'image/jpeg' && file.item.type !== 'image/png'">
                                <img ng-src="{{file.item.type | fileIcons}}" alt="{{file.item.type}}">
                            </div>
                            <!-- img preview -->
                            <div class="image-preview" ng-click="previewImage(file); $event.stopPropagation();" ng-if="file.item.type == 'image/jpeg' || file.item.type == 'image/png'">
                            <img ngf-thumbnail="file.url">
                            </div>
							
							<div class="name-wrapper">
                            <!-- details -->
                            <h4 ng-bind="file.item.name || '--'"></h4>
                            <p>
                                <span ng-if="file.item.size" ng-bind="file.size | bytes"></span> 
                                <span ng-if="file.item.size" class="spacer">·</span> 
                                <span ng-bind="file.item.type | fileTypes"></span>
                            </p>
                            <p class="uploaded" ng-bind="file.createdOn | date:'MMM d, y h:mm a'"></p>
                            </div>
                            </div>
                        </div>

                        <div class="card-actions">
                            <div class="btn-group" uib-dropdown is-open="file.isopen" uib-tooltip="More Actions" tooltip-enable="!file.isopen" ng-class="{'dropup': $last}">
                              <button id="single-button" type="button" class="btn btn-primary more-actions" uib-dropdown-toggle ng-disabled="disabled">
                                <icon class="wb-more-horizontal"></icon>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a ng-href={{file.url}} target="_blank">Open In New Window</a></li>
                                <li role="menuitem"><a href clipboard supported="supported" text="file.url" on-copied="copySuccess()" on-error="copyFail(err)">Copy Link</a></li>
                                <li role="menuitem"><a ng-href={{file.url}} download>Download</a></li>
                                <li class="divider" ng-if="file.createdBy.id == $root.activeUser.id"></li>
                                <li role="menuitem" class="text-danger" ng-if="file.createdBy.id == $root.activeUser.id"><a href ng-click="deleteFile(file)">Delete Files</a></li>
                              </ul>
                            </div>
                            <!-- star -->
                            <button class="btn btn-default star-item" uib-tooltip="Star">
                                <icon class="wb-star-outline"></icon>
                            </button>
                        </div>

    			</div>

		</div>
 	</div>
</div>

