<div class="login-wrapper">
	

	<div class="row">
		<!-- //carousel -->
		<div class="hidden-xs col-sm-7">
			<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
		        <img ng-src="{{slide.image}}" style="margin:auto;">
		        <div class="carousel-caption">
		          <h4>Slide {{slide.id}}</h4>
		          <p>{{slide.text}}</p>
		        </div>
		      </div>
		    </div>
		</div>
		<div class="col-xs-12 col-sm-5 login-page">
			<!-- //error messages -->
			<div class="callout callout-danger" ng-if="data.loginFailed" style="margin-top:0px;">
                  <p class="title" style="margin:0px;"><icon class="wb-warning"></icon> The email address or password you entered is incorrect.</p>
            </div>
			
			<!-- main login form -->
			<div class="page-login-main">
		        <h3 class="font-size-24">Interloop</h3>
		        <p>Welcome Back! Please Sign In.</p>
		        <br>

 				<form name="loginForm" class="login-form" ng-submit="login()">
                  <div class="form-group">
                    <label for="email">Sign in with your e-mail address</label>
                    <input type="email" class="email form-control" id="loginEmail" placeholder="you@example.com" ng-model="data.email" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Enter your password</label>
                    <input type="password" class="password form-control" id="loginPassword" placeholder="password" ng-model="data.password" required>
                  </div>


                  <!-- sign me in -->
                  <div class="checkbox-custom checkbox-primary checkbox-inline pull-left">
                    <input type="checkbox" id="remember" ng-model="data.rememberMe">
                    <label for="remember">Stay logged in</label>
                  </div>

                  <div class="pull-right">
                    <a ui-sref="forgot" class="forgot-password">Forgot your password?<span class="clearfix"></span></a> 
                  </div>


                  <div class="form-group" ng-if="$root.ELECTRON">
                    <label for="domain">App Url</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="submdoain" placeholder="domain" ng-model="data.domain" required>
                        <div class="input-group-addon">.interloop.ai</div>
                    </div>
                  </div>

                  <br>
                  <br>


                  <button style="margin-top:10px" class="submit btn btn-lg btn-primary btn-block" ladda="data.loginLoading" data-style="slide-up" data-spinner-color="#FFFFFF" ng-disabled="loginForm.$invalid" type="submit">Sign in <icon class="wb-arrow-right"></icon>
                  </button>
                </form>
				
				<br>
		        <footer class="page-copyright">
		          <p>Interloop Technologies, Inc.</p>
		          <p>© 2017. All RIGHT RESERVED.</p>
		          <div class="social">
			          <a href="https://twitter.com/interloophq" target="_blank">
			            <i class="icon fa fa-twitter" aria-hidden="true"></i>
			          </a>
			          <a href="https://www.linkedin.com/company/interloop-ai" target="_blank">
			            <i class="icon fa fa-linkedin" aria-hidden="true"></i>
			          </a>
			          <a href="https://www.facebook.com/InterloopHQ/" target="_blank">
			            <i class="icon fa fa-facebook" aria-hidden="true"></i>
			          </a>
		          </div>
		        </footer>
		      </div>
		</div>
	</div>


	    <div class="version-viewer">
          <p><span ng-bind="data.version"></span></p>
        </div>


</div>