<div class="loop-loader loop-loader-xs loop-loader-light centered" ng-class="{'hidden': data.activated}" style="z-index:999">Loading...</div>



		<div class="settings-container" ng-if="data.activated">

				<!-- import your data -->
				<div class="settings-section">
					<div class="settings-header">
					<h4>Custom Fields</h4>
					<p>Create and manage custom fields</p>
					<button class="btn btn-primary button-top new-users" ng-click="newCustomField()">+ Custom Field</button>
					</div>


					<div class="panel panel-default with-tabs">
						<div class="panel-heading">
						 	<ul class="nav nav-tabs" role="tablist">
							    <li ng-class="{'active': data.currentEntity == 'Opportunity'}">
							      <a href ng-click="changeEntity('Opportunity')">
							      	Opportunity
							      </a>
							    </li>
							    <li ng-class="{'active': data.currentEntity == 'Contact'}">
							      <a href ng-click="changeEntity('Contact')">
							      	Contact
							      </a>
							    </li>
							    <li ng-class="{'active': data.currentEntity == 'Company'}">
							      <a href ng-click="changeEntity('Company')">
							      	Company
							      </a>
							    </li>
							    <li ng-class="{'active': data.currentEntity == 'Activity'}">
							      <a href ng-click="changeEntity('Activity')">
							      	Activity
							      </a>
							    </li>
							</ul>
						</div>
						<div class="panel-body">
							<div class="loop-loader loop-loader-xs loop-loader-light centered" ng-class="{'hidden': !data.loading}" style="z-index:999">Loading...</div>

							  <table class="table settings-table" ng-if="data.customFields.length && !data.loading">
								    <thead>
								      <tr>
								        <th class="col-xs-3">Label</th>
					              	    <th class="col-xs-3">Key</th>
					              	    <th class="col-xs-3">Type</th>
					                    <th class="col-xs-2 text-center">Active</th>
					                    <th class="col-xs-1"></th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr ng-repeat="field in data.customFields">
								        <td>
								       	<p style="display:inline-block;" ng-bind="field.label || '--'"></p>      	
								        </td>
								        <td>
											<p ng-bind="field.key || '--'"></p>
								        </td>
								        <td>
											<p ng-bind="field.type || '--'"></p>
								        </td>
								        <td>
											<!-- if locked -->
								        	<span ng-if="field.locked" class="locked-item" uib-tooltip="This Field Is Required">
								        		<icon class="wb-lock"></icon>
								        	</span>
								        	<!-- //if can be activated -->
								        	<span class="toggle toggle-success" ng-if="!field.locked" uib-tooltip="Enable / Disable Field">
										        <input class="toggle-range" id="{{field.key}}" type="checkbox" ng-model="field.active" ng-change="save(field)">
										        <label class="toggle-btn" for="{{field.key}}" style="margin-left: 20px; margin-bottom:-5px;"></label>
									        </span>

								        </td>
								        <td>
								      	<button class="btn btn-default edit-label" ng-click="editField(field)" uib-tooltip="Edit Field">
								      		<icon class="fa fa-pencil"></icon>
								      	</button>
								      	<button class="btn btn-default edit-label" ng-click="deleteField(field)" uib-tooltip="Delete Field">
								      		<icon class="fa fa-trash"></icon>
								      	</button>
								      </td>
								      </tr>
								      
								    </tbody>
								  </table>



									  <div class="empty-state text-center" ng-if="!data.customFields.length && !data.loading">
									     	<h5>No Custom Fields</h5>
									     	<p>Custom fields allow you to track information relevant to your company</p>
									     	<button class="btn btn-primary" ng-click="newCustomField()">Create Custom Field</button>
									     </div>


						</div>
					</div>

				</div>
		</div>