<div class="loop-loader loop-loader-xs loop-loader-light centered" ng-class="{'hidden': data.activated}" style="z-index:999">Loading...</div>



		<div class="settings-container" ng-if="data.activated">

				<!-- import your data -->
				<div class="settings-section">
					<div class="settings-header">
					<h4>Forecasting</h4>
					<p>Manage your forecasting process with forecast categories & cadences</p>
					</div>

					<div class="panel panel-default with-tabs">
						<div class="panel-heading">
						 	<ul class="nav nav-tabs" role="tablist">
						 		<li ng-class="{'active': data.currentType == 'categories'}">
							      <a href ng-click="changeType('categories')">
							      	Categories ({{data.categories.length}})
							      </a>
							    </li>
							    <li ng-class="{'active': data.currentType == 'cadence'}">
							      <a href ng-click="changeType('cadence')">
							      	Cadence
							      </a>
							    </li>
							</ul>
						</div>
						<div class="panel-body">
						
						<!-- categories -->
						<span ng-if="data.currentType == 'categories'">
						  <table class="table settings-table">
						    <thead>
						      <tr>
						      	<th class="col-xs-2"></th>
						        <th class="col-xs-4">Name</th>
			              	    <th class="col-xs-3">Description</th>
			                    <th class="col-xs-3"></th>
						      </tr>
						    </thead>
						    <tbody>

						      <tr ng-repeat="category in data.categories">
								<td>
									<div class="change-order">
										<icon class="wb-triangle-down"></icon>
										<icon class="wb-triangle-up"></icon>
									</div>
								</td>
								<td class="plain">
									<span ng-bind="category.label"></span>
								</td>
								<td class="plain">
									<span ng-bind="category.description"></span>
								</td>
								<td class="text-right">
									<button class="btn btn-default" ng-click="editCategory(category)">
										<icon class="wb-edit"></icon>
									</button>
									<button class="btn btn-default" ng-click="deleteCategory(category)">
										<icon class="wb-trash"></icon>
									</button>
								</td>
						      </tr>
						    </tbody>
						  </table>
						</span>


						<!-- cadence -->
						<div ng-if="data.currentType == 'cadence'" style="padding:20px;">
							
							<div class="forecast-section">
							<h4>Enable Forecasting</h4>
							<p>Enabling Forecasting allows interloop to update and remind reps about forecasting their pipeline</p>

							<span class="toggle toggle-success" style="margin:0px;">
						        <input class="toggle-range" id="defaultToggle" type="checkbox" ng-model="data.forecastingEnabled" ng-change="enableDisableForecasting()">
						        <label class="toggle-btn" for="defaultToggle"></label>
					        </span>

					        <p><small>To Learn more about forecasting, view our <a href="">help article here</a>.</small></p>

							</div>


							<div class="forecast-section">
							<h4>Fiscal Year</h4>
							<p>When Does Your Fiscal Year Begin?</p>

							<div class="btn-group">
						        <label class="btn btn-primary btn-outline" ng-model="data.fiscalYearStart" uib-btn-radio="'1'">Jan</label>
						        <label class="btn btn-primary btn-outline" ng-model="data.fiscalYearStart" uib-btn-radio="'2'">Feb</label>
						        <label class="btn btn-primary btn-outline" ng-model="data.fiscalYearStart" uib-btn-radio="'3'">Mar</label>
						        <label class="btn btn-primary btn-outline" ng-model="data.fiscalYearStart" uib-btn-radio="'4'">Apr</label>
						        <label class="btn btn-primary btn-outline" ng-model="data.fiscalYearStart" uib-btn-radio="'5'">May</label>
						        <label class="btn btn-primary btn-outline" ng-model="data.fiscalYearStart" uib-btn-radio="'6'">Jun</label>
						        <label class="btn btn-primary btn-outline" ng-model="data.fiscalYearStart" uib-btn-radio="'7'">Jul</label>
						        <label class="btn btn-primary btn-outline" ng-model="data.fiscalYearStart" uib-btn-radio="'8'">Aug</label>
						        <label class="btn btn-primary btn-outline" ng-model="data.fiscalYearStart" uib-btn-radio="'9'">Sept</label>
						        <label class="btn btn-primary btn-outline" ng-model="data.fiscalYearStart" uib-btn-radio="'10'">Oct</label>
						        <label class="btn btn-primary btn-outline" ng-model="data.fiscalYearStart" uib-btn-radio="'11'">Nov</label>
						        <label class="btn btn-primary btn-outline" ng-model="data.fiscalYearStart" uib-btn-radio="'12'">Dec</label>
						    </div>

							</div>



							<div class="forecast-section">
							<h4>Forecast Cadence</h4>
							<p>What cadence would you like Interloop to request forecast submissions from users?</p>

							<div class="btn-group">
						        <label class="btn btn-primary btn-outline" ng-model="data.forecastCadence" uib-btn-radio="'Weekly'">Weekly</label>
						        <label class="btn btn-primary btn-outline" ng-model="data.forecastCadence" uib-btn-radio="'Monthly'">Monthly</label>
						        <label class="btn btn-primary btn-outline" ng-model="data.forecastCadence" uib-btn-radio="'Quarterly'">Quarterly</label>
						    </div>

							</div>

							<div class="forecast-section">
							<h4>Forecast Submission Day</h4>
							<p>Select day of the week that forecasts should be submitted within the forecasting period</p>

							<div class="btn-group">
						        <label class="btn btn-primary btn-outline" ng-model="data.forecastSubmissionDay" uib-btn-radio="'Mon'">Mon</label>
						        <label class="btn btn-primary btn-outline" ng-model="data.forecastSubmissionDay" uib-btn-radio="'Tues'">Tues</label>
						        <label class="btn btn-primary btn-outline" ng-model="data.forecastSubmissionDay" uib-btn-radio="'Web'">Wed</label>
						        <label class="btn btn-primary btn-outline" ng-model="data.forecastSubmissionDay" uib-btn-radio="'Thur'">Thur</label>
						        <label class="btn btn-primary btn-outline" ng-model="data.forecastSubmissionDay" uib-btn-radio="'Fri'">Fri</label>
						    </div>

							</div>

							<div class="forecast-section">
							<h4>Forecast Submission</h4>
							<p>Please Select a time when forecasts are due. At this point, forecasts will be auto-submitted if not reviewed and submitted by the reps</p>

							<ol id="singleSelection" class="nya-bs-select dropup" ng-model="model" data-size="5">
							  <li class="nya-bs-option" data-value="12AM">
							    <a>12:00 AM</a>
							  </li>
							  <li class="nya-bs-option" data-value="1AM">
							    <a>1:00 AM</a>
							  </li>
							  <li class="nya-bs-option" data-value="2AM">
							    <a>2:00 AM</a>
							  </li>
							    <li class="nya-bs-option" data-value="3AM">
							    <a>3:00 AM</a>
							  </li>
							    <li class="nya-bs-option" data-value="4AM">
							    <a>4:00 AM</a>
							  </li>
							    <li class="nya-bs-option" data-value="5AM">
							    <a>5:00 AM</a>
							  </li>
							    <li class="nya-bs-option" data-value="6AM">
							    <a>6:00 AM</a>
							  </li>
							    <li class="nya-bs-option" data-value="7AM">
							    <a>7:00 AM</a>
							  </li>
							    <li class="nya-bs-option" data-value="8AM">
							    <a>8:00 AM</a>
							  </li>
							    <li class="nya-bs-option" data-value="9AM">
							    <a>9:00 AM</a>
							  </li>
							    <li class="nya-bs-option" data-value="10AM">
							    <a>10:00 AM</a>
							  </li>
							    <li class="nya-bs-option" data-value="11AM">
							    <a>11:00 AM</a>
							  </li>
							    <li class="nya-bs-option" data-value="12PM">
							    <a>12:00 PM</a>
							  </li>
							    <li class="nya-bs-option" data-value="1PM">
							    <a>1:00 PM</a>
							  </li>
							  <li class="nya-bs-option" data-value="2PM">
							    <a>2:00 PM</a>
							  </li>
							  <li class="nya-bs-option" data-value="3PM">
							    <a>3:00 PM</a>
							  </li>
							  <li class="nya-bs-option" data-value="4PM">
							    <a>4:00 PM</a>
							  </li>
							  <li class="nya-bs-option" data-value="5PM">
							    <a>5:00 PM</a>
							  </li>
							  <li class="nya-bs-option" data-value="6PM">
							    <a>6:00 PM</a>
							  </li>
							  <li class="nya-bs-option" data-value="7PM">
							    <a>7:00 PM</a>
							  </li>
							  <li class="nya-bs-option" data-value="8PM">
							    <a>8:00 PM</a>
							  </li>
							  <li class="nya-bs-option" data-value="9PM">
							    <a>9:00 PM</a>
							  </li>
							  <li class="nya-bs-option" data-value="10PM">
							    <a>10:00 PM</a>
							  </li>
							  <li class="nya-bs-option" data-value="11PM">
							    <a>11:00 PM</a>
							  </li> 
							</ol>

							</div>
						</div>


				</div>
			</div>

		</div>
	


		</div>
	</div>
</div>
