
            <div class="sidepanel activity-panel">

               
                <!-- sidebar overlay -->
                <div class="sidebar-overlay" ng-class="{'hidden': data.activated }">
                    <div class="loop-loader loop-loader-xs fadeInOut centered">Loading...</div>
                </div>


                <div class="sidepanel-header">
                    <a class="btn btn-link btn-left" href ng-if="!data.sidebarHistory.length" ng-click="$root.sidePanelOpen = !$root.sidePanelOpen">
                        <img src="../assets/img/icons/states/close.svg" alt="Close">
                    </a>
                    <a class="btn btn-link btn-left" href ng-if="data.sidebarHistory.length" ng-click="goBack()">
                        <img src="../assets/img/icons/states/cheveron-left.svg" alt="Go Back">
                        Back
                    </a>
                    <!-- <span class="text-left">Activity</span> -->
                    <a class="btn btn-link edit-button" ui-sref="app.activity-edit({id: data.thisRecord.id})" ng-if="!data.thisRecord._isDeleted">
                        <icon class="fa fa-pencil"></icon> Edit
                    </a>

                    <button class="btn btn-primary btn-action" ng-click="unArchiveItem()" ng-class="{'hidden': !data.thisRecord._isDeleted }" ladda="$root.unarchiving" data-style="slide-up">
                        Un-Archive
                    </button>


                      <div class="btn-group btn-action" uib-dropdown is-open="$root.showActionMenu" dropdown-append-to-body="true" ng-class="{'hidden': data.thisRecord._isDeleted }">
                      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        Action<icon class="wb-triangle-down"></icon>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right action-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" keyboard-nav="true">
                      
                        <li class="text-divider">
                            <span class="text">Manage ...</span>
                            <span class="line"></span>
                        </li>
                        <li role="menuitem"><a href ng-click="addOwner()">
                          <img src="../assets/img/icons/actions/add-owner.svg" alt="Add Owner"> Owners</a></li>
                        <li role="menuitem"><a href ng-click="shareWith()">
                          <img src="../assets/img/icons/actions/share-with.svg" alt="Share With"> Shared With</a></li>
                        <li role="menuitem"><a href ng-click="manageRelationships()">
                          <img src="../assets/img/icons/actions/add-relationship.svg" alt="Add Relationship"> Related Records</a></li>
                        <li role="menuitem"><a href ng-click="manageTags()">
                          <img src="../assets/img/icons/actions/add-tag.svg" alt="Add Tag"> Tags</a></li>

                        <span ng-class="{'hidden': data.currentEntity == 'Activity'}">
                        <li class="text-divider">
                            <span class="text">Activities...</span>
                            <span class="line"></span>
                        </li>
                        
                        <li role="menuitem"><a href ng-click="addNote()">
                          <img src="../assets/img/icons/actions/new-note.svg" alt="Add Note"> Add Note</a></li>
                        <li role="menuitem"><a href ng-click="logCall()">
                          <img src="../assets/img/icons/actions/log-call.svg" alt="Log Call"> Add Call</a></li>
                        <li role="menuitem"><a href ng-click="addTask()">
                          <img src="../assets/img/icons/actions/new-task.svg" alt="Add Task"> Add ToDo</a></li>
                      
                        <!-- //custom activity types -->

                        <li role="menuitem"><a href ng-click="addActivity(activityType)" ng-repeat="activityType in $root.activityTypes | filter: {'custom': true}">
                          <img src="../assets/img/icons/actions/new-task.svg" alt="Add Task"> Add {{activityType.label}}</a></li>

                        
                        </span>

                        <li role="menuitem"><a href ng-click="triggerUpload()">
                          <img src="../assets/img/icons/actions/add-file.svg" alt="Upload File"> Upload File</a></li>
                         <li class="text-divider">
                            <span class="text">Owner Actions...</span>
                            <span class="line"></span>
                        </li>
                        <li role="menuitem">
                          <a class="text-danger" href ng-click="deleteItem()">
                            <img src="../assets/img/icons/actions/delete-record.svg" alt="Delete Record"> Delete Record</a>
                        </li>

                      </ul>
                    </div>


                    <button class="btn btn-default btn-right" popover-title="Link To This Record" popover-placement="bottom"  uib-popover-template="'shared/templates/share-link.tpl.html'" popover-trigger="outsideClick" popover-is-open="data.shareLinkOpen" ng-if="!data.thisRecord._isDeleted">
                        <icon class="fa fa-link"></icon>
                    </button>

                </div>
                <div class="sidepanel-cover" ng-class="{'hidden': !data.activated }">

                    <!-- //different activity types have different headers -->
                    <div class="name-wrapper">
                        
                        <!-- activity type indicators -->
                        <div class="activity-types" ng-switch="data.thisRecord.type">

                          <div class="avatar avatar-32 call-avatar tangerine " ng-switch-when="call"></div>
                          
                          <div class="avatar avatar-32 note-avatar clover " ng-switch-when="note"></div>

                          <div class="avatar avatar-32 email-avatar sky " ng-switch-when="email"></div>

                          <div class="avatar avatar-32 changelog-avatar " ng-switch-when="changelog"></div>

                          <div class="task-checkbox" ng-switch-when="todo">
                            <input class="magic-checkbox ng-scope" type="checkbox" id="toggle-1" ng-model="data.thisRecord.completed" ng-change="toggleActivity(data.thisRecord)">
                            <label class="text ng-scope" for="toggle-1"></label>
                          </div>

                          <div class="task-checkbox" ng-switch-default>
                            <input class="magic-checkbox ng-scope" type="checkbox" id="toggle-2" ng-model="data.thisRecord.completed" ng-change="toggleActivity(data.thisRecord)">
                            <label class="text ng-scope" for="toggle-2"></label>
                          </div>

                        </div>

                        <h4 title="{{data.thisRecord.title}}">
                            <span class="color-danger" ng-if="data.thisRecord._isDeleted">[DELETED] </span>
                            <span ng-bind="data.thisRecord.title || '--'"></span>
                        </h4>
                        <p>
                          <span ng-bind="(data.thisRecord.type | ucfirst) || '--'"></span>
                        </p>
                    </div>

                  
                </div>
                <div class="sidepanel-tabs">
                    <div class="tabs-wrapper">
                        <ul class="nav nav-tabs nav-justified">
                          <li ng-class="{ 'active': data.currentTab == 2 }"><a href ng-click="data.currentTab = 2">Details</a></li>
<!--                           <li ng-class="{ 'active': data.currentTab == 7 }"><a href ng-click="data.currentTab = 7">Milestones</a></li> -->
                          <li ng-class="{ 'active': data.currentTab == 4 }">
                            <a href ng-click="data.currentTab = 4">
                            Related
                          <span ng-bind="'[' + (data.thisRecord.entities.length + data.thisRecord.files.length) + ']'" ng-if="(data.thisRecord.entities.length + data.thisRecord.files.length) > 0"></span>
                          </a></li>
                        </ul>
                    </div>
                </div>
                <div class="sidepanel-content" ng-switch="data.currentTab">
                   <span ng-class="{'hidden': !data.activated }">
                      <span ng-switch-when="2">
                        <ng-include src="'shared/templates/details.tpl.html'"></ng-include>
                      </span>
                      <span ng-switch-when="4">
                        <ng-include src="'shared/templates/related.tpl.html'"></ng-include>
                      </span>
                    </span>

                </div>

            </div>



              <!-- //hidden file upload button -->
              <button id="ActivityFileUpload" type="file" ngf-select="uploadFiles($files)" ngf-multiple="true" accept="image/*, .pdf, .doc, .docx, .xlsx" class="btn upload-btn hidden" ng-model="data.files" ngf-max-size="100MB">
                Browse Files
              </button>


              <script type="text/ng-template" id="myPopoverTemplate.html">
                    <div class="form-group" style="width:250px;">
                      <label>Record Url:</label>
                      <input type="text" ng-model="data.copyUrl" class="form-control" readonly focus-select>
                      <br>
                      <label>Record ID:</label>
                      <input type="text" ng-model="data.thisRecord.id" class="form-control" readonly>
                    </div>
                    </div>
                </script>
