  <div class="modal-header header-dark">
            <h3 class="modal-title" id="modal-title">Log Call</h3>
            
            <!-- close button -->
            <button type="button" class="close" ng-click="$dismiss()">
                <icon class="wb-close-mini"></icon>
            </button>

        </div>
        <div class="modal-body w-padding" id="modal-body">


                    <form name="companyForm" novalidate>

                        <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <div class="single-select">
                                            <label for="">Call Type</label>
                                            <ui-select search-enabled="false" ng-model="data.call.type" theme="bootstrap">
                                              <ui-select-match placeholder="Choose a type">{{$select.selected.label}}
                                              </ui-select-match>
                                              <ui-select-choices repeat="item in data.callTypes | filter: $select.search">
                                                <span ng-bind-html="item.label | highlight: $select.search"></span>
                                              </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                      <label for="dueDate">
                                        Completed Date
                                      </label>
                                      <input name="dueDate" date-range-picker class="form-control date-picker" id="dueDate" placeholder="" ng-model="data.call.completedDate" options="$root.options4" >
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                   <div class="form-group">
                                    <label for="title">Description</label>
                                    <textarea class="form-control" rows="3" ng-model="data.call.description"
                                    ></textarea>
                                </div>
                              </div>
                          </div>

                    </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-subtle" ng-click="$dismiss()">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="ok()">Create</button>
        </div>